<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>FAQs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../assets/CSS/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../assets/CSS/css/metisMenu.css" />
    <link rel="stylesheet" href="../../assets/CSS/css/slicknav.min.css" />
    <link
      rel="shortcut icon"
      href="../../assets/images/ivoiceafrica logo 1.png"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <!-- amchart css -->
    <link
      rel="stylesheet"
      href="https://www.amcharts.com/lib/3/plugins/export/export.css"
      type="text/css"
      media="all"
    />
    <!-- others css -->
    <link rel="stylesheet" href="../../assets/CSS/css/typography.css" />
    <link rel="stylesheet" href="../../assets/CSS/css/default-css.css" />
    <link rel="stylesheet" href="../../assets/CSS/css/styles.css" />
    <link rel="stylesheet" href="../../assets/CSS/css/responsive.css" />

    <!-- modernizr css -->
    <script
      src="../../assets/JS/js/vendor/modernizr-2.8.3.min.js"
      defer
    ></script>
    <script src="../../assets/JS/js/scripts.js" defer></script>

    <script
      src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
      defer
    ></script>
  </head>

  <body>
    <div id="preloader">
      <div class="loader"></div>
    </div>
    <!-- preloader area end -->
    <!-- page container area start -->
    <div class="page-container">
      <!-- Header area start -->

      <div class="overlay"></div>
      
		<!-- top-nav start -->
		<div th:replace="fragments/main_topnav_freelancer :: topnavfreelancer"></div>
		<!-- top-nav end -->


		<!-- side-nav start -->
		<div th:replace="fragments/main_sidenav_freelancer :: sidenavfreelancer"></div>
		<!-- side-nav end -->

      <div class="main">
        <div class="main__headerbox">
          <h1>FAQS</h1>
        </div>

        <!-- job alerts area start -->

        <div class="main__contentbox">
          <div class="accordion-section">
            <div class="accordion-container">
              <div class="accordion-title d-flex align-items-center">
                <span class="material-symbols-outlined mr-2"> help </span>
                <span class="accordion-heading">Payment Structure</span>
              </div>

              <div class="accordion" id="accordion2">
                <div class="card">
                  <div class="card-header">
                    <a
                      class="accordion-toggle title"
                      data-toggle="collapse"
                      data-parent="#accordion2"
                      href="#collapseOne"
                    >
                      How is payment made?
                      <span
                        class="material-symbols-outlined rotate-icon accicon"
                      >
                        chevron_right
                      </span>
                    </a>
                  </div>
                  <div id="collapseOne" class="accordion-body in collapse">
                    <div class="card-body">
                      Yes. We are willing to sign a non-disclosure agreement
                      with our translators and clients for data protection.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <a
                      class="accordion-toggle title"
                      data-toggle="collapse"
                      data-parent="#accordion2"
                      href="#collapseTwo"
                    >
                      How is payment made?
                      <span
                        class="material-symbols-outlined rotate-icon accicon"
                      >
                        chevron_right
                      </span>
                    </a>
                  </div>
                  <div id="collapseTwo" class="accordion-body collapse">
                    <div class="card-body">
                      Yes. We are willing to sign a non-disclosure agreement
                      with our translators and clients for data protection.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <a
                      class="accordion-toggle title"
                      data-toggle="collapse"
                      data-parent="#accordion2"
                      href="#collapseThree"
                    >
                      How is payment made?
                      <span
                        class="material-symbols-outlined rotate-icon accicon"
                      >
                        chevron_right
                      </span>
                    </a>
                  </div>
                  <div id="collapseThree" class="accordion-body collapse">
                    <div class="card-body">
                      Yes. We are willing to sign a non-disclosure agreement
                      with our translators and clients for data protection.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <a
                      class="accordion-toggle title"
                      data-toggle="collapse"
                      data-parent="#accordion2"
                      href="#collapseFour"
                    >
                      How is payment made?
                      <span
                        class="material-symbols-outlined rotate-icon accicon"
                      >
                        chevron_right
                      </span>
                    </a>
                  </div>
                  <div id="collapseFour" class="accordion-body collapse">
                    <div class="card-body">
                      Yes. We are willing to sign a non-disclosure agreement
                      with our translators and clients for data protection.
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="accordion-container">
              <div class="accordion-title d-flex align-items-center">
                <span class="material-symbols-outlined mr-2"> help </span>
                <span class="accordion-heading">Privacy</span>
              </div>

              <div class="accordion3" id="accordion3">
                <div class="card">
                  <div class="card-header">
                    <a
                      class="accordion-toggle title"
                      data-toggle="collapse"
                      data-parent="#accordion3"
                      href="#collapse5"
                    >
                      How is payment made?
                      <span
                        class="material-symbols-outlined rotate-icon accicon"
                      >
                        chevron_right
                      </span>
                    </a>
                  </div>
                  <div id="collapse5" class="accordion-body in collapse">
                    <div class="card-body">
                      Yes. We are willing to sign a non-disclosure agreement
                      with our translators and clients for data protection.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <a
                      class="accordion-toggle title"
                      data-toggle="collapse"
                      data-parent="#accordion3"
                      href="#collapse6"
                    >
                      How is payment made?
                      <span
                        class="material-symbols-outlined rotate-icon accicon"
                      >
                        chevron_right
                      </span>
                    </a>
                  </div>
                  <div id="collapse6" class="accordion-body collapse">
                    <div class="card-body">
                      Yes. We are willing to sign a non-disclosure agreement
                      with our translators and clients for data protection.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <a
                      class="accordion-toggle title"
                      data-toggle="collapse"
                      data-parent="#accordion3"
                      href="#collapse7"
                    >
                      How is payment made?
                      <span
                        class="material-symbols-outlined rotate-icon accicon"
                      >
                        chevron_right
                      </span>
                    </a>
                  </div>
                  <div id="collapse7" class="accordion-body collapse">
                    <div class="card-body">
                      Yes. We are willing to sign a non-disclosure agreement
                      with our translators and clients for data protection.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <a
                      class="accordion-toggle title"
                      data-toggle="collapse"
                      data-parent="#accordion3"
                      href="#collapse8"
                    >
                      How is payment made?
                      <span
                        class="material-symbols-outlined rotate-icon accicon"
                      >
                        chevron_right
                      </span>
                    </a>
                  </div>
                  <div id="collapse8" class="accordion-body collapse">
                    <div class="card-body">
                      Yes. We are willing to sign a non-disclosure agreement
                      with our translators and clients for data protection.
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="accordion-container">
              <div class="accordion-title d-flex align-items-center">
                <span class="material-symbols-outlined mr-2"> help </span>
                <span class="accordion-heading">Trainings</span>
              </div>

              <div class="accordion4" id="accordion4">
                <div class="card">
                  <div class="card-header">
                    <a
                      class="accordion-toggle title"
                      data-toggle="collapse"
                      data-parent="#accordion4"
                      href="#collapse9"
                    >
                      How is payment made?
                      <span
                        class="material-symbols-outlined rotate-icon accicon"
                      >
                        chevron_right
                      </span>
                    </a>
                  </div>
                  <div id="collapse9" class="accordion-body in collapse">
                    <div class="card-body">
                      Yes. We are willing to sign a non-disclosure agreement
                      with our translators and clients for data protection.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <a
                      class="accordion-toggle title"
                      data-toggle="collapse"
                      data-parent="#accordion4"
                      href="#collapse10"
                    >
                      How is payment made?
                      <span
                        class="material-symbols-outlined rotate-icon accicon"
                      >
                        chevron_right
                      </span>
                    </a>
                  </div>
                  <div id="collapse10" class="accordion-body collapse">
                    <div class="card-body">
                      Yes. We are willing to sign a non-disclosure agreement
                      with our translators and clients for data protection.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <a
                      class="accordion-toggle title"
                      data-toggle="collapse"
                      data-parent="#accordion4"
                      href="#collapse11"
                    >
                      How is payment made?
                      <span
                        class="material-symbols-outlined rotate-icon accicon"
                      >
                        chevron_right
                      </span>
                    </a>
                  </div>
                  <div id="collapse11" class="accordion-body collapse">
                    <div class="card-body">
                      Yes. We are willing to sign a non-disclosure agreement
                      with our translators and clients for data protection.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <a
                      class="accordion-toggle title"
                      data-toggle="collapse"
                      data-parent="#accordion4"
                      href="#collapse12"
                    >
                      How is payment made?
                      <span
                        class="material-symbols-outlined rotate-icon accicon"
                      >
                        chevron_right
                      </span>
                    </a>
                  </div>
                  <div id="collapse12" class="accordion-body collapse">
                    <div class="card-body">
                      Yes. We are willing to sign a non-disclosure agreement
                      with our translators and clients for data protection.
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="accordion-container">
              <div class="accordion-title d-flex align-items-center">
                <span class="material-symbols-outlined mr-2"> help </span>
                <span class="accordion-heading">Languages</span>
              </div>

              <div class="accordion5" id="accordion5">
                <div class="card">
                  <div class="card-header">
                    <a
                      class="accordion-toggle title"
                      data-toggle="collapse"
                      data-parent="#accordion5"
                      href="#collapse13"
                    >
                      How is payment made?
                      <span
                        class="material-symbols-outlined rotate-icon accicon"
                      >
                        chevron_right
                      </span>
                    </a>
                  </div>
                  <div id="collapse13" class="accordion-body in collapse">
                    <div class="card-body">
                      Yes. We are willing to sign a non-disclosure agreement
                      with our translators and clients for data protection.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <a
                      class="accordion-toggle title"
                      data-toggle="collapse"
                      data-parent="#accordion5"
                      href="#collapse14"
                    >
                      How is payment made?
                      <span
                        class="material-symbols-outlined rotate-icon accicon"
                      >
                        chevron_right
                      </span>
                    </a>
                  </div>
                  <div id="collapse14" class="accordion-body collapse">
                    <div class="card-body">
                      Yes. We are willing to sign a non-disclosure agreement
                      with our translators and clients for data protection.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <a
                      class="accordion-toggle title"
                      data-toggle="collapse"
                      data-parent="#accordion5"
                      href="#collapse15"
                    >
                      How is payment made?
                      <span
                        class="material-symbols-outlined rotate-icon accicon"
                      >
                        chevron_right
                      </span>
                    </a>
                  </div>
                  <div id="collapse15" class="accordion-body collapse">
                    <div class="card-body">
                      Yes. We are willing to sign a non-disclosure agreement
                      with our translators and clients for data protection.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <a
                      class="accordion-toggle title"
                      data-toggle="collapse"
                      data-parent="#accordion5"
                      href="#collapse16"
                    >
                      How is payment made?
                      <span
                        class="material-symbols-outlined rotate-icon accicon"
                      >
                        chevron_right
                      </span>
                    </a>
                  </div>
                  <div id="collapse16" class="accordion-body collapse">
                    <div class="card-body">
                      Yes. We are willing to sign a non-disclosure agreement
                      with our translators and clients for data protection.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- logout modal -->

    <div
      class="modal fade"
      id="logoutModal"
      data-backdrop="static"
      data-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content logoutModal">
          <div class="modal-header">
            <p class="modal-title" id="logoutModalLabel">
              Log out of iVoice Africa?
            </p>
          </div>
          <div class="modal-body logoutModal-body">
            You can log in anytime with your email and password
          </div>
          <div class="modal-footer logoutModal-footer">
            <a href="../../onboarding/client/sign-in.html">
              <button class="transparentBtn">Logout</button>
            </a>
            <button class="logoutBtn" data-dismiss="modal" aria-label="Close">
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- jquery latest version -->
    <script src="../../assets/JS/js/vendor/jquery-2.2.4.min.js"></script>
    <!-- bootstrap 4 js -->
    <script src="../../assets/JS/js/popper.min.js"></script>
    <script src="../../assets/JS/js/bootstrap.min.js"></script>
    <script src="../../assets/JS/js/owl.carousel.min.js"></script>
    <script src="../../assets/JS/js/metisMenu.min.js"></script>
    <script src="../../assets/JS/js/jquery.slimscroll.min.js"></script>
    <script src="../../assets/JS/js/jquery.slicknav.min.js"></script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <!-- others plugins -->
    <script src="../../assets/JS/js/plugins.js"></script>
    <script src="../../assets/JS/js/scripts.js"></script>
  </body>
</html>
