<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="assets/CSS/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/CSS/css/metisMenu.css" />
    <link rel="stylesheet" href="assets/CSS/css/slicknav.min.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <!-- amchart css -->
    <link
      rel="stylesheet"
      href="https://www.amcharts.com/lib/3/plugins/export/export.css"
      type="text/css"
      media="all"
    />
    <!-- others css -->
    <link rel="stylesheet" href="assets/CSS/css/typography.css" />
    <link rel="stylesheet" href="assets/CSS/css/default-css.css" />
    <link rel="stylesheet" href="assets/CSS/css/styles.css" />
    <link rel="stylesheet" href="assets/CSS/css/responsive.css" />
    <!-- modernizr css -->
    <script src="assets/JS/js/vendor/modernizr-2.8.3.min.js" defer></script>
    <script src="assets/JS/js/scripts.js" defer></script>
  </head>

  <body>
    <div id="preloader">
      <div class="loader"></div>
    </div>
    <!-- preloader area end -->
    <!-- page container area start -->
    <div class="page-container">
      <!-- Header area start -->

      <div class="header-area">
        <div class="headerarea-divder">
          <div class="sidebar-header d-flex align-items-center">
            <div class="nav-btn pull-left">
              <img src="assets/icons/menu-open.svg" alt="menu-open" />
            </div>
            <div class="ml-5 logo">
              <a href="dashboard.html"
                ><img src="assets/images/ivoiceafrica logo 1.png" alt="logo"
              /></a>
            </div>
          </div>
          <!-- Searchbar and notification start -->
          <div
            class="d-flex align-items-center bigger-margin justify-content-between w-70"
          >
            <div class="search-box pull-left">
              <form action="#">
                <i class="ti-search"></i>
                <input
                  type="text"
                  name="search"
                  placeholder="Search..."
                  required
                />
              </form>
            </div>

            <div>
              <div class="notification-area d-flex">
                <a
                  href="clientnotification.html"
                  class="text-center notification-btn"
                >
                  <span class="material-symbols-outlined"> notifications </span>
                  <p>Notifications</p>
                </a>

                <button
                  class="text-center ml-5"
                  type="button"
                  id="show_modal_btn"
                >
                  <span class="material-symbols-outlined">
                    account_circle
                  </span>
                  <span class="material-symbols-outlined">
                    arrow_drop_down
                  </span>
                  <p>My profile</p>
                </button>

                <!-- Searchbar and notification end -->

                <!-- The Freelancer's modal start -->
                <div
                  class="row border profile-modal profile-modal_active"
                  id="profileModal"
                >
                  <div class="col">
                    <div class="modal-head">
                      <div>
                        <img src="assets/images/profile.svg" alt="profile" />
                      </div>
                      <p class="freelancer-name">Bukola Adesina</p>
                      <p>Freelancer</p>
                      <div class="freelancers-status">
                        <div class=""><span>Available</span></div>
                        <div class=""><span> Away</span></div>
                        <div class=""><span> Busy</span></div>
                      </div>
                    </div>
                    <div class="modal-body">
                      <div class="d-flex align-items-center mb-2">
                        <img src="assets/icons/profile_icon.svg" alt="" />
                        <span class="ml-2">Profile</span>
                      </div>
                      <div class="d-flex align-items-center mb-2">
                        <img src="assets/icons/padlock_icon.svg" alt="" />
                        <span class="ml-2">Change Password</span>
                      </div>
                      <div class="d-flex align-items-center mb-2">
                        <img src="assets/icons/logout_icon.svg" alt="" />
                        <span class="ml-2">Logout</span>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- The Freelancer's modal end -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Header area end -->

      <div class="main-content">
        <div class="page-divider">
          <div class="sidebar-menu">
            <!-- sidebar menu area start -->
            <div class="main-menu">
              <div>
                <nav>
                  <ul class="metismenu" id="menu">
                    <li class="active">
                      <a href="newrequest.html" aria-expanded="true"
                        ><span
                          class="material-symbols-outlined material-icon orange600"
                        >
                          add_box </span
                        ><span class="title-medium-font">New Request</span></a
                      >
                    </li>
                    <li>
                      <a href="javascript:void(0)" aria-expanded="true"
                        ><span class="material-symbols-outlined material-icon">
                          work </span
                        ><span class="title-medium-font">Jobs</span></a
                      >
                      <ul class="collapse">
                        <li><a href="clientrequests.html">Request</a></li>
                        <li>
                          <a href="clientbids.html">Bids</a>
                        </li>
                        <li><a href="inprogress.html">In Progress</a></li>
                        <li><a href="clientfinished.html">Finished</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="clientfinance.html" aria-expanded="true"
                        ><span class="material-symbols-outlined material-icon">
                          payments </span
                        ><span class="title-medium-font">Finances</span></a
                      >
                    </li>
                    <li>
                      <a href="clientfaqs.html" aria-expanded="true"
                        ><span class="material-symbols-outlined material-icon">
                          quiz </span
                        ><span class="title-medium-font">FAQs</span></a
                      >
                    </li>
                    <li>
                      <a href="clientprofile.html" aria-expanded="true"
                        ><span class="material-symbols-outlined material-icon">
                          account_box </span
                        ><span class="title-medium-font">Profile</span></a
                      >
                    </li>
                    <li>
                      <a
                        href="#"
                        aria-expanded="true"
                        data-toggle="modal"
                        data-target="#logoutModal"
                        ><span class="material-symbols-outlined material-icon">
                          logout
                        </span>
                        <span class="title-medium-font">Logout</span></a
                      >
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
            <!-- sidebar menu area end -->
          </div>

          <div class="main-pagecontent">
            <div class="job-alert-heading">
              <div
                class="bigger-margin clientrequests-heading d-flex align-items-center justify-content-between w-80"
              >
                <div>
                  <span>Notifications</span>
                  <span>Freelancers</span>
                  <span>Michael Jordan</span>
                </div>
              </div>
            </div>

            <div class="arrow_back_link">
              <a href="biddingfreelancer.html">
                <img
                  src="assets/icons/arrow_back_link.svg"
                  alt="arrow_back_link"
                />
              </a>
            </div>

            <div class="bigger-margin">
              <div class="mt-4 w-90">
                <div class="job-alerts">
                  <div class="d-flex align-items-start">
                    <img src="assets/images/profile.svg" alt="" class="mr-4" />
                    <div>
                      <p class="profilename mb-3">Michael Jordan</p>
                      <div class="mb-2">
                        <span class="location-icon mr-3"
                          ><img src="assets/icons/location.svg" alt=""
                        /></span>
                        <span class="location">Lagos, Nigeria</span>
                      </div>
                      <div class="mb-2">
                        <span class="mr-3"
                          ><img src="assets/icons/dateofentry.svg" alt=""
                        /></span>
                        <span class="dateofentry">Member Since May, 2022</span>
                      </div>
                      <div class="mb-2">
                        <span class="location-icon mr-3">
                          <img
                            src="assets/icons/completed_project.svg"
                            alt=""
                          />
                        </span>
                        <span class="completedproject"
                          >Completed many successful projects on ivoice
                          Africa</span
                        >
                      </div>
                      <div class="my-3">
                        <button class="transparentBtn mr-4">
                          View Profile
                        </button>
                        <button class="uploadbtn">Hire</button>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="profile-services job-alerts mb-3">
                  <label for="" class="profile-service-label"
                    >Services Michael Offers</label
                  >
                  <div class="service-rendered">
                    <div class="d-flex align-items-center mb-4">
                      <span class="service">Translation</span>
                      <div class="grey-dot"></div>
                      <span class="experience">4 years Experience</span>
                    </div>

                    <div
                      class="d-flex align-items-center justify-content-between"
                    >
                      <div>
                        <span
                          class="mr-3 job-alerts-lang dashboard-jobalerts-lang"
                        >
                          English
                        </span>
                        <span class="job-alerts-lang dashboard-jobalerts-lang">
                          French
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="service-rendered">
                    <div class="d-flex align-items-center mb-4">
                      <span class="service">Voice-over</span>
                      <div class="grey-dot"></div>
                      <span class="experience">4 years Experience</span>
                    </div>

                    <div
                      class="d-flex align-items-center justify-content-between"
                    >
                      <div>
                        <span
                          class="mr-3 job-alerts-lang dashboard-jobalerts-lang"
                        >
                          English
                        </span>
                        <span class="job-alerts-lang dashboard-jobalerts-lang">
                          French
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="service-rendered">
                    <div class="d-flex align-items-center mb-4">
                      <span class="service">Interpretation</span>
                      <div class="grey-dot"></div>
                      <span class="experience">4 years Experience</span>
                    </div>

                    <div
                      class="d-flex align-items-center justify-content-between"
                    >
                      <div>
                        <span
                          class="mr-3 job-alerts-lang dashboard-jobalerts-lang"
                        >
                          English
                        </span>
                        <span class="job-alerts-lang dashboard-jobalerts-lang">
                          French
                        </span>
                        <span
                          class="mr-3 job-alerts-lang dashboard-jobalerts-lang"
                        >
                          English
                        </span>
                        <span class="job-alerts-lang dashboard-jobalerts-lang">
                          French
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="job-alerts mb-3">
                  <label for="" class="profile-service-label"
                    >Selected Projects</label
                  >
                  <div class="mt-2">
                    <div class="job-attc">
                      <img
                        src="assets/icons/vscode-icons_file-type.svg"
                        alt="file-icon"
                      />
                      <div class="ml-3">
                        <p>Physics textbook in French (01).pdf</p>
                        <p>
                          This file is to be translated to an English version
                        </p>
                        <p>Uploaded 3 hours ago</p>
                      </div>
                    </div>
                    <div class="job-attc">
                      <img
                        src="assets/icons/vscode-icons_file-type.svg"
                        alt="file-icon"
                      />
                      <div class="ml-3">
                        <p>Physics textbook in French (01).pdf</p>
                        <p>
                          This file is to be translated to an English version
                        </p>
                        <p>Uploaded 3 hours ago</p>
                      </div>
                    </div>

                    <div class="job-attc">
                      <img
                        src="assets/icons/vscode-icons_file-type.svg"
                        alt="file-icon"
                      />
                      <div class="ml-3">
                        <p>Physics textbook in French (01).pdf</p>
                        <p>
                          This file is to be translated to an English version
                        </p>
                        <p>Uploaded 3 hours ago</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="job-alerts">
                  <label for="" class="profile-service-label mb-3"
                    >Client Reviews</label
                  >
                  <p class="client-totalreview">40 Reviews</p>

                  <div class="d-flex align-item-center mb-4 flex-wrap">
                    <div class="client-profile-photo">
                      <img
                        src="assets/images/client-profile-img.svg"
                        alt="client-profile"
                      />
                    </div>
                    <div class="ml-3">
                      <p class="client-profile-name">
                        Godwin Uchenna,
                        <small class="client-reviewdate"
                          >3rd October 2022</small
                        >
                      </p>
                      <span class="client-ratingstar"
                        ><img src="assets/icons/rating stars.svg" alt=""
                      /></span>
                    </div>
                    <p class="client-review-statement my-3">
                      Micheal is easy to talk to and very helpful in guiding
                      writers in the steps required to get their work published.
                      She is prompt and empathetic and was a big help in getting
                      the summary finished. I haven't gone through all the steps
                      as yet but would have no hesitation in recommending her
                    </p>
                  </div>
                  <div class="d-flex align-item-center mb-4 flex-wrap">
                    <div class="client-profile-photo">
                      <img
                        src="assets/images/client-profile-img.svg"
                        alt="client-profile"
                      />
                    </div>
                    <div class="ml-3">
                      <p class="client-profile-name">
                        Godwin Uchenna,
                        <small class="client-reviewdate"
                          >3rd October 2022</small
                        >
                      </p>
                      <span class="client-ratingstar"
                        ><img src="assets/icons/rating stars.svg" alt=""
                      /></span>
                    </div>
                    <p class="client-review-statement my-3">
                      Micheal is easy to talk to and very helpful in guiding
                      writers in the steps required to get their work published.
                      She is prompt and empathetic and was a big help in getting
                      the summary finished. I haven't gone through all the steps
                      as yet but would have no hesitation in recommending her
                    </p>
                  </div>
                  <div class="d-flex align-item-center mb-4 flex-wrap">
                    <div class="client-profile-photo">
                      <img
                        src="assets/images/client-profile-img.svg"
                        alt="client-profile"
                      />
                    </div>
                    <div class="ml-3">
                      <p class="client-profile-name">
                        Godwin Uchenna,
                        <small class="client-reviewdate"
                          >3rd October 2022</small
                        >
                      </p>
                      <span class="client-ratingstar"
                        ><img src="assets/icons/rating stars.svg" alt=""
                      /></span>
                    </div>
                    <p class="client-review-statement my-3">
                      Micheal is easy to talk to and very helpful in guiding
                      writers in the steps required to get their work published.
                      She is prompt and empathetic and was a big help in getting
                      the summary finished. I haven't gone through all the steps
                      as yet but would have no hesitation in recommending her
                    </p>
                  </div>
                  <div class="d-flex align-item-center mb-4 flex-wrap">
                    <div class="client-profile-photo">
                      <img
                        src="assets/images/client-profile-img.svg"
                        alt="client-profile"
                      />
                    </div>
                    <div class="ml-3">
                      <p class="client-profile-name">
                        Godwin Uchenna,
                        <small class="client-reviewdate"
                          >3rd October 2022</small
                        >
                      </p>
                      <span class="client-ratingstar"
                        ><img src="assets/icons/rating stars.svg" alt=""
                      /></span>
                    </div>
                    <p class="client-review-statement my-3">
                      Micheal is easy to talk to and very helpful in guiding
                      writers in the steps required to get their work published.
                      She is prompt and empathetic and was a big help in getting
                      the summary finished. I haven't gone through all the steps
                      as yet but would have no hesitation in recommending her
                    </p>
                  </div>

                  <a href="#" class="more-reviews"
                    >See all Reviews
                    <span
                      ><img src="assets/icons/arrow_right.svg" alt="" /></span
                  ></a>
                </div>
              </div>
            </div>
          </div>

          <!-- logout Modal -->
          <div
            class="modal fade"
            id="logoutModal"
            data-backdrop="static"
            data-keyboard="false"
            tabindex="-1"
            aria-labelledby="staticBackdropLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content logoutModal">
                <div class="modal-header">
                  <p class="modal-title" id="logoutModalLabel">
                    Log out of iVoice Africa?
                  </p>
                </div>
                <div class="modal-body logoutModal-body">
                  You can log in anytime with your email and password
                </div>
                <div class="modal-footer logoutModal-footer">
                  <a href="index.html">
                    <button class="transparentBtn">Logout</button>
                  </a>
                  <button
                    class="logoutBtn"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    Cancel
                  </button>
                </div>
              </div>
            </div>
          </div>

          <!-- jquery latest version -->
          <script src="assets/JS/js/vendor/jquery-2.2.4.min.js"></script>
          <!-- bootstrap 4 js -->
          <script src="assets/JS/js/popper.min.js"></script>
          <script src="assets/JS/js/bootstrap.min.js"></script>
          <script src="assets/JS/js/owl.carousel.min.js"></script>
          <script src="assets/JS/js/metisMenu.min.js"></script>
          <script src="assets/JS/js/jquery.slimscroll.min.js"></script>
          <script src="assets/JS/js/jquery.slicknav.min.js"></script>

          <!-- others plugins -->
          <script src="assets/JS/js/plugins.js"></script>
          <script src="assets/JS/js/scripts.js"></script>
        </div>
      </div>
    </div>
  </body>
</html>
