<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<title>Job Alerts</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="../../assets/CSS/css/bootstrap.min.css" />
<link rel="stylesheet" href="../../assets/CSS/css/metisMenu.css" />
<link rel="stylesheet" href="../../assets/CSS/css/slicknav.min.css" />
<link rel="shortcut icon"
	href="../../assets/images/ivoiceafrica logo 1.png" type="image/x-icon" />
<link
	href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
	rel="stylesheet" />
<!-- amchart css -->
<link rel="stylesheet"
	href="https://www.amcharts.com/lib/3/plugins/export/export.css"
	type="text/css" media="all" />
<!-- others css -->
<link rel="stylesheet" href="../../assets/CSS/css/typography.css" />
<link rel="stylesheet" href="../../assets/CSS/css/default-css.css" />
<link rel="stylesheet" href="../../assets/CSS/css/styles.css" />
<link rel="stylesheet" href="../../assets/CSS/css/responsive.css" />
<!-- modernizr css -->
<script src="../../assets/JS/js/vendor/modernizr-2.8.3.min.js"></script>
<script src="../../assets/JS/js/scripts.js" defer></script>
<style>
#outer-div {
	width: 100%;
	text-align: center;
}

#inner-div {
	display: inline-block;
	margin: 0 auto;
	padding: 3px;
}
</style>
</head>

<body>
	<div id="preloader">
		<div class="loader"></div>
	</div>

	<div class="page-container">
		<!-- Header area start -->
		<div class="overlay"></div>

		<!-- top-nav start -->
		<div th:replace="fragments/main_topnav_freelancer :: topnavfreelancer"></div>
		<!-- top-nav end -->


		<!-- side-nav start -->
		<div
			th:replace="fragments/main_sidenav_freelancer :: sidenavfreelancer"></div>
		<!-- side-nav end -->

		<div class="main">
			<div class="main__headerbox">
				<div class="job-alerts-header">
					<h1>Job Alerts</h1>
					<div>
						<a href="jobalerts.html" class="job-alerts-heading-btn mr-3">
							All</a> <a href="appliedjob.html"
							class="job-alerts-heading-btn job-alerts-heading-btn_accent">
							Applied</a>
					</div>
				</div>
			</div>

			<div class="main__contentbox mt-3 finished-job-overview">
				<span th:if="${userProposal.size() >= 1}"> <img src="../../assets/icons/tips_and_updates.svg"
					alt="bulb" /> </span> <span class="job-alerts-sub-heading" th:if="${userProposal.size() >= 1}"> <span th:text="${userProposal.size()}">13 </span>  job(s)
					currently match your profile</span>
				<div>


					<div class="mt-4" th:if="${userProposal.size() == 0}">
						<div class="job-alerts" id="outer-div">
							<div class="job-alerts-card-body my-3" id="inner-div">
								<div>
									<div class="upload-start mr-3"
										style="margin-left: auto; margin-right: auto">
										<span style="font-size: 30px">Jobs Alerts</span>
										<p style="font-size: 20px">Oops! No job alerts at this
											time, check back later.</p>
										<!-- <button class="uploadbtn">Upload</button> -->
									</div>
								</div>

							</div>
						</div>
					</div>


					<div th:each="proposal : ${userProposal}">
						<a th:href="@{/freelancer-jobs-details/{workOrderId}(workOrderId=${proposal.workOrder.workId})}">
							<div class="mt-4">
								<div class="job-alerts">
									<div class="job-alerts-card-body my-3">
										<div
											class="d-flex justify-content-between align-items-center mb-4">
											<div class="griddy">
												<span class="mr-3 job-alerts-translation">
													<div class="mr-2 job-alerts-service-translation-color" ></div>
													<span th:text="${proposal.workOrder.serviceType.typeName}">Translation</span>
												</span> 
												
												<span class="mr-3 job-alerts-lang" th:each="srcLanguage : ${@FreelancerComponentModel.getWorkAttachmentLanguagesForSourceAndDestination(proposal.workOrder.workId).sourceLanguage}"> <span th:text="${srcLanguage}">French</span> </span>
											
											</div>
											<span class="text-success">New</span>
										</div>
										<h2 class="job-alert-card-body-title" th:text="${proposal.workOrder.workTitle}">Translate Physics
											textbook from English Languague to French</h2>
											
										<p class="job-alert-card-body-text" th:text="${proposal.workOrder.description}">We are looking for a
											UI and digital graphic designer with a minimum of 3-5 years
											of experience to join our team full-time. We are looking for
											someone with a strong leaning towards digital rather than
											print and analog media.</p>
											
										<div class="job-alerts-footer">
											<div class="alerts-job-footer mb-3">
												<div class="mr-3 d-flex">
													<span class="material-symbols-outlined mr-2">savings</span>
													<span>$</span><span th:text="${proposal.workOrder.minAmount}">20</span>&nbsp;-&nbsp;<span>$</span><span th:text="${proposal.workOrder.maxAmount}">30</span> <span>&nbsp; per page</span></span>
												</div>
												<div class="mr-3 d-flex">
													<span class="material-symbols-outlined mr-2">attach_file</span>
													<span th:text="@{${@ClientComponentModel.getWorkAttachments(proposal.workOrder.workId)}}">4 <span>PDFs</span></span>
										
												</div>
												<div class="mr-3 d-flex">
													<span class="material-symbols-outlined mr-2">timer</span> 
													<span th:text="${proposal.workOrder.duration.duration}">3 &nbsp;<span>days</span></span>
												</div>
											</div>
											<div class="job-alert-service-time">
												<p>Posted on <span th:text="${proposal.workOrder.postingDate}"></span></p>
											
											</div>
										</div>
									</div>
								</div>
							</div>
						</a>
					</div>





				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="logoutModal" data-backdrop="static"
		data-keyboard="false" tabindex="-1"
		aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content logoutModal">
				<div class="modal-header">
					<p class="modal-title" id="logoutModalLabel">Log out of iVoice
						Africa?</p>
				</div>
				<div class="modal-body logoutModal-body">You can log in
					anytime with your email and password</div>
				<div class="modal-footer logoutModal-footer">
					<a href="../../onboarding/client/sign-in.html">
						<button class="transparentBtn" data-dismiss="modal">
							Logout</button>
					</a>
					<button class="logoutBtn" data-dismiss="modal" aria-label="Close">
						Cancel</button>
				</div>
			</div>
		</div>
	</div>

	<!-- jquery latest version -->
	<script src="../../assets/JS/js/vendor/jquery-2.2.4.min.js"></script>
	<!-- bootstrap 4 js -->
	<script src="../../assets/JS/js/popper.min.js"></script>
	<script src="../../assets/JS/js/bootstrap.min.js"></script>
	<script src="../../assets/JS/js/owl.carousel.min.js"></script>
	<script src="../../assets/JS/js/metisMenu.min.js"></script>
	<script src="../../assets/JS/js/jquery.slimscroll.min.js"></script>
	<script src="../../assets/JS/js/jquery.slicknav.min.js"></script>
	<script type="module"
		src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule
		src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
	<!-- others plugins -->
	<script src="../../assets/JS/js/plugins.js"></script>
	<script src="../../assets/JS/js/scripts.js"></script>
</body>
</html>
