<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>freelancer's Dashboard</title>
    <link
      rel="shortcut icon"
      href="../../assets/images/ivoiceafrica logo 1.png"
      type="image/x-icon"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../assets/CSS/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../assets/CSS/css/metisMenu.css" />
    <link rel="stylesheet" href="../../assets/CSS/css/slicknav.min.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <!-- amchart css -->
    <link
      rel="stylesheet"
      href="https://www.amcharts.com/lib/3/plugins/export/export.css"
      type="text/css"
      media="all"
    />
    <!-- others css -->
    <link rel="stylesheet" href="../../assets/CSS/css/typography.css" />
    <link rel="stylesheet" href="../../assets/CSS/css/default-css.css" />
    <link rel="stylesheet" href="../../assets/CSS/css/styles.css" />
    <link rel="stylesheet" href="../../assets/CSS/css/responsive.css" />
    <!-- modernizr css -->
    <script src="assets/JS/js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="assets/JS/js/scripts.js" defer></script>
  </head>

  <body>
    <div id="preloader">
      <div class="loader"></div>
    </div>

    <div class="page-container">
      <!-- Header area start -->

      <div class="overlay"></div>
      
      	<!-- top-nav start -->
		<div th:replace="fragments/main_topnav_freelancer :: topnavfreelancer"></div>
		<!-- top-nav end -->


		<!-- side-nav start -->
		<div th:replace="fragments/main_sidenav_freelancer :: sidenavfreelancer"></div>
		<!-- side-nav end -->
      
      <div class="main">
        <div class="main__headerbox dashboard-heading">
          <div class="activejobs-heading">
            <span>Notifications</span>
          </div>
        </div>

        <div class="arrow_back_link">
          <a th:href="@{/freelancer-dashboard}">
            <img src="assets/icons/arrow_back_link.svg" alt="arrow_back_link" />
          </a>
        </div>
        
        
        <div class="main__contentbox finished-job-overview">
        <div class="mt-3"
			th:if="${notificationWorkDeliveries.size() == 0}" id="outer-div">
			<div class="mt-4" id="inner-div">
				<div class="job-alerts" >
					<div class="job-alerts-card-body my-3" >
						<div>
							<div class="upload-start mr-3"
								style="margin-left: auto; margin-right: auto">
								<span style="font-size: 30px">Notification(s)</span>
								<p style="font-size: 20px">Oops! No notifications at this, check back later.</p>
								<!-- <button class="uploadbtn">Upload</button> -->
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
        
          <div th:each="notification : ${notificationWorkDeliveries}">
            <div class="notif-flex">
              <div class="job-alerts-card-body my-2">
                <p class="notification-from" >
                 <span th:text="|${notification.workOrder.user.firstName}  ${notification.workOrder.user.firstName}|">Godwin</span>  would like to work with you
                </p>
                <h2 class="notification-title mb-3" th:text="${notification.workOrder.workTitle}">
                  Translate Physics textbook from English Languague to French
                </h2>
              </div>
              <span class="notification-time" th:text="${notification.createdDate}">4 hours ago</span>
            </div>
          </div>
          
          
          
        </div>
      </div>
    </div>

    <div
      class="modal fade"
      id="logoutModal"
      data-backdrop="static"
      data-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content logoutModal">
          <div class="modal-header">
            <p class="modal-title" id="logoutModalLabel">
              Log out of iVoice Africa?
            </p>
          </div>
          <div class="modal-body logoutModal-body">
            You can log in anytime with your email and password
          </div>
          <div class="modal-footer logoutModal-footer">
            <a href="../../onboarding/client/sign-in.html">
              <button class="transparentBtn">Logout</button>
            </a>
            <button class="logoutBtn" data-dismiss="modal" aria-label="Close">
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- jquery latest version -->
    <script src="../../assets/JS/js/vendor/jquery-2.2.4.min.js"></script>
    <!-- bootstrap 4 js -->
    <script src="../../assets/JS/js/popper.min.js"></script>
    <script src="../../assets/JS/js/bootstrap.min.js"></script>
    <script src="../../assets/JS/js/owl.carousel.min.js"></script>
    <script src="../../assets/JS/js/metisMenu.min.js"></script>
    <script src="../../assets/JS/js/jquery.slimscroll.min.js"></script>
    <script src="../../assets/JS/js/jquery.slicknav.min.js"></script>

    <!-- others plugins -->
    <script src="../../assets/JS/js/plugins.js"></script>
    <script src="../../assets/JS/js/scripts.js"></script>
  </body>
</html>
