<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Payment Test</title>
<style type="text/css">
body {
	font-family: Sans-Serif;
}

#start-payment-button {
	cursor: pointer;
	position: relative;
	background-color: blueviolet;
	color: #fff;
	max-width: 30%;
	padding: 10px;
	font-weight: 600;
	font-size: 14px;
	border-radius: 10px;
	border: none;
	transition: all .1s ease-in;
}
</style>
</head>
<body>
	<form>

		<input type="hidden" id="idKey"
			th:value="${@environment.getProperty('flutterwave.PBFPubKey')}">

		<input type="hidden" id="baseurl"
			th:value="${@environment.getProperty('flutterwave.payment.redirect')}">


		<div>Your order is ₦54,600</div>
		<button type="button" id="start-payment-button"
			onclick="makePayment()">Pay Now</button>
	</form>
</body>

<script src="https://checkout.flutterwave.com/v3.js"></script>
<script>
	function makePayment() {

		var flkpub = document.getElementById('idKey').value;
		var txRef = "ivoice-" + Math.random().toString(16).slice(2);

		FlutterwaveCheckout({
			public_key : flkpub,
			tx_ref : txRef,
			amount : 54600,
			currency : "NGN",
			payment_options : "card, banktransfer, ussd",
			meta : {
				consumer_id : 23,
				consumer_mac : "92a3-912ba-1192a",
			},
			customer : {
				email : "rose@unsinkableship.com",
				phone_number : "08102909304",
				name : "Rose DeWitt Bukater",
			},
			customizations : {
				title : "The Titanic Store",
				description : "Payment for an awesome cruise",
				logo : "https://www.logolynx.com/images/logolynx/22/2239ca38f5505fbfce7e55bbc0604386.jpeg",
			},
		});
	}
</script>
</html>