@font-face {
  font-family: 'Open Sans';
  font-style: 400;
  font-weight: normal;
  src: local('Open Sans Regular'),
    url('/ivoiceafrica/assets/fonts/OpenSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Inter Regular';
  font-style: 400;
  font-weight: normal;
  src: local('Inter Regular'),
    url('/ivoiceafrica/assets/fonts/Inter-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Rasa SemiBold';
  font-style: 600;
  font-weight: normal;
  src: local('Rasa SemiBold'),
    url('/ivoiceafrica/assets/fonts/Rasa-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans SemiBold';
  font-style: 600;
  font-weight: normal;
  src: local('Open Sans SemiBold'),
    url('/ivoiceafrica/assets/fonts/OpenSans-SemiBold.woff') format('woff');
}

:root {
  --body-font-family: 'Inter Regular', sans-serif;
  --display-body-font-family: 'Rasa Semibold', sans-serif;
  --headline-font-family: 'Open Sans SemiBold', sans-serif;
  --title-font-family: 'Open Sans', sans-serif;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: 'Open sans', sans-serif;
  font-family: var(--title-font-family);
}

select {
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;
  /* reset */
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

h2 {
  font-family: var(--display-body-font-family);
  font-size: 4.5rem;
}

input {
  background: #f9f9f9;
  border-radius: 1rem;
  padding: 1.5rem 1.7rem;
  border: none;
  display: block;
  width: 100%;
  margin-top: 0.2em;
}

input::placeholder {
  font-size: 1.8rem;
  color: rgba(28, 52, 84, 0.26);
}
.sign-modal {
  min-height: 100vh;
  z-index: -999;
  opacity: 0.902;
  display: flex;
  padding: 7.2rem 0;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
}
.sign-modal form {
  padding: 2rem 4rem;
}
.onboard-section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
}

.onboard-container {
  display: flex;
  max-width: 74.6rem;
  padding: 7.5rem 2rem;
  margin: 8rem 0;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0px 0.8rem 0.7rem rgba(0, 0, 0, 0.0274815),
    0 0.2rem 0.3rem rgba(0, 0, 0, 0.0168519);
  border-radius: 2rem;
}

.onboard-container h2 {
  font-family: var(--display-body-font-family);
  font-size: 3.2rem;
  font-weight: 600;
  color: rgba(24, 39, 58, 0.94);
  line-height: 4rem;
  margin: 1.5rem 0 0.8rem 0;
}

.welcome-text {
  font-family: var(--body-font-family);
  font-size: 1.8rem;
  font-weight: 400;
  color: rgba(28, 46, 69, 0.6);
}
.choice-box {
  display: flex;
  gap: 4rem;
}
.form-label {
  font-size: 2.2rem;
}
.form-header {
  padding: 2.4rem 0;
}
.freelancer-form-header {
  padding: 5rem 1.5rem 0;

  text-align: center;
}

.welcome-text,
.onboard-footer p {
  color: rgba(28, 46, 69, 0.6);
}

.choice-box {
  margin: 6.4rem 0;
}

.Freelance-box {
  background: rgba(25, 59, 103, 0.02);
  border-radius: 2rem;
  width: 47%;
  height: 19.9rem;
  padding: 3.1rem 2.8rem;
  transition: all 0.3s;
}

.Freelance-box:hover,
.Freelance-box:focus,
.Freelance-box:active + .Freelancer-icon {
  background: #ffffff;
  fill: rgba(96, 250, 1, 1);
  box-shadow: 0 0.8rem 0.6rem rgba(0, 0, 0, 0.0274815),
    0.1rem 0.2rem rgba(0, 0, 0, 0.0168519);

  cursor: pointer;
}
#cardform {
  max-width: 123.1rem;
  width: 100%;
  background: #ffffff;
  margin: 6rem auto;
}

.Freelance-box h3 {
  margin-top: 1.6rem;
  font-size: 2.4rem;
  font-family: var(--headline-font-family);
  line-height: 32px;
  margin-bottom: 0.9rem;
}

.Freelance-box p {
  font-size: 1.4rem;

  color: rgba(28, 46, 69, 0.6);
}

.Freelancer-icon {
  fill: rgba(96, 250, 1, 1);
}
.client-icon {
  fill: rgba(246, 25, 15, 1);
}

.nationality {
  /* background-image: url('../images/mgsearch.svg'); */
  background-position: 2% center;
  background-repeat: no-repeat;
}
.nationality::placeholder {
  margin-left: 2rem;
  padding-left: 2rem;
}
.onboard-footer {
  text-align: center;
}
.onboard-footer p {
  font-size: 1.4rem;
}

.onboard-footer p a {
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  font-size: 1.4rem;
}
.header {
  width: 100%;
}
.header__navigation {
  padding: 0.8rem 3.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.1),
    0 0.1rem 0.2rem rgba(0, 0, 0, 0.06);
}
.profile p {
  font-size: 1.4rem;
}
.progress__bar {
  transition: all 2s ease-in;
  width: 100%;
}

.progress__bar--bar {
  height: 1.2rem;
  width: 20%;
  transition: width 1s;
  border-radius: 0 2rem 2rem 0;
  background-color: #000000;
}

.button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  font-family: var(--title-font-family);
  padding: 1.4rem 8rem;
  font-size: 1.4rem;
  background: #000;
  border-radius: 30px;
  font-weight: 600;
  border: none;
}

.button:hover,
.button:active {
  background: rgba(225, 76, 41, 1);
  color: #ffffff;
}

#btn-freelancer,
#btn-client {
  display: none;
  transition: background 0.3s;
}
#btn-freelancer:hover,
#btn-client :hover {
  background: rgba(225, 76, 41, 1);
}

/* Onboarding forms */
.onboarding-forms {
  margin: 0 auto;
  max-width: 70.3rem;
  background: #ffffff;
  padding: 2rem 4.5rem;
  border-radius: 10px;
}

.form-container {
  width: 79%;
  margin: 4rem auto 0;
  font-size: 2.2rem;
  font-weight: 400;
}

.footer-2 {
  margin-top: 5em;
}

.form-footer {
  margin-top: 1rem;
  border-top: 1px solid rgba(26, 56, 96, 0.1);
  padding: 2em 0 2.5em;
}
.form-sign-footer {
  margin-top: 1rem;
  padding: 2em 0 2.5em;
}
.form-section {
  /* max-width: 100rem; */
  margin: 0 auto;
}
/* Modal */

.modal-header-edit {
  display: block;
}
.modal-codespace {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
  /* margin: 3.2rem 0; */
}
.modal-title-edit {
  font-size: 3.2rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  margin-bottom: 0.8rem;
  color: rgba(24, 39, 58, 0.94);
}

.welcome-text span {
  color: rgba(24, 39, 58, 0.94);
  font-weight: bold;
}

.token-space {
  width: 5.4rem;
  height: 4.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9f9f9;

  border: 1px solid rgba(28, 52, 84, 0.26);
  border-radius: 10px;
}
.token-text {
  font-size: 3.2rem;
  font-weight: 600;
}

.modal-btn {
  display: inline-block;
  padding: 1.4rem 2.4rem;
  border: 1px solid rgba(21, 22, 23, 1);
  color: rgba(21, 22, 23, 1);
  background: #fff;
  border-radius: 3rem;
  width: auto;
  height: auto;
  opacity: 1;
  font-weight: 600;
  border: 0.1rem solid #151617;
  transition: background 0.3s;
}

.modal-btn:hover,
.modal-btn:active {
  background: rgba(225, 76, 41, 1);
  color: #ffffff;
  border: none;
}

.model-footer-text {
  color: rgba(28, 46, 69, 0.6);
  margin-top: 1.3rem;
}
.model-footer-text span {
  font-weight: 600;
  color: rgba(24, 39, 58, 0.94);
}

/* Forms */

.form-header {
  text-align: center;
}

.form-header img {
  margin-bottom: 3.5em;
}

.form-header-text {
  color: rgba(28, 46, 69, 0.6);
}

.form-header p {
  font-family: var(--body-font-family);
  font-weight: 400;
  font-size: 1.8rem;
  text-align: center;
}

.form-outline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3.5rem;
  border: none;
}

.form-progress {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 600;
}

.form-progress-box {
  border-radius: 1rem;
  background: rgba(21, 22, 23, 1);
  color: #ffffff;
  padding: 8px 18px;
  font-size: 1rem;
  margin-right: 0.5em;
}

.form-progress-box.form-progress-active {
  background: rgba(21, 193, 93, 1);
}

.form-progress-text-active {
  color: rgba(21, 193, 93, 1);
}

.form {
  padding: 0 2rem 4rem;
  display: block;
  font-size: 1.375rem;
  font-weight: 400;
  max-width: 100rem;
  margin: 0 auto;
  font-size: 2.2rem;
  color: rgba(24, 39, 58, 0.94);
}

.input-group {
  margin-bottom: 1.5em;
}
.profile-heading {
  margin-bottom: 1.6rem;
  font-size: 2.2rem;
}
.input-group-2 {
  margin: 1em 0;
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.street-edit {
  display: block;
  margin-top: 0.5em;
}

.input-group-3 {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.input-group-3 label {
  font-size: 1rem;
  font-weight: 600;
}

.input-group-4 div {
  display: flex;
}

.input-group-4 div input {
  width: 35%;
}

.submit-btn {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 5em;
}
.multistep:not(:first-child) {
  display: none;
}
select {
  background: #f9f9f9;
  border-radius: 1rem;
  border: none;
  padding: 1.2rem 1.7rem;
  margin-top: 0.4em;
  width: 11%;
}

.services button {
  background: #f9f9f9;
  border-radius: 10px;
  padding: 1.6rem 1.6rem 2.4rem;
  margin-bottom: 2.4rem;
  color: rgba(24, 39, 58, 0.94);
  display: block;
  border: none;
  text-align: left;
  width: 100%;
}

.services h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 2.2rem;
}

.services p {
  color: rgba(28, 46, 69, 0.6);
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 0.3em;
  letter-spacing: 0.15px;
}

.service-content {
  /* margin-bottom: 1.5em; */
  padding-left: 1.5em;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.7s;
}
.onboarding-cta {
  display: flex;
  gap: 4.8rem;
  align-items: center;
}
.btn-mini-trans,
.btn-mini-black {
  padding: 1.4rem 2.4rem;
  border-radius: 3rem;
  font-weight: 600;
  border: none;
  transition: background-color 0.3s;
}
.btn-mini-trans {
  background-color: #f9f9f9;
}

.btn-mini-black {
  color: #fff;
  background-color: #151617;
}
.btn-mini-black:hover {
  background-color: #e14c29;
}
.btn-mini-trans:hover {
  background-color: rgba(153, 153, 153, 0.85);
}
.service-content-active {
}

.service-content-label {
  font-size: 2.2rem;
  letter-spacing: 0.4px;
  margin-bottom: 0.8rem;
}

.portfolio-input {
  width: 46%;
}
.custom-select {
  position: relative;
  width: 46%;
}

.custom-select select {
  width: 100%;
  font-family: var(--body-font-family);
  font-size: var(--body-large-fontsize);
  color: rgba(28, 52, 84, 0.26);
  appearance: none;
  padding: 15px 17px;
  margin: 0;
}

.custom-select-arrow {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  display: block;
  width: 1.2em;
  height: 50%;
  pointer-events: none;
}

.custom-select-arrow::after {
  content: '\25be';
  transform: scale(1.2);
  float: right;
}

.custom-file-lang-label {
  color: hsla(214, 42%, 19%, 0.6);
  font-family: var(--body-font-family);
  font-size: var(--body-large-fontsize);
  font-weight: 600;
  margin-bottom: 1em;
}

.custom-file-upload-space {
  width: 244px;
  height: 56px;
  background: hsla(0, 0%, 98%, 1);
  position: relative;
  border-radius: 10px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.custom-file-upload-text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: hsla(214, 50%, 22%, 0.26);
  display: block;
  padding: 1em;
}

.custom-file-upload {
  background: hsla(210, 5%, 9%, 1);
  width: 53px;
  height: 54px;
  padding: 0.3em 0.7em;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 10px 10px 0;
}
.rates {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 2rem 0;
}
.custom-min-word {
  width: 191px;
  height: 56px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.custom-min-word span {
  color: rgba(28, 52, 84, 0.26);
}
/* POPUPS */
.select-popupI {
  border-radius: 2rem;
  background-color: #ffff;
}

.select-popupI h1 {
  font-weight: 600;
  font-size: 2.4rem;
  margin-bottom: 1.8rem;
  margin-left: -3rem;
}
.select-options {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-bottom: 2rem;
}
.select-options input {
  width: auto;
  height: 1.7rem;
  width: 1.7rem;
  cursor: pointer;
}

.select-options label {
  font-size: 1.6rem;
  position: relative;
}
.select-options input + label::after {
  content: '';
  display: block;
  height: 1.1rem;
  width: 1.1rem;
  position: absolute;
  background-color: transparent;
  top: 0.75rem;
  border-radius: 50%;
  left: -3.45rem;
}

#popupI {
  display: none;
}
#popupII {
  display: none;
}
[type='radio'] + span:after {
  content: '';
  display: inline-block;
  width: 1rem;
  height: 1rem;
  vertical-align: -0.1em;
  border-radius: 1em;
  border: 0.35rem solid #fff;
  box-shadow: 0 0 0 0.1em #36b18d;
  margin-left: 0.75em;
  transition: 0.5s ease all;
}
.select-options input:checked + span:after {
  background: #000;
  box-shadow: 0 0 0 0.1em #36b18d;
}

.popup-btns {
  display: flex;
  align-items: flex-end;
  width: 100%;
  gap: 2rem;
  margin-top: 4rem;
  justify-content: flex-end;
}
.popup-btns p {
  font-weight: 600;
  font-size: 1.8rem;
}
/*  */
.services-offer-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5em;
}
.services-offer-btn p {
  color: #151617;
  font-weight: 600;
}
.btn-service {
  background: #f9f9f9;
  color: rgba(24, 39, 58, 0.94);
}

.dropdown {
  position: relative;
}

.dropdown-form {
  position: absolute;
  left: 0;
  top: calc(100% + 0.25em);
  background-color: #ffffff;
  padding: 0.74em;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}

textarea {
  display: block;
  width: 100%;
  border: 2px solid rgba(28, 48, 74, 0.5);
  border-radius: 20px;
  margin-top: 1em;
}

.fields {
  margin: 1em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Lang {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}
.fields .input-field {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.fields .input-field label {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.4em;
}

.Degree {
  width: 100%;
}

/* Success modal */
.success {
  background: #ffffff;
  border: 1px solid #f9f9f9;
  border-radius: 20px;
  margin: 0 auto;
}

.success-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.success p {
  color: rgba(28, 46, 69, 0.6);
  font-size: 1.8rem;
  font-weight: 400;
  margin: 0 auto;
  text-align: center;
}

.success-icon {
  margin: 3rem auto;
}

.success-button {
  display: block;
  margin: 0 auto;
}

.sign-in {
  width: 700px;
  padding: 2.5em 5em;
  background: rgba(255, 255, 255, 1);
  border-radius: 20px;
  margin: 2em auto;
  text-align: center;
}

.signin-container h2 {
  font-family: 'Rasa', serif;
  font-weight: 600;
  font-size: 4.5rem;
}

.signin-container p {
  color: rgba(28, 46, 69, 0.6);
  font-size: 1.125rem;
  font-weight: 400;
  width: 90%;
  margin: 0 auto;
}

.sign-in form {
  width: 80%;
  margin: 3.5em auto 0;
  padding: 0 0.5em;
}

.forgot-password {
  font-weight: 600;
  font-size: 1.4rem;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 0.5em;
}

/* To handle the display for the form in Freelancer */

.step {
  display: none;
}

.step.active {
  display: block;
}

.client-sex-select {
  display: block;
  width: 100%;
  color: hsla(214, 50%, 22%, 0.26);
  font-size: 1.8rem;
  padding: 1.5rem 1.7rem;
  background-image: url(../images/Vector.svg);
  background-position: calc(100% - 2rem) calc(2.4rem + 0.2rem);
  background-repeat: no-repeat;
}
.client-flag-select {
  background-image: url(../images/Vector.svg);
  background-position: calc(100% - 2rem) calc(2.4rem + 0.2rem);
  background-repeat: no-repeat;
  position: relative;
  margin-right: 2rem;
}
.edit-icon {
  opacity: 0;
  transition: opactiy 0.1s;
}

option {
  font-size: 1.8rem;
  padding: 1.5rem 1.7rem;
}

.client-flag-select {
  width: 40%;
  padding: 1.5rem 1.7rem;
}
.client-upload {
  height: 30rem;
  max-width: 30rem;
  width: 100%;

  border-radius: 50%;
  background-color: rgba(217, 217, 217, 1);
  margin: 5rem auto;
  position: relative;

  box-shadow: 0 5px 5px -4px rgba(0, 0, 0, 0.2);
}

.client-upload > label {
  position: relative;
  left: 70%;
  top: 68%;
}
.profile-picture {
  width: 40%;
  position: absolute;
  left: 30%;
  top: 30%;
}

.label-text_accent {
  font-family: var(--title-font-family);
  font-size: var(--title-medium-fontsize);
  font-weight: 600;
  font-size: 1.6rem;
  color: hsla(215, 41%, 18%, 0.72);
}
.freelancer__document-heading {
  font-size: 2.4rem;
  font-weight: 600;
  font-family: 'Open sans', sans-serif;
  margin-bottom: 3.9rem;
}

.freelancer__fr {
  display: flex;
  gap: 4.1rem;
  margin-bottom: 3.2rem;
}
.freelance-language {
  font-weight: 600;
  font-size: 1.6rem;
  font-family: 'Open sans', sans-serif;
}
.freelancer__phy {
  display: flex;
  gap: 4.1rem;
  width: 100%;
}
.freelancer__document--label-heading {
  font-size: 2.2rem;
  display: flex;
  gap: 2rem;
  font-family: 'Open sans', sans-serif;
}
.freelance-labelBtn {
  border: 0.1rem solid rgba(26, 56, 96, 0.1);
  cursor: pointer;
  padding: 1rem 1.2rem;
  border-radius: 1rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: rgba(24, 39, 58, 0.94);
  font-family: var(--body-font-family);
}
.freelancer__document {
  flex: 1;
  border-radius: 1rem;
  padding: 1rem 0.8rem;
  border: 0.1rem solid rgba(26, 56, 96, 0.1);
}
.freelancer__document div {
  display: flex;
  align-items: center;
  gap: 1.8rem;
  flex: 2;
  padding-bottom: 0.5rem;
  width: 100%;
  border-bottom: 0.1rem solid rgba(26, 56, 96, 0.1);
}
.freelancer__document div p {
  font-size: 1.4rem;
  font-family: var(--body-font-family);
}
.freelancer__document label {
  padding-top: 1rem;
  font-weight: 500;
  font-family: var(--body-font-family);
  font-size: 1.4rem;
}
.freelancer__document--document {
  border: 0.1rem solid rgba(26, 56, 96, 0.1);
  padding: 1rem 0.8rem;
  width: 100%;
  border-radius: 1rem;
}
.freelancer__document--box {
  border: 0.1rem solid rgba(26, 56, 96, 0.1);
  border-radius: 1rem;
  padding: 1.6rem;
}

.freelancer__document--document label {
  cursor: pointer;
  border: 0.1rem solid rgba(26, 56, 96, 0.1);
  padding: 1rem 0.8rem;
  border-radius: 1rem;
}

.freelancer__file {
  display: none;
}
/*PROFILE SETTINGS UNBOARDING*/
.profile__settings {
}
.profile__overview {
}
.profile__overview--heading {
  font-family: 'Open sans', sans-serif;
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 4rem;
  align-self: center;
}
.profile__overview--settings {
  display: flex;
  gap: 8rem;
  justify-content: space-between;
}
.profile__sbox {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20.8rem;
  height: 19.3rem;
  text-align: center;
  border: 0.1rem solid rgba(26, 56, 96, 0.1);
  border-radius: 0.5rem;
}
.profile__sbox > img {
  height: 8rem;
  width: 8rem;
  margin-bottom: 2.4rem;
}
.profile__sbox p {
  font-size: 1.8rem;
  margin-bottom: 1.6rem;
  font-weight: 600;
  color: #192434;
}
.profile__sbox label {
  color: #15c15d;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  cursor: pointer;
}
@media (max-width: 955px) {
  html {
    font-size: 60.5%;
  }

  .rates {
    flex-direction: column;
    gap: 0.5rem;
    padding: 0;
    align-items: flex-start;
  }
  .option {
    font-size: 1.4rem;
  }
  .profile__overview--settings {
    flex-direction: column;
    gap: 2rem;
  }
  .freelancer__document--label-heading {
    gap: 1rem;
    align-items: center;
  }
  .edit-icon > img,
  .freelance-language img,
  .freelancer__document--label-heading img {
    height: 1.8rem;
    width: 1.8rem;
  }
  .profile__overview--heading {
    text-align: center;
  }
  .form-header {
    padding: 4rem 2rem 2rem 2rem;
  }
  .profile__sbox {
    margin: 0 auto;
  }
  .form-header img {
    margin-bottom: 2rem;
  }
  .custom-select {
    width: 80%;
  }
  .Freelance-box {
    width: 100%;
    margin-bottom: 2rem;
  }

  .choice-box {
    flex-direction: column;
    margin: 3rem 0;
  }
  .nationality {
    background-position: 3% center;
  }
  .nationality::placeholder {
    margin-left: 1rem;
    padding-left: 1rem;
  }
  .select-popupI h1 {
    font-weight: 600;
    font-size: 2.2rem;
  }
  .service-content-label {
    font-size: 1.8rem;
  }
  .service-content {
    padding-left: 1.5rem;
  }
  .success-icon {
    margin: 2rem 0;
  }
}
@media (max-width: 576px) {
  .onboard-section {
    padding: 2em;
    width: 100%;
    height: 100%;
  }
  br {
    display: none;
  }
  h2 {
    font-size: 3.5rem;
  }
  .button {
    padding: 1.2rem 6rem;
  }
  .nationality {
    background-position: 4% center;
  }
  .nationality::placeholder {
    margin-left: 0.2rem;
    padding-left: 0.2rem;
  }
  .custom-select {
    width: 100%;
  }
  .Lang {
    font-size: 2rem;
  }
  .portfolio-input {
    width: 100%;
  }
  .modal-title-edit {
    font-size: 2.7rem;
  }
  .onboard-container h2 {
    font-size: 2.8rem;
    font-weight: 600;
  }
  .form {
    padding: 0 2rem 2rem;
  }
  .service-content {
    padding-left: 0;
  }
  .service-content-label {
    font-size: 1.6rem;
  }
  .onboarding-cta {
    gap: 2rem;
  }
  .choice-box {
    gap: 0;
    margin: 2rem 0;
  }
  .services-offer-btn p {
    font-size: 1.4rem;
  }
  .btn-mini-trans,
  .btn-mini-black {
    font-size: 1.4rem;
    padding: 1.2rem 1.5rem;
  }
  .form-header {
    padding-top: 3rem;
    padding-bottom: 1.2rem;
  }

  input::placeholder {
    font-size: 1.6rem;
    margin-bottom: 3.2rem;
  }
  .form-label {
    font-size: 1.8rem;
  }
  .form-footer {
    padding: 1.5rem 0;
  }

  .freelancer__phy {
    flex-direction: column;
    gap: 2rem;
  }

  .freelancer__document-heading {
    font-size: 2rem;
  }
  .freelancer__document--label-heading {
    font-size: 1.8rem;
    margin-bottom: 1.2rem !important;
  }

  .modal-codespace {
    gap: 2rem;
    margin: 0;
  }

  .onboarding-forms {
    width: 100%;
    padding: 2em;
  }
  .success {
    padding: 1rem;
  }
  .success p {
    font-size: 1.6rem;
  }
  .form-container {
    width: 100%;
    font-size: 1rem;
    margin: 0 auto;
  }

  .form-header p {
    font-size: 1.5rem;
  }
  .profile-label {
    font-size: 1.8rem !important;
  }
  .submit-btn {
    margin-top: 4.5rem;
  }
  #cardform {
    width: 100%;
    padding: 1em;
    margin: 0;
  }
  .form-header-title {
    margin-bottom: 0.5em;
  }

  .form-outline {
    display: none;
  }

  .form {
    width: 100%;
    margin: 0;
  }

  .freelancer-details {
    display: block;
    width: 100%;
    padding: 0 !important;
  }
  .services h2 {
    font-size: 1.4rem;
  }
  .services p {
    font-size: 1.1rem;
    color: rgba(28, 46, 69, 0.6);
  }
  .services-offer-btn {
    margin-top: 1em;
  }
  .select-popupI {
    border-radius: 2rem;
    background-color: #ffff;
    padding: 2rem;
  }
  .popup-btns p {
    font-size: 1.6rem;
  }
  .select-popupI h1 {
    font-weight: 600;
    margin: 0 0 2rem;
    font-size: 2rem;
  }
  .onboard-footer p {
    font-size: 1.2rem;
  }
  .onboard-footer p a {
    font-size: 1.2rem;
  }
}
@media (max-width: 390px) {
  .onboard-section {
    padding: 2em;
    width: 100%;
    height: 100%;
  }
  option {
    font-size: 1.4rem;
    padding: 1.4rem 1.5rem;
  }
  .btn-mini-trans,
  .btn-mini-black {
    font-size: 1.1rem;
    padding: 1.1rem;
  }
  .button {
    padding: 1.2rem 4rem;
  }
  .success {
    padding: 0;
  }
  .modal-codespace {
    gap: 0.8rem;
  }
  .modal-title-edit {
    font-size: 2rem;
  }
  .welcome-text {
    font-size: 1.6rem;
    line-height: 1.2;
  }
  .Lang {
    font-size: 1.5rem;
  }
  .model-footer-text {
    font-size: 1.4rem;
  }

  .select-popupI {
    border-radius: 2rem;
    background-color: #ffff;
    padding: 2rem;
  }
  .popup-btns p {
    font-size: 1.4rem;
  }
  .select-popupI h1 {
    font-weight: 600;
    margin: 0 0 1.8rem;
    font-size: 1.6rem;
  }
}
