<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="stylesheet"
	href="../../../../assets/CSS/styles-admin/admingeneral.css" />
<link rel="stylesheet"
	href="../../../../assets/CSS/styles-admin/adminhome.css" />
<link rel="stylesheet"
	href="../../../../assets/CSS/styles-admin/client.css" />
<link rel="stylesheet"
	href="../../../../assets/CSS/styles-admin/freelancers.css" />
<link rel="shortcut icon" sizes="32x32"
	href="../../../../assets/icons/fav.png" type="image/x-icon" />
<meta name="description"
	content="We are a translation and localization company that provides expertise in brand identity and language solutions for businesses worldwide." />

<script defer src="../../../../assets/JS/js/admin.js"></script>

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
	href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Open+Sans:wght@500;600;700&display=swap"
	rel="stylesheet" />
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link
	href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Open+Sans:wght@500;600;700&display=swap"
	rel="stylesheet" />
<link rel="stylesheet"
	href="./../../../assets/bootstrap/dist/css/bootstrap.css" />
<title>Admin - Freelancer</title>
</head>
<body>
	<div class="admin-overview">

		<!-- ADMIN SIDE NAVIGATION -->
		<div th:replace="fragments/main_sidenav_admin :: sidenav_admin"></div>
		<!-- ///// -->

		<!-- ADMIN MAIN SECTION -->
		<div class="admin-main">
			<div class="admin-overlay"></div>
			<div class="admin-header">
				<div class="admin-cta">
					<button class="menu-btn">
						<span class="material-symbols-outlined"> menu </span>
					</button>
					<h1 class="admin-heading">Freelancer</h1>
				</div>

				<div th:replace="fragments/admin_user :: admin-user-header"></div>

			</div>
			<div class="admin-contentbox">
				<div class="client-box">
					<a th:href="@{/admin-freelancer}" class="arr-back"> <img
						src="../../../../assets/images/admin-imgs/lessthan.svg"
						alt="less than arrow" />
					</a>

					<div>
						<!-- display details of controller -->
						<p th:text="${message}" th:if="${message ne null}"
							class="alert alert-primary m-3"></p>
					</div>

					<div class="adminUtil-user-header">


						<img src="../../../../assets/images/admin-imgs/femi.svg"
							alt="A picture of femi" />

						<div class="adminUtil-user-details">
							<h1>
								Freelancer ID: <span th:text="${opUser.userId}"></span>
							</h1>
							<p style="font-size: 10px;"
								th:text="|${opUser.firstName} ${opUser.lastName}|">Remi
								Martin</p>
							<p style="font-size: 10px;">
								Account Status: <span
									th:text="${opUser.userStatus.userStatus} ?: '-'"></span>
						</div>

						<div class="adminUtil-user-cta">
							<a
								th:href="@{/block-freelancer-user/{user}(user=${opUser.username})}"><button
									type="button">
									<span> Block</span> <img
										src="../../../../assets/images/admin-imgs/cancel.svg"
										alt="
                cancel" />
								</button></a> <a
								th:href="@{/activate-freelancer-user/{user}(user=${opUser.username})}"><button>
									<span> Activate</span> <img
										src="../../../../assets/images/admin-imgs/halt.svg"
										alt="Activate" />
								</button></a>
						</div>
					</div>

					<div class="adminUtil-user-menu">
						<span class="active-freelancer" id="details">Details</span> <span
							id="jobs">Jobs</span> <span id="transactions">Transactions</span>
					</div>
					<!--  -->
					<div class="adminUtil-info">
						<div class="details-box clientdetailsbox" id="details">
							<div class="info-header">
								<h2>Basic Information</h2>
							</div>

							<div class="info">
								<span class="info-title">ID</span>
								<p th:text="${opUser.userId} ?: '-'">006456725</p>
							</div>
							<div class="info">
								<span class="info-title">Username</span>
								<p th:text="${opUser.username} ?: '-'">Remi</p>
							</div>
							<div class="info">
								<span class="info-title">First name</span>
								<p th:text="${opUser.firstName} ?: '-'">Remi</p>
							</div>
							<div class="info">
								<span class="info-title">Last name</span>
								<p th:text="${opUser.firstName} ?: '-'">Martin</p>
							</div>
							<div class="info">
								<span class="info-title">Middle name</span>
								<p
									th:text="${opUser.middleName.isEmpty()} ? '-' : ${opUser.middleName}">Martin</p>
							</div>
							<div class="info">
								<span class="info-title">Nationality</span>
								<p th:text="${opUser.nationality} ?: '-'">Nigeria</p>
							</div>
							<div class="info">
								<span class="info-title">Sex</span>
								<p th:text="${opUser.gender} ?: '-'">Male</p>
							</div>
							<div class="info">
								<span class="info-title">Phone number</span>
								<p class="green" th:text="${opUser.phone} ?: '-'">+233 903
									918 7653</p>
							</div>
							<div class="info">
								<span class="info-title">Email</span>
								<p class="green" th:text="${opUser.emailAddress} ?: '-'">remimartin@gmail.com</p>
							</div>
							<div class="info">
								<span class="info-title">Postal code</span>
								<p th:text="${opUser.postalCode} ?: '-'">004875</p>
							</div>

							<div class="info">
								<span class="info-title">User Status</span>
								<p th:text="${opUser.userStatus.userStatus} ?: '-'">Pending</p>
							</div>

							<div class="info">
								<span class="info-title">Country of <br /> residence
								</span>
								<p th:text="${opUser.country} ?: '-'">Nigeria</p>
							</div>
							<div class="info">
								<span class="info-title">Created Date</span>
								<p th:text="${opUser.createdDate} ?: '-'">created date</p>
							</div>
							<div class="info-header">
								<h2>Services</h2>
							</div>
							<div class="service-off">

								<div th:each="service : ${servicesRendered}">
									<div class="service-offered">
									
										<h1 th:text="${service.serviceType.typeName}">Translation</h1>

										<a th:href="${service.otherInfo}" target="_blank"
											class="green"><span> Portfolio <img
												src="../../../../assets/images/greenarr.svg"
												alt="green arrow" />
										</span></a>
									</div>
									
									<div class="service-offered">
									
										<div class="services-languages"
											th:each="pricing : ${@ClientComponentModel.getServicePricings(service.serviceType.typeId)}">

											<span>$</span>
											<button class="service-btn"
												th:text="${@ClientComponentModel.getFreelancerPrices(pricing,opUser.username).minPrice}">100.00</button>

											<span>-</span> <span>$</span>
											<button class="service-btn"
												th:text="${@ClientComponentModel.getFreelancerPrices(pricing,opUser.username).maxPrice}">200.0</button>
										</div>

										<div class="services-languages"
											th:each="freelancerLanguage : ${@ClientComponentModel.get3FreelancerServiceLanguages(service,opUser.username)}">

											<button class="service-btn"
												th:text="${freelancerLanguage.languageId.language != null || !freelancerLanguage.languageId.language.isEmpty()} ? ${freelancerLanguage.languageId.language} : 'No Language'">Yoruba</button>
											
											<button class="service-btn" th:if="${freelancerLanguage.voiceType != null}"
												th:text="${freelancerLanguage.voiceType}">Voice Type</button>

										</div>
									</div>
								</div>

							</div>
						</div>

						<!-- JOBS SECTION -->
						<div class="jobs clientsjobsbox">
							<div class="info-header">
								<h2>Job summary</h2>
							</div>

							<div class="info">
								<span class="info-title">Active Jobs</span>
								<p th:text="${deliverySize.activeDelivery}">2</p>
							</div>
							<div class="info">
								<span class="info-title">Completed Jobs</span>
								<p th:text="${deliverySize.completedDelivery}">30</p>
							</div>
							<div class="info">
								<span class="info-title">Finished Jobs </span>
								<p th:text="${deliverySize.finishedDelivery}">2</p>
							</div>
							<div class="info random-m">
								<span class="info-title">All Request</span>
								<p th:text="${deliverySize.allRequest}">40</p>
							</div>


							<div class="info-header">
								<h2>Proposal Activity</h2>
							</div>
							<div class="jobs-cta">
								<div class="jobs-cta-header">
									<p class="light-text">Filter by:</p>
									<!-- <div class="filter-option">
										<span>Service type</span> <select name="select" id="job"
											class="option-all">
											<option value="all">All</option>
											<option value="all">All</option>
											<option value="all">All</option>
										</select> <img src="../../../../assets/images/admin-imgs/drpdown.svg"
											class="dropdown-icon" alt="dropdown" />
									</div> -->

									<div class="filter-option">
										<span>Job Status</span> <select name="select" id="job"
											class="option-all"
											onchange="javascript:handleProposalSelect(this)">
											<option value="">Please select status</option>
											<option th:each="deliveryStatus : ${proposalsStatus}"
												th:value="|${deliveryStatus.proposalStatusId}-${opUser.username}|"
												th:text="${deliveryStatus.status}" />

										</select> <img src="../../../../assets/images/admin-imgs/drpdown.svg"
											class="dropdown-icon" alt="dropdown" />
									</div>
								</div>

								<form th:action="@{/freelancer-proposal-search}"
									th:object="${SearchDTO}" method="post">

									<div class="job-search">
										<label class="light-text" id="job-search">Search:</label> <input
											type="hidden" name="userId" th:value="${opUser.username}" />

										<div class="search">
											<img src="../../../../assets/images/admin-imgs/li.svg"
												alt="search icon" /> <input type="text" name="workOrderId"
												id="job-search" placeholder="Search Job ID" />
										</div>

										<button type="submit" class="btn btn-outline-secondary">Search</button>
									</div>
								</form>

								<div class="util-cta-table">
									<table id="cta-table">
										<thead>
											<tr>
												<th>S/N</th>
												<th>Proposal ID</th>
												<th>Job ID</th>
												<th>Client</th>
												<th>Freelancer</th>
												<th>Proposal Status</th>
												<th>Amount</th>
												<th>Modified Date</th>
												<th>Created Date</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="temp, iStat : ${proposals}">
												<td th:text="${iStat.index+1}">1</td>
												<td class="id" th:text="${temp.proposalId}">00032356679849</td>
												<td th:text="${temp.workOrder.workId}">Translation</td>
												<td
													th:text="|${temp.workOrder.user.firstName} ${temp.workOrder.user.lastName}|">In
													progress</td>
												<td th:text="|${temp.user.firstName} ${temp.user.lastName}|">In
													Escrow</td>
												<td class="id green" th:text="${temp.proposalStatus.status}">00032356679849</td>
												<td th:text="${temp.amount}">$700</td>
												<td th:text="${temp.modifiedDate}">2 March 2021, 4:18pm</td>
												<td th:text="${temp.createdDate}">2 March 2021, 4:18pm</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>

						<!-- ///// -->

						<!-- TRANSACTIONS -->
						<div id="transactions" class="client-transaction-box">
							<div class="info-header">
								<h2>Transaction summary</h2>
							</div>

							<div class="info">
								<span class="info-title">In Account</span>
								<p>
									$ <span th:text="${inAccount}"></span>
								</p>
							</div>
							<div class="info">
								<span class="info-title">In Escrow</span>
								<p>
									$ <span th:text="${totalEscrow}"></span>
								</p>
							</div>
							<div class="info">
								<span class="info-title">Total Earnings</span>
								<p>
									$ <span th:text="${totalEarning}"></span>
								</p>
							</div>
							<div class="info">
								<span class="info-title">Withdrawals</span>
								<p>
									$ <span th:text="${totalWithdrawn}"></span>
								</p>
							</div>
							<div class="info random-m">
								<span class="info-title">Transaction Count</span>
								<p>
									$ <span th:text="${workfreelancerPaymentsSize}"></span>
								</p>
							</div>

							<div class="info-header">
								<h2>Activity</h2>
							</div>

							<div class="jobs-cta-header">
								<p class="light-text">Filter by:</p>
								<!-- <div class="filter-option">
									<span>Service type</span> <select name="select" id="job"
										class="option-all">
										<option value="all">All</option>
										<option value="all">All</option>
										<option value="all">All</option>
									</select> <img src="../../../../assets/images/admin-imgs/drpdown.svg"
										class="dropdown-icon" alt="dropdown" />
								</div> -->

								<div class="filter-option">
									<span>Job Status</span> <select name="select" id="job"
										class="option-all"
										onchange="javascript:handleDeliveryStatusSelect(this)">
										<option value="">Please select status</option>
										<option th:each="deliveryStatus : ${deliveryStatus}"
											th:value="|${deliveryStatus.deliveryStatusId}-${opUser.username}|"
											th:text="${deliveryStatus.status}" />

									</select> <img src="../../../../assets/images/admin-imgs/drpdown.svg"
										class="dropdown-icon" alt="dropdown" />
								</div>

							</div>

							<form th:action="@{/freelancer-delivery-search}"
								th:object="${SearchDTO}" method="post">

								<div class="job-search">
									<label class="light-text" id="job-search">Search:</label> <input
										type="hidden" name="userId" th:value="${opUser.username}" />

									<div class="search">
										<img src="../../../../assets/images/admin-imgs/li.svg"
											alt="search icon" /> <input type="text" name="workOrderId"
											id="job-search" placeholder="Search Job ID" />
									</div>

									<button type="submit" class="btn btn-outline-secondary">Search</button>
								</div>
							</form>

							<div class="util-cta-table">
								<table id="cta-table">
									<thead>
										<tr>
											<th>S/N</th>
											<th>Delivery ID</th>
											<th>Job ID</th>
											<th>Freelancer</th>
											<th>Amount</th>
											<th>Delivery Status</th>
											<th>Payment Status</th>
											<th>Start Date</th>
											<th>End Date</th>
											<th>Completed Date</th>
											<th>Created Date</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="temp, iStat : ${allFreelancerDelivery}">
											<td th:text="${iStat.index+1}">1</td>
											<td class="id" th:text="${temp.deliveryId}">00032356679849</td>
											<td th:text="${temp.workOrder.workId}">Translation</td>
											<td th:text="|${temp.user.firstName} ${temp.user.lastName}|">In
												progress</td>
											<td th:text="${temp.amount}">In Escrow</td>
											<td class="green" th:text="${temp.deliveryStatus.status}">00032356679849</td>
											<td th:text="${temp.deliveryStatus.status}">$700</td>
											<td th:text="${temp.startDate}">2 March 2021, 4:18pm</td>
											<td th:text="${temp.endDate}">2 March 2021, 4:18pm</td>
											<td th:text="${temp.completedDate}">28 September 2021,
												9:23PM</td>
											<td th:text="${temp.createdDate}">In Review</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- jquery latest version -->
	<script src="../../../../assets/JS/js/vendor/jquery-2.2.4.min.js"></script>
	<script src="../../../../assets/JS/js/jquery.slimscroll.min.js"></script>
	<script src="../../../../assets/JS/js/jquery.slicknav.min.js"></script>

	<script type="text/javascript">
		function handleProposalSelect(elm) {

			var action = "/freelancer-details-by-statusId";

			var concatString = elm.value.split("-");

			var status = concatString[0];
			var opUser = concatString[1];

			$.ajax({
				url : action,
				type : "GET",
				data : {
					statusId : status,
					userId : opUser
				},
				success : function(data) {
					window.location.href = data;
				}
			});
		}

		function handleDeliveryStatusSelect(elm) {

			var action = "/freelancer-details-by-deliveryStatus";

			var concatString = elm.value.split("-");

			var status = concatString[0];
			var opUser = concatString[1];

			$.ajax({
				url : action,
				type : "GET",
				data : {
					statusId : status,
					userId : opUser
				},
				success : function(data) {
					window.location.href = data;
				}
			});
		}
	</script>
</body>
</html>
