<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<title>Client Finished</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" href="../../assets/CSS/css/bootstrap.min.css" />
<link rel="stylesheet" href="../../assets/CSS/css/metisMenu.css" />
<link rel="stylesheet" href="../../assets/CSS/css/slicknav.min.css" />
<link
	href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
	rel="stylesheet" />
<!-- amchart css -->
<link rel="stylesheet"
	href="https://www.amcharts.com/lib/3/plugins/export/export.css"
	type="text/css" media="all" />
<!-- others css -->
<link rel="stylesheet" href="../../assets/CSS/css/typography.css" />
<link rel="stylesheet" href="../../assets/CSS/css/default-css.css" />
<link rel="stylesheet" href="../../assets/CSS/css/styles.css" />
<link rel="stylesheet" href="../../assets/CSS/css/responsive.css" />
<link rel="stylesheet" href="../../assets/CSS/css/finance.css" />

<!-- modernizr css -->
<script src="../../assets/JS/js/vendor/modernizr-2.8.3.min.js"></script>
<script src="../../assets/JS/js/scripts.js" defer></script>
</head>

<body>
	<div id="preloader">
		<div class="loader"></div>
	</div>
	<!-- preloader area end -->
	<!-- page container area start -->
	<div class="page-container">
		<!-- Header area start -->
		<div class="overlay"></div>

		<!-- top-nav start -->
		<div th:replace="fragments/main_topnav :: topnav"></div>
		<!-- top-nav end -->

		<!-- side-nav start -->
		<div th:replace="fragments/main_sidenav :: sidenav"></div>
		<!-- side-nav end -->


		<div class="main">
			<div class="main__headerbox">
				<div class="clientrequests-heading">
					<div class="random__flex">
						<h1>Jobs</h1>
						<h1>Finished</h1>
						<span>Finished Details</span>
					</div>
					<a th:href="@{/client-dashboard}" class="newrequestBtn"> New
						Request <span class="material-symbols-outlined"> add </span>
					</a>
				</div>
			</div>
			<!-- job alerts area start -->
			<div class="main__contentbox mt-3 finished-job-overview">
				<div>
					<div class="mt-4 inprogress-flex">
						<div class="finished-left">
							<div class="job-alerts mb-3">
								<div class="job-alerts-card-body my-3">

									<!-- display details of controller -->
									<p th:text="${message}" th:if="${message ne null}"
										class="alert alert-primary mt-3"></p>

									<div class="d-flex justify-content-between align-items-center">
										<div class="griddy">
											<span class="mr-3 job-alerts-voiceover">
												<div class="mr-2 job-alerts-voiceover-color"></div> <span
												th:text="${opDeliveryDetails.workOrder.serviceType.typeName}">
													Voice-over</span>
											</span> <span class="mr-3 job-alerts-lang"
												th:text="${@ClientComponentModel.translateIdToLanguage(orderSource)}">
												French </span> <span class="mr-3 job-alerts-lang"
												th:text="${@ClientComponentModel.translateIdToLanguage(orderSource)}">
												English </span>
										</div>
									</div>

									<h2 class="job-alert-card-body-title mb-3"
										th:text="${opDeliveryDetails.workOrder.workTitle}">Translate
										Physics textbook from English Languague to French</h2>

									<div class="job-alerts-footer">
										<div class="d-flex align-items-center mb-3">
											<div class="mr-3 d-flex">
												<span class="material-symbols-outlined mr-2">timer</span> <span
													th:text="${opDeliveryDetails.workOrder.duration.duration}">3
													<span>Month(s)</span>
												</span>
											</div>
											<div class="mr-3 d-flex">
												<span class="material-symbols-outlined mr-2">attach_file</span>
												<span
													th:text="${@ClientComponentModel.getAttachmentForDelivery(opDeliveryDetails.workOrder.workId).size()}">4
													<span>PDFs</span>
												</span>
											</div>
											<div class="mr-3 d-flex">
												<span class="material-symbols-outlined mr-2">payments</span>

												<span>$</span><span
													th:text="${opDeliveryDetails.workOrder.minAmount}">20</span>&nbsp;-&nbsp;<span>$</span><span
													th:text="${opDeliveryDetails.workOrder.maxAmount}">30</span>
												</span>
											</div>
										</div>

										<div class="mt-4 d-flex align-items-center griddy">
											<span class="finished-status"> <span
												class="material-symbols-outlined mr-3"> flag </span> <span>Finished</span>
											</span> <span class="duedate ml-3">Completed on <span
												th:text="${opDeliveryDetails.endDate}">May 10</span></span>
										</div>
									</div>
								</div>
							</div>


							<div class="job-alerts mb-3">
								<div
									class="d-flex align-items-center justify-content-between mt-3">
									<label class="clientfinished-label">Submissions</label>
									<div>
										<a
											th:href="@{/client/details/{id}(id=${opDeliveryDetails.workOrder.workId})}"
											class="viewjobdetails">View job details</a>
									</div>
								</div>
								<div class="mt-3">
									<!-- <a th:href="@{|/files/download?id=${tempAttachment.linkMediaFile}|}"> -->
									<div class="option-flex"
										th:each="tempDelivery, iStat : ${deliveryAttachmentList}">
										<div class="jobs-flex">
											<span class="material-symbols-outlined draft-icon">
												draft </span>
											<div class="ml-3">
												<p th:text="${tempDelivery.linkMediaFile}">Physics
													textbook in French (01).pdf</p>
												<p>
													This file is to be translated from <span
														th:text="@{${@ClientComponentModel.translateIdToLanguage(tempDelivery.deliveryAttachment.source)}}"></span>
													to <span
														th:text="@{${@ClientComponentModel.translateIdToLanguage(tempDelivery.deliveryAttachment.destination)}}"></span>
												</p>
												<p>
													Uploaded <span
														th:text="${tempDelivery.workOrderDelivery.createdDate}">
														3 Hours ago</span>
												</p>
											</div>
										</div>
										<div class="files-options">
											<button class="options-btn">
												<img src="../../assets/images/dottings.svg" alt="" />
											</button>

											<!-- options start -->
											<div class="options-modal">

												<!-- <a th:href="@{|/files/load?id=${tempDelivery.linkMediaFile}|}"> -->

												<div class="option" id="view-option"
													th:if="@{${@ClientComponentModel.checkExtention(tempDelivery.linkMediaFile)  == 'image'}}">
													<div class="modal-option" data-toggle="modal"
														data-target="#pdfModal"
														th:data-id="${tempDelivery.linkMediaFile}">
														<img src="../../assets/images/eye-outline.svg"
															alt="eye icon" />
														<p>view</p>
													</div>
												</div>


												<div class="modal-option" id="download-option">
													<img src="../../assets/images/downloadicon.svg"
														alt="download-icon" /> <a class="download"
														th:href="@{|/files/download?id=${tempDelivery.linkMediaFile}|}"
														download>download</a>
												</div>


												<!-- <div class="option" id="recording-option">
													<div class="modal-option recordingButton" id="record"
														th:linkMedia="${tempDelivery.linkMediaFile}">
														<img src="../../assets/images/audio-file.svg"
															alt="audio-file" />
														<p>recording</p>
													</div>
											
													<div class="recording">
														<div class="recording-title">The Evolution of the
															super human</div>

														<audio id="recording-audio" controls src="">
														</audio>

														<audio id="myAudio">
															<source type="audio/mp4" id="audioPreview" src="" />
														</audio>
														<input type="range" min="0" max="100" value="0"
															id="audioSlider" />
														<button class="audio-btns">
															<img class="play" src="../../assets/images/play.svg"
																alt="play" /> <img class="pause"
																src="../../assets/images/pause.svg" alt="pause" />
														</button>
													</div>
												</div> -->



												<div class="modal-option" id="delete-option"></div>
											</div>
											<!-- options end -->

										</div>
									</div>

									<div
										class="job-details-footer d-flex align-item-baseline justify-content-end mt-5">
										<!-- This is to request revision -->
										<button class="logoutBtn mr-5" data-toggle="modal"
											data-target="#reviewmodal" th:if="${reviews.size() > 0}">Request
											Revision</button>

										<button class="uploadbtn clientrequesteditBtn">Close
											Job</button>
									</div>
								</div>
							</div>



							<div class="job-alerts">
								<label>Deliverables</label>
								<div class="job-alerts-card-body my-1">
									<div class="inprogress-fhead">
										<h1>Service</h1>
										<h1>File</h1>
									</div>

									<div class="inprogress-fbody"
										th:each="deliveryData : ${deliveryAttachmentList}">
										<h1 class="fw-600"
											th:text="${deliveryData.workOrderDelivery.workOrder.serviceType.typeName}">Translation</h1>
										<h1 th:text="${deliveryData.linkMediaFile}"></h1>
									</div>

								</div>
							</div>

							<div class="job-alerts mb-3" th:if="${reviews.size() == 0}">
								<div class="finishedreview">
									<img src="../../assets/icons/satisfaction.svg"
										alt="review-icon" class="mb-3" />
									<p class="mb-3">
										You haven't given <span>Micheal</span> any review
									</p>
									<button class="uploadbtn" data-toggle="modal"
										data-target="#reviewmodal">Review workorder</button>
								</div>
							</div>

							<div class="job-alerts mb-3" th:if="${reviews.size() > 0}">
								<div class="mt-3">
									<div class="client-review profile-services">
										<label for="" class="profile-service-label"> Reviews</label>

										<div class="mb-1">
											<span class="profile-service-label"
												th:text="${reviews.size()}"> 40 </span> <span
												class="profile-service-label">Review(s)</span>
										</div>

										<div>
											<div class="d-flex align-item-center mb-5 flex-wrap"
												th:each="review : ${reviews}">
												<div class="client-profile-photo"
													th:switch="${@ClientComponentModel.checkProfile()}">

													<img th:case="'Administrator'"
														src="../../../assets/images/avatar.png"
														alt="client-profile" /> <img th:case="'Supervisor'"
														th:src="@{|/images/view?filename=${@ClientComponentModel.getUserDetails(review.user.userId).profilePicture}|}"
														alt="client-profile"
														style="width: 100px; height: 50px; border-radius: 50px;" />
													<img th:case="'Client'"
														th:src="@{|/images/view?filename=${@ClientComponentModel.getUserDetails(review.user.userId).profilePicture}|}"
														alt="client-profile"
														style="width: 100px; height: 50px; border-radius: 50px;" />
													<img th:case="'Freelancer'"
														th:src="@{|/images/view?filename=${@ClientComponentModel.getUserDetails(review.user.userId).profilePicture}|}"
														alt="client-profile"
														style="width: 100px; height: 50px; border-radius: 50px;" />
												</div>

												<div class="ml-3">
													<div class="client-profile-name">
														<div>
															<span>Freelancer - </span> <span
																th:text="|${@ClientComponentModel.getUserDetails(review.user.userId).firstName} ${@ClientComponentModel.getUserDetails(review.user.userId).lastName}|">
																Godwin Uchenna</span>

														</div>

														<small class="client-reviewdate"
															th:text="${review.entryDate}">3rd October 2022</small>

														<p th:text=${review.review}>Micheal is easy to talk to
															and very helpful in guiding writers in the steps required
															to get their work published.</p>
													</div>

													<!-- Ratings for review 
													<span class="client-ratingstar"><img
														src="../../assets/icons/rating stars.svg" alt="" /></span> -->
												</div>
											</div>
										</div>

										<!-- button to see all reviews  -->
										<!-- <a href="#" class="more-reviews">See
											all Reviews <span><img
												src="../../assets/icons/arrow_right.svg" alt="" /></span>
										</a> -->
									</div>
								</div>

							</div>

						</div>

						<div class="job-status">
							<div class="job-progress-status">
								<div class="job-status-heading">
									<span>Job Status</span>
								</div>

								<div th:each="jobStatusOb, iStat : ${jobStatuses}">
									<div class="job-status-progress">
										<div
											th:attr="class=${@ClientComponentModel.checkCurrentJobStatus(opDeliveryDetails.workOrder.workId).equals(jobStatusOb.jobStatusName) ? 'circle circle-completed' : 'circle'}"
											th:text="${iStat.index+1}">1</div>
										<span th:text="${jobStatusOb.jobStatusName}">Post job</span>
									</div>
								</div>
							</div>

							<div class="freelancer-chosen">
								<div class="job-status-heading border-0">
									<img
										th:src="@{|/images/view?filename=${opDeliveryDetails.user.profilePicture}|}"
										alt="freelancer-chosen"style="border-radius: 50px; width: 50px; height: 50px;"/>
									<p class="mt-3"
										th:text="|${opDeliveryDetails.user.lastName} ${opDeliveryDetails.user.firstName}|">Michael
										Jordan</p>
									<p
										th:text="${opDeliveryDetails.workOrder.serviceType.typeName}">Interpreter</p>

								</div>

								<div class="progress-flex">
									<div class="job-status-progress" style="display: inline-block;">
										<div>Languages</div>
										<span
											th:each="language : ${@ClientComponentModel.getFirst3FreelancerServiceLanguage(opDeliveryDetails.user)}">
											<span th:text="${language.languageId.language}"></span>
										</span>
									</div>
									<div class="job-status-progress">
										<span>Projects</span> <span>140</span>
									</div>

									<!-- <div class="job-status-progress">
										<span>Ratings</span> <span>4.5 (60 people)</span>
									</div> -->
									<div class="text-center">
										<a
											th:href="@{/clientFreelancerProfile/{id}/{user}(id=${opDeliveryDetails.workOrder.workId}, user=${opDeliveryDetails.user.username})}"
											class="transparentBtn">Portfolio</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal -->
		<div class="modal fade" id="reviewmodal" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">

					<form th:action="@{/review-work-order-client}"
						th:object="${ReviewWorkOrderDTO}" method="post">

						<div class="modal-header">
							<h2 class="modal-title" id="exampleModalLongTitle">Request
								Review</h2>

							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>

						<div class="modal-body">
							<div class="input-group mb-4">
								<h4>Review work order.</h4>
							</div>

							<input type="hidden" name="deliveryId"
								th:value="${opDeliveryDetails.deliveryId}" /> <input
								type="hidden" name="workOrderId"
								th:value="${opDeliveryDetails.workOrder.workId}" /> <input
								type="hidden" name="userId"
								th:value="${opDeliveryDetails.user.userId}" />

							<div class="input-group mb-4">
								<textarea name="review" rows="6" style="font-size: 15px;"></textarea>
							</div>
						</div>

						<div class="modal-footer">
							<button type="submit" class="btn btn-success btn-lg">Review</button>

							<button type="button" class="btn btn-secondary btn-lg"
								data-dismiss="modal">Close</button>

						</div>
					</form>
				</div>
			</div>
		</div>

	</div>
	<!-- </div> -->
	<!-- </div> -->

	<!-- logout Modal -->
	<div class="modal fade" id="pdfModal" data-keyboard="false"
		tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content logoutModal">
				<embed class="view-pdf" id="filepreview" src=""></embed>
			</div>
		</div>
	</div>

	<!-- jquery latest version -->
	<script src="../../assets/JS/js/vendor/jquery-2.2.4.min.js"></script>
	<!-- bootstrap 4 js -->
	<script src="../../assets/JS/js/popper.min.js"></script>
	<script src="../../assets/JS/js/bootstrap.min.js"></script>
	<script src="../../assets/JS/js/owl.carousel.min.js"></script>
	<script src="../../assets/JS/js/metisMenu.min.js"></script>
	<script src="../../assets/JS/js/jquery.slimscroll.min.js"></script>
	<script src="../../assets/JS/js/jquery.slicknav.min.js"></script>
	<script type="module"
		src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule
		src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
	<!-- others plugins -->
	<script src="../../assets/JS/js/plugins.js"></script>
	<script src="../../assets/JS/js/scripts.js"></script>
	<script>
		$('#pdfModal').on('show.bs.modal', function(event) {

			var button = $(event.relatedTarget); // Button that triggered the modal
			var id = button.data('id'); // Extract info from data-* attributes

			var modal = $(this);

			var action = "/files/load?id=" + id;

			/* To Test */
			/*  var action = "/files/load?id=tao-of-react.pdf"; */

			$.ajax({
				url : action,
				type : "GET",
				success : function(data) {
					$('#filepreview').attr('src', `${data}`);
				}
			});

		});

		var element = document.querySelector(".recordingButton"); //grab the element
		element.onclick = function() { //asign a function

			alert("In");

			var id = $(this).attr('linkMedia');

			var extentionType = [ 'mp3', 'aac', 'flac', 'alac', 'wav', 'dsd',
					'pcm', 'm4a' ];

			var splittedName = id.split(".");
			var extension = splittedName[1].toLowerCase();

			var action = "/files/load?id=" + id;

			$.ajax({
				url : action,
				type : "GET",
				success : function(data) {

					console.log("extension: " + extension);
					console.log("data: " + data);

					if (extentionType.includes(extension)) {
						$('#recording-audio').attr('src', data);
					}
				}
			});
		}
	</script>
</body>
</html>
