<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<title>Bidding Freelancers</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" href="../../assets/CSS/css/bootstrap.min.css" />
<link rel="stylesheet" href="../../assets/CSS/css/metisMenu.css" />
<link rel="stylesheet" href="../../assets/CSS/css/slicknav.min.css" />
<link
	href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
	rel="stylesheet" />
<link rel="shortcut icon" href="../../assets/icons/fav.png"
	type="image/x-icon" />
<!-- amchart css -->
<link rel="stylesheet"
	href="https://www.amcharts.com/lib/3/plugins/export/export.css"
	type="text/css" media="all" />
<!-- others css -->
<link rel="stylesheet" href="../../assets/CSS/css/typography.css" />
<link rel="stylesheet" href="../../assets/CSS/css/default-css.css" />
<link rel="stylesheet" href="../../assets/CSS/css/styles.css" />
<link rel="stylesheet" href="../../assets/CSS/css/responsive.css" />
<link rel="stylesheet" href="../../assets/CSS/css/finance.css" />

<!-- modernizr css -->
<script src="../../assets/JS/js/vendor/modernizr-2.8.3.min.js"></script>
<script src="../../assets/JS/js/scripts.js" defer></script>
<style>
#outer-div {
	width: 100%;
	text-align: center;
}

#inner-div {
	display: inline-block;
	margin: 0 auto;
	padding: 3px;
}
</style>
</head>

<body>
	<div id="preloader">
		<div class="loader"></div>
	</div>
	<!-- preloader area end -->
	<!-- page container area start -->
	<div class="page-container">
		<!-- Header area start -->
		<div class="overlay"></div>

		<!-- top-nav start -->
		<div th:replace="fragments/main_topnav :: topnav"></div>
		<!-- top-nav end -->

		<!-- side-nav start -->
		<div th:replace="fragments/main_sidenav :: sidenav"></div>
		<!-- side-nav end -->

		<div class="main">
			<div class="main__headerbox">
				<div
					class="bigger-margin clientrequests-heading d-flex align-items-center justify-content-between">
					<div>
						<a th:href="@{/client/job/bids}" class="header-link"> <span>Bids</span>
						</a> <span>Freelancers</span>
					</div>
				</div>
			</div>

			<!-- job alerts area start -->
			<div class="main__contentbox mt-3 details-box-cl">
				<div>
					<div class="job-alerts mb-3">
					
					<!-- display details of controller -->
          			 <p th:text="${message}" th:if="${message ne null}" class="alert alert-primary mt-3"></p>


						<div class="job-alerts-card-body">
							<div class="my-4">
								<div class="griddy">
									<span class="mr-3 job-alerts-voiceover">
										<div class="mr-2 job-alerts-voiceover-color"></div> <span
										th:text="${workOrderDetails?.serviceType?.typeName}">Voice-over</span>
									</span> <span class="mr-3 job-alerts-lang"
										th:text="@{ ${workOrderFirstAttachment.source != null} ? ${@ClientComponentModel.translateIdToLanguage(workOrderFirstAttachment?.source)}}">
										French </span> <span class="mr-3 job-alerts-lang"
										th:text="@{ ${workOrderFirstAttachment?.destination != null} ? ${@ClientComponentModel.translateIdToLanguage(workOrderFirstAttachment?.destination)}}">
										English </span>
								</div>
							</div>

							<h2 class="job-alert-card-body-title mb-3"
								th:text="${workOrderDetails?.workTitle}">Translate Physics
								textbook from English Languague to French</h2>
							<div class="job-alerts-footer">
								<div class="d-flex align-items-center mb-3 griddy">
									<div class="mr-3 d-flex">

										<span class="material-symbols-outlined mr-2">savings</span> <span>$</span><span
											th:text="${workOrderDetails?.minAmount}">20</span>&nbsp;-&nbsp;<span>$</span><span
											th:text="${workOrderDetails?.maxAmount}">30</span> <span>&nbsp;
											per page</span></span>
									</div>
									<div class="mr-3 d-flex">
										<span class="material-symbols-outlined mr-2">attach_file</span>
										<span
											th:text="@{${@ClientComponentModel.getWorkAttachments(workOrderDetails?.workId)}}">4
											<span>PDFs</span>
										</span>
									</div>
									<div class="mr-3 d-flex">
										<span class="material-symbols-outlined mr-2">timer</span> <span
											th:text="${workOrderDetails?.duration?.duration}">3
											&nbsp;<span>days</span>
										</span>
									</div>
								</div>
								<div class="clientmorejobs">
									<p>
										<a
											th:href="@{/client/details/{id}(id=${workOrderDetails?.workId})}">More
											job details</a>
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="mt-3" th:if="${clientProposalList.size() == 0}"
						id="outer-div">
						<div class="mt-4" id="inner-div">
							<div class="job-alerts mr-5">
								<div class="job-alerts-card-body my-3">
									<div>
										<div class="upload-start">
											<span style="font-size: 30px">Check back later!</span>
											<p style="font-size: 20px">No Recommended freelancer for
												your work order</p>
											<!-- <button class="uploadbtn">Upload</button> -->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="job-alerts" th:if="${clientProposalList.size() > 0}">
						<span class="job-details-content-title">Recommended
							Freelancers</span>

						<div class="freelancer-bidding">
							<div class="bidding-freelancer"
								th:each="clientProposal, index : ${clientProposalList}">

								<a  th:href="@{/client-profile-overview/{id}/{userId}(id=${workOrderDetails.workId}, userId=${clientProposal.userId})}">
									<div class="d-flex align-items-start p-4 griddy pb-0">
										<img
											th:src="@{${'/profilepictures/' + @ClientComponentModel.getUserDetails(clientProposal.userId).profilePicture}}"
											style="width: 80px; height: 80px; border-radius: 50%;"
											alt="freelancer" />

										<div class="ml-4">
											<p class="freelancers-bidding-name"
												th:text="|${@ClientComponentModel.getUserDetails(clientProposal.userId).firstName} ${@ClientComponentModel.getUserDetails(clientProposal.userId).lastName}|">Michael
												Jordan</p>
											<p class="freelancer-bidding-skill"
												th:text="${@ClientComponentModel.getUserDetails(clientProposal.userId).address}">No
												2, Fassy Adesina</p>
											<p class="freelancer-location"
												th:text="${@ClientComponentModel.getUserDetails(clientProposal.userId).country}">Nigeria</p>
											<p class="mr-3 freelance-expertise"
												th:each="freelancerLanguage : ${@ClientComponentModel.getFirst3FreelancerServiceLang(clientProposal.userId)}">
												<span th:text="${freelancerLanguage.languageId.language}">Hausa</span>
											</p>
										</div>
									</div>

									<div class="dashboard-earning-stats mt-3 freelance-history">
										<div>
											<p class="withdrawn-amt"
												th:text="${@ClientComponentModel.getNoOfServicesRendered(clientProposal.userId)}">4</p>
											<p>Service Rendered</p>
										</div>
										<div>
											<p class="credited-amt">
												<span th:text="${clientProposal.experienceInYears}"></span>
											</p>
											<p>Experience(Year)</p>
										</div>
									</div>
								</a>

							</div>

						</div>


					</div>

				</div>
			</div>
		</div>
	</div>

	<!-- logout Modal -->
	<div class="modal fade" id="logoutModal" data-backdrop="static"
		data-keyboard="false" tabindex="-1"
		aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content logoutModal">
				<div class="modal-header">
					<p class="modal-title" id="logoutModalLabel">Log out of iVoice
						Africa?</p>
				</div>
				<div class="modal-body logoutModal-body">You can log in
					anytime with your email and password</div>
				<div class="modal-footer logoutModal-footer">
					<a href="../../onboarding/client/sign-in.html">
						<button class="transparentBtn">Logout</button>
					</a>
					<button class="logoutBtn" data-dismiss="modal" aria-label="Close">
						Cancel</button>
				</div>
			</div>
		</div>
	</div>

	<!-- jquery latest version -->
	<script src="../../assets/JS/js/vendor/jquery-2.2.4.min.js"></script>
	<!-- bootstrap 4 js -->
	<script src="../../assets/JS/js/popper.min.js"></script>
	<script src="../../assets/JS/js/bootstrap.min.js"></script>
	<script src="../../assets/JS/js/owl.carousel.min.js"></script>
	<script src="../../assets/JS/js/metisMenu.min.js"></script>
	<script src="../../assets/JS/js/jquery.slimscroll.min.js"></script>
	<script src="../../assets/JS/js/jquery.slicknav.min.js"></script>

	<!-- others plugins -->
	<script type="module"
		src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule
		src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
	<script src="../../assets/JS/js/plugins.js"></script>
	<script src="../../assets/JS/js/scripts.js"></script>
</body>
</html>
