<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Client Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="assets/CSS/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/CSS/css/metisMenu.css" />
    <link rel="stylesheet" href="assets/CSS/css/slicknav.min.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <!-- amchart css -->
    <link
      rel="stylesheet"
      href="https://www.amcharts.com/lib/3/plugins/export/export.css"
      type="text/css"
      media="all"
    />
    <!-- others css -->
    <link rel="stylesheet" href="assets/CSS/css/typography.css" />
    <link rel="stylesheet" href="assets/CSS/css/default-css.css" />
    <link rel="stylesheet" href="assets/CSS/css/styles.css" />
    <link rel="stylesheet" href="assets/CSS/css/responsive.css" />
    <link rel="stylesheet" href="assets/CSS/css/finance.css" />

    <!-- modernizr css -->
    <script src="assets/JS/js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="assets/JS/js/scripts.js" defer></script>
  </head>

  <body>
    <div id="preloader">
      <div class="loader"></div>
    </div>
    <!-- preloader area end -->
    <!-- page container area start -->
    <div class="page-container">
      <!-- Header area start -->

      <div class="header-area">
        <div class="headerarea-divder">
          <div class="sidebar-header d-flex align-items-center">
            <div class="nav-btn pull-left">
              <img src="assets/icons/menu-open.svg" alt="menu-open" />
            </div>
            <div class="ml-5 logo">
              <a href="newrequest.html"
                ><img src="assets/images/ivoiceafrica logo 1.png" alt="logo"
              /></a>
            </div>
          </div>
          <!-- Searchbar and notification start -->
          <div
            class="d-flex align-items-center big-margin justify-content-between w-70"
          >
            <div class="search-box pull-left">
              <form action="#">
                <i class="ti-search"></i>
                <input
                  type="text"
                  name="search"
                  placeholder="Search..."
                  required
                />
              </form>
            </div>

            <div>
              <div class="notification-area d-flex">
                <a
                  href="clientnotification.html"
                  class="text-center notification-btn"
                >
                  <span class="material-symbols-outlined"> notifications </span>
                  <p>Notifications</p>
                </a>

                <button
                  class="text-center ml-5"
                  type="button"
                  id="show_modal_btn"
                >
                  <span class="material-symbols-outlined">
                    account_circle
                  </span>
                  <span class="material-symbols-outlined">
                    arrow_drop_down
                  </span>
                  <p>My profile</p>
                </button>

                <!-- Searchbar and notification end -->

                <!-- The Freelancer's modal start -->
                <div
                  class="row border profile-modal profile-modal_active"
                  id="profileModal"
                >
                  <div class="col">
                    <div class="modal-head">
                      <div>
                        <img src="assets/images/profile.svg" alt="profile" />
                      </div>
                      <p class="freelancer-name">Bukola Adesina</p>
                      <p>Freelancer</p>
                      <div class="freelancers-status">
                        <div class=""><span>Available</span></div>
                        <div class=""><span> Away</span></div>
                        <div class=""><span> Busy</span></div>
                      </div>
                    </div>
                    <div class="modal-body">
                      <div class="d-flex align-items-center mb-2">
                        <img src="assets/icons/profile_icon.svg" alt="" />
                        <span class="ml-2">Profile</span>
                      </div>
                      <div class="d-flex align-items-center mb-2">
                        <img src="assets/icons/padlock_icon.svg" alt="" />
                        <span class="ml-2">Change Password</span>
                      </div>
                      <div class="d-flex align-items-center mb-2">
                        <img src="assets/icons/logout_icon.svg" alt="" />
                        <span class="ml-2">Logout</span>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- The Freelancer's modal end -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Header area end -->

      <div class="main-content">
        <div class="page-divider">
          <div class="sidebar-menu">
            <!-- sidebar menu area start -->
            <div class="main-menu">
              <div>
                <nav>
                  <ul class="metismenu" id="menu">
                    <li class="active">
                      <a href="newrequest.html" aria-expanded="true"
                        ><span
                          class="material-symbols-outlined material-icon orange600"
                        >
                          add_box </span
                        ><span class="title-medium-font">New Request</span></a
                      >
                    </li>
                    <li>
                      <a href="javascript:void(0)" aria-expanded="true"
                        ><span class="material-symbols-outlined material-icon">
                          work </span
                        ><span class="title-medium-font">Jobs</span></a
                      >
                      <ul class="collapse">
                        <li><a href="clientrequests.html">Request</a></li>
                        <li>
                          <a href="clientbids.html">Bids</a>
                        </li>
                        <li><a href="inprogress.html">In Progress</a></li>
                        <li><a href="clientfinished.html">Finished</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="clientfinance.html" aria-expanded="true"
                        ><span class="material-symbols-outlined material-icon">
                          payments </span
                        ><span class="title-medium-font">Finances</span></a
                      >
                    </li>
                    <li>
                      <a href="clientfaqs.html" aria-expanded="true"
                        ><span class="material-symbols-outlined material-icon">
                          quiz </span
                        ><span class="title-medium-font">FAQs</span></a
                      >
                    </li>
                    <li>
                      <a href="clientprofile.html" aria-expanded="true"
                        ><span class="material-symbols-outlined material-icon">
                          account_box </span
                        ><span class="title-medium-font">Profile</span></a
                      >
                    </li>
                    <li>
                      <a
                        href="#"
                        aria-expanded="true"
                        data-toggle="modal"
                        data-target="#logoutModal"
                        ><span class="material-symbols-outlined material-icon">
                          logout
                        </span>
                        <span class="title-medium-font">Logout</span></a
                      >
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
            <!-- sidebar menu area end -->
          </div>

          <div class="main-pagecontent">
            <div class="job-alert-heading">
              <div class="bigger-margin d-flex justify-content-between">
                <div class="job-alert-heading-first">
                  <span>Profile</span>
                </div>
              </div>
            </div>

            <!-- job alerts area start -->
            <div class="bigger-margin mt-3">
              <div>
                <div class="mt-4 w-90 clientprofile">
                  <div class="clientphoto">
                    <p>Profile Picture</p>
                    <div class="picture-area">
                      <img
                        src="assets/images/client_profile-2.svg"
                        alt="client-profile"
                        id="client-profile"
                      />
                    </div>
                    <input
                      type="file"
                      name="clientProfileBtn"
                      id="clientProfileBtn"
                      hidden
                    />
                    <label for="clientProfileBtn" class="clientProfileBtn">
                      Replace
                      <span class="material-symbols-outlined ml-2">
                        find_replace
                      </span>
                    </label>
                  </div>

                  <form action="" class="clientprofileupdate">
                    <div class="clientform-section1 mb-4">

                      <div>
                        <label for="firstname">First name</label>
                        <input type="text" placeholder="Ex: John"/>
                      </div>
                      <div>
                        <label for="firstname">Last name</label>
                        <input type="text" placeholder="Ex: John"/>
                      </div>
                    </div>

                    <div class="clientform-section2 mb-4">
                      <label for="sex">Sex</label>
                      <select name="sex" id="sex">
                        <option value="male">Male</option>
                        <option value="female">Fenale</option>
                      </select>
                    </div>

                    <label for="address">Address</label>

                    <div class="clientform-section3 mb-4">
                      <label for="street address">Street address</label>
                      <input type="text" />

                      <div class="mt-4 clientform-section4">
                        <div>
                          <label for="town">Town/Village</label>
                          <input type="text" />
                        </div>
                        <div>
                          <label for="coutry">Country of Residence</label>
                          <input type="text" />
                        </div>
                      </div>
                    </div>

                    <div class="clientform-section5 mb-5">
                      <label for="phone-number">Phone number</label>
                      <div>
                        <select name="flag" id="flag" class="mr-4">
                            <option value="NGN">NGN</option>
                            <option value="NGN">NGN</option>
                            <option value="NGN">NGN</option>
                          </select>
                          <input type="text" id="phone-number" placeholder="+234 903 919 7553"/>
                      </div>
                    </div>
                    <div class="d-flex justify-content-end">
                      <input type="submit" value="Update" class="uploadbtn">
                    </div>
                    
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- logout Modal -->
    <div
      class="modal fade"
      id="logoutModal"
      data-backdrop="static"
      data-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content logoutModal">
          <div class="modal-header">
            <p class="modal-title" id="logoutModalLabel">
              Log out of iVoice Africa?
            </p>
          </div>
          <div class="modal-body logoutModal-body">
            You can log in anytime with your email and password
          </div>
          <div class="modal-footer logoutModal-footer">
            <a href="index.html">
              <button class="transparentBtn">
                Logout
              </button>
            </a>
            <button class="logoutBtn" data-dismiss="modal" aria-label="Close">
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- jquery latest version -->
    <script src="assets/JS/js/vendor/jquery-2.2.4.min.js"></script>
    <!-- bootstrap 4 js -->
    <script src="assets/JS/js/popper.min.js"></script>
    <script src="assets/JS/js/bootstrap.min.js"></script>
    <script src="assets/JS/js/owl.carousel.min.js"></script>
    <script src="assets/JS/js/metisMenu.min.js"></script>
    <script src="assets/JS/js/jquery.slimscroll.min.js"></script>
    <script src="assets/JS/js/jquery.slicknav.min.js"></script>

    <!-- others plugins -->
    <script src="assets/JS/js/plugins.js"></script>
    <script src="assets/JS/js/scripts.js"></script>
  </body>
</html>
