<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<title>Client Profile</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="shortcut icon" href="../../assets/icons/fav.png"
	type="image/x-icon" />
<link rel="stylesheet" href="../../assets/CSS/css/bootstrap.min.css" />
<link rel="stylesheet" href="../../assets/CSS/css/metisMenu.css" />
<link rel="stylesheet" href="../../assets/CSS/css/slicknav.min.css" />
<link
	href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
	rel="stylesheet" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
	href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap"
	rel="stylesheet" />
<!-- amchart css -->
<link rel="stylesheet"
	href="https://www.amcharts.com/lib/3/plugins/export/export.css"
	type="text/css" media="all" />
<!-- others css -->
<link rel="stylesheet" href="../../assets/CSS/css/typography.css" />
<link rel="stylesheet" href="../../assets/CSS/css/default-css.css" />
<link rel="stylesheet" href="../../assets/CSS/css/styles.css" />
<link rel="stylesheet" href="../../assets/CSS/css/responsive.css" />
<link rel="stylesheet" href="../../assets/CSS/css/finance.css" />

<!-- modernizr css -->
<script src="../../assets/JS/js/vendor/modernizr-2.8.3.min.js"></script>
<script src="../../assets/JS/js/scripts.js" defer></script>
</head>

<body>
	<div id="preloader">
		<div class="loader"></div>
	</div>
	<!-- preloader area end -->
	<!-- page container area start -->
	<div class="page-container">
		<!-- Header area start -->

		<div class="overlay"></div>

		<!-- top-nav start -->
		<div th:replace="fragments/main_topnav :: topnav"></div>
		<!-- top-nav end -->

		<!-- side-nav start -->
		<div th:replace="fragments/main_sidenav :: sidenav"></div>
		<!-- side-nav end -->

		<div class="main">
			<div class="main__headerbox">
				<h1>Profile</h1>
			</div>

			<!-- job alerts area start -->
			<div class="main__contentbox">
				<div>
					<div class="clientprofile">
						<div class="clientphoto">
							<p>Profile Picture</p>
							<div class="picture-area">
								<img src="../../assets/images/client_profile-2.svg"
									alt="client-profile" id="client-profile" />
							</div>
							<input type="file" name="clientProfileBtn" id="clientProfileBtn"
								hidden /> <label for="clientProfileBtn"
								class="clientProfileBtn"> Replace <span
								class="material-symbols-outlined ml-2"> find_replace </span>
							</label>
						</div>

						<form th:action="@{/profile/save}" th:object="${ProfileDTO}"
							method="post" class="clientprofileupdate">
							<div class="clientform-section1 mb-5">
								<div>
									<label for="firstname">First name</label> <input type="text"
										placeholder="Ex: John" name="firstName"
										th:value="${userDetails.firstName}" />
								</div>
								<div>
									<label for="firstname">Last name</label> <input type="text"
										placeholder="Ex: John" name="lastName"
										th:value="${userDetails.lastName}" />
								</div>
							</div>

							<div class="clientform-section2 mb-5">
								<label for="sex">Sex</label> <select id="sex"
									style="appearance: none" name="sex">
									<option value="Select">Select</option>
									<option
										th:each="tempGender : ${T(com.ivoiceafrica.ivoiceafrica.utility.IVoiceConstant.Gender).values()}"
										th:value="${tempGender}" th:text="${tempGender}"></option>

								</select> <span class="custom-select-arrow"></span>
							</div>

							<label for="address">Address</label>
							<div class="clientform-section3 mb-5">
								<label for="street address">Street address</label> <input
									type="text" name="streetAddress"
									th:value="${userDetails.address}" />

								<div class="mt-4 clientform-section4">
									<div>
										<label for="town">Nationality</label> <input type="text"
											name="nationality" th:value="${userDetails.nationality}" />
									</div>
									<div>
										<label for="coutry">Country of Residence</label> <input
											type="text" name="country"
											th:value="${userDetails.country}" />
									</div>
								</div>
							</div>

							<div class="clientform-section5 mb-5">
								<label for="phone-number">Phone number</label>
								<div>
									<select name="flag" style="width: auto" id="flag" title="NGN"
										class="mr-4">
										<option value="NGN">NGN</option>
										
									</select> <input type="text" class="w-100" id="phone-number"
										placeholder="Mobile Number" name="mobileNumber"
										th:value="${userDetails.phone}" />
								</div>
							</div>
							<div class="d-flex justify-content-end">
								<input type="submit" value="Update" class="uploadbtn" />
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- logout Modal -->
	<div class="modal fade" id="logoutModal" data-backdrop="static"
		data-keyboard="false" tabindex="-1"
		aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content logoutModal">
				<div class="modal-header">
					<p class="modal-title" id="logoutModalLabel">Log out of iVoice
						Africa?</p>
				</div>
				<div class="modal-body logoutModal-body">You can log in
					anytime with your email and password</div>
				<div class="modal-footer logoutModal-footer">
					<a href="../../onboarding/client/sign-in.html">
						<button class="transparentBtn">Logout</button>
					</a>
					<button class="logoutBtn" data-dismiss="modal" aria-label="Close">
						Cancel</button>
				</div>
			</div>
		</div>
	</div>

	<!-- jquery latest version -->
	<script src="../../assets/JS/js/vendor/jquery-2.2.4.min.js"></script>
	<!-- bootstrap 4 js -->
	<script src="../../assets/JS/js/popper.min.js"></script>
	<script src="../../assets/JS/js/bootstrap.min.js"></script>
	<script src="../../assets/JS/js/owl.carousel.min.js"></script>
	<script src="../../assets/JS/js/metisMenu.min.js"></script>
	<script src="../../assets/JS/js/jquery.slimscroll.min.js"></script>
	<script src="../../assets/JS/js/jquery.slicknav.min.js"></script>

	<!-- others plugins -->
	<script src="../../assets/JS/js/plugins.js"></script>
	<script src="../../assets/JS/js/scripts.js"></script>
</body>
</html>
