<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<title>Client Finances</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" href="../../assets/CSS/css/bootstrap.min.css" />
<link rel="stylesheet" href="../../assets/CSS/css/metisMenu.css" />
<link rel="stylesheet" href="../../assets/CSS/css/slicknav.min.css" />
<link
	href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
	rel="stylesheet" />
<link rel="shortcut icon" href="../../assets/icons/fav.png"
	type="image/x-icon" />
<!-- amchart css -->
<link rel="stylesheet"
	href="https://www.amcharts.com/lib/3/plugins/export/export.css"
	type="text/css" media="all" />
<!-- others css -->
<link rel="stylesheet" href="../../assets/CSS/css/typography.css" />
<link rel="stylesheet" href="../../assets/CSS/css/default-css.css" />
<link rel="stylesheet" href="../../assets/CSS/css/styles.css" />
<link rel="stylesheet" href="../../assets/CSS/css/responsive.css" />
<link rel="stylesheet" href="../../assets/CSS/css/finance.css" />

<!-- modernizr css -->
<script src="../../assets/JS/js/vendor/modernizr-2.8.3.min.js"></script>
<script src="../../assets/JS/js/scripts.js" defer></script>
</head>

<body>
	<div id="preloader">
		<div class="loader"></div>
	</div>

	<!-- page container area start -->
	<div class="page-container">
		<!-- Header area start -->
		<div class="overlay"></div>

		<!-- top-nav start -->
		<div th:replace="fragments/main_topnav :: topnav"></div>
		<!-- top-nav end -->

		<!-- side-nav start -->
		<div th:replace="fragments/main_sidenav :: sidenav"></div>
		<!-- side-nav end -->

		<div class="main">
			<div class="main__headerbox clientrequests-heading">
				<div>
					<a href="clientprofile.html" class="header-link"> <span>Profile</span>
					</a> <span>updatePassword</span>
				</div>
			</div>

			<div class="arrow_back_link">
				<a href="inprogress.html"> <img
					src="../../assets/icons/arrow_back_link.svg" alt="arrow_back_link" />
				</a>
			</div>

			<!-- job alerts area start -->
			<div class="main__contentbox mt-3 finished-job-overview">
				<form id="update-password-form" class="upadatePassword" th:action="@{/updatepassword/save}"
					th:object="${UpdatePasswordDTO}" method="post">
					<div class="update-input">
						<label for="currentPassword">Current Password</label> <input
							type="password" name="oldPassword" id="currentPassword" />
					</div>
					<div class="update-input">
						<label for="newPassword">New Password</label> <input
							type="password" name="newPassword" id="newPassword" />
					</div>
					<div class="update-input">
						<label for="confirmPassword">Confirm Password</label> <input
							type="password" name="confirmPassword" id="currentPassword" />
					</div>

					<button type="button" class="update" id="update-password-btn" value="Submit">Update</button>

					<!-- <button type="button" data-toggle="modal"
						data-target="#successModal" class="update">Update</button> -->
				</form>
			</div>
		</div>
	</div>

	<!-- logout Modal -->
	<div class="modal fade" id="logoutModal" data-backdrop="static"
		data-keyboard="false" tabindex="-1"
		aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content logoutModal">
				<div class="modal-header">
					<p class="modal-title" id="logoutModalLabel">Log out of iVoice
						Africa?</p>
				</div>
				<div class="modal-body logoutModal-body">You can log in
					anytime with your email and password</div>
				<div class="modal-footer logoutModal-footer">
					<a href="../../onboarding/client/sign-in.html">
						<button class="transparentBtn">Logout</button>
					</a>
					<button class="logoutBtn" data-dismiss="modal" aria-label="Close">
						Cancel</button>
				</div>
			</div>
		</div>
	</div>


	<div class="modal fade" id="successModal" data-backdrop="static"
		data-keyboard="false" tabindex="-1"
		aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content logoutModal">
				<div class="modal-header">
					<h1>Password Update!</h1>
				</div>
				<div class="modal-body logoutModal-body">Password has
					successfully been updated! you are about to be logged out now.</div>
				<div class="modal-footer logoutModal-footer">
					<a th:href="@{/logout}">
						<button class="transparentBtn">Okay</button>
					</a>
				</div>
			</div>
		</div>
	</div>

	<!-- jquery latest version -->
	<script src="../../assets/JS/js/vendor/jquery-2.2.4.min.js"></script>
	<!-- bootstrap 4 js -->
	<script src="../../assets/JS/js/popper.min.js"></script>
	<script src="../../assets/JS/js/bootstrap.min.js"></script>
	<script src="../../assets/JS/js/owl.carousel.min.js"></script>
	<script src="../../assets/JS/js/metisMenu.min.js"></script>
	<script src="../../assets/JS/js/jquery.slimscroll.min.js"></script>
	<script src="../../assets/JS/js/jquery.slicknav.min.js"></script>

	<!-- others plugins -->
	<script type="module"
		src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule
		src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
	<script src="../../assets/JS/js/plugins.js"></script>
	<script src="../../assets/JS/js/scripts.js"></script>
	<script>
		$('#update-password-btn').on('click', function() {
			var form = $('#update-password-form');
			
			$.ajax({
				url : form.attr('action'),
				data : form.serialize(),
				type : "post",
				success : function(result) {
					
					if(result === "Password Change Successfully"){
						$("#successModal").modal('show');
					}else{
						alert(result);
					}
					
				},
				error : function(error) {
					console.log("error: "+error);
				}
			});
		});
		
		
		function showDeleteSuccessful() {
			Swal.fire('Operation successful!', '', 'success')
		}

		function refresh() {
			location.reload();
		}

		function myStopFunction() {
			const myTimeout = setTimeout(refresh, 1050);
		}
	</script>
</body>
</html>