<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<title>Client Finances</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" href="../../assets/CSS/css/bootstrap.min.css" />
<link rel="stylesheet" href="../../assets/CSS/css/metisMenu.css" />
<link rel="stylesheet" href="../../assets/CSS/css/slicknav.min.css" />
<link rel="shortcut icon" href="../../assets/icons/fav.png"
	type="image/x-icon" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
	href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap"
	rel="stylesheet" />
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<!-- amchart css -->
<link rel="stylesheet"
	href="https://www.amcharts.com/lib/3/plugins/export/export.css"
	type="text/css" media="all" />
<!-- others css -->
<link rel="stylesheet" href="../../assets/CSS/css/typography.css" />
<link rel="stylesheet" href="../../assets/CSS/css/default-css.css" />
<link rel="stylesheet" href="../../assets/CSS/css/styles.css" />
<link rel="stylesheet" href="../../assets/CSS/css/responsive.css" />
<link rel="stylesheet" href="../../assets/CSS/css/finance.css" />

<!-- modernizr css -->
<script src="../../assets/JS/js/vendor/modernizr-2.8.3.min.js"></script>
<script src="../../assets/JS/js/scripts.js" defer></script>
</head>

<body>
	<div id="preloader">
		<div class="loader"></div>
	</div>
	<!-- preloader area end -->
	<!-- page container area start -->
	<div class="page-container">
		<!-- Header area start -->
		<div class="overlay"></div>

		<!-- top-nav start -->
		<div th:replace="fragments/main_topnav :: topnav"></div>
		<!-- top-nav end -->

		<!-- side-nav start -->
		<div th:replace="fragments/main_sidenav :: sidenav"></div>
		<!-- side-nav end -->

		<div class="main">
			<div class="main__headerbox mini-padding">
				<div class="clientrequests-heading">

					<div class="bidheader">
						<a th:href="@{/client-dashboard}" class="header-link"> <span>Jobs</span>
						</a> <a th:href="@{/client/requests/all}" class="header-link"> <span>Requests</span>
						</a>


						<h3>Request Detail</h3>
					</div>


					<a href="newrequest.html" class="newrequestBtn"> New Request <span
						class="material-symbols-outlined"> add </span>
					</a>
				</div>
			</div>

			<!-- job alerts area start -->
			<div class="mt-3 main__contentbox">

				<div class="mt-4 d-flex cl-details-box align-items-start">
					<div class="w-75">
						<div class="job-alerts mb-3">
							<div class="arrow-back">
								<a th:href="@{/client/requests/all}"> <img
									src="../../assets/icons/arrow_back_link.svg"
									alt="arrow_back_link" />
								</a>
							</div>

							<!-- display details of controller -->
							<p th:text="${message}" th:if="${message ne null}"
								class="alert alert-primary mt-3"></p>

							<div class="job-alerts-card-body">
								<div class="my-4">
									<div class="griddy">
										<span class="mr-3 job-alerts-voiceover">
											<div class="mr-2 job-alerts-voiceover-color"></div> <span
											th:text="${workOrderDetails?.serviceType?.typeName}">Voice-over</span>
										</span> <span class="mr-3 job-alerts-lang"
											th:text="@{ ${workOrderFirstAttachment.source != null} ? ${@ClientComponentModel.translateIdToLanguage(workOrderFirstAttachment?.source)}}">
											French </span> <span class="mr-3 job-alerts-lang"
											th:text="@{ ${workOrderFirstAttachment?.destination != null} ? ${@ClientComponentModel.translateIdToLanguage(workOrderFirstAttachment?.destination)}}">
											English </span>
									</div>
								</div>

								<h2 class="job-alert-card-body-title mb-3"
									th:text="${workOrderDetails?.workTitle}">Translate Physics
									textbook from English Languague to French</h2>
								<div class="job-alerts-footer">
									<div class="d-flex griddy align-items-center mb-3">
										<div class="mr-3 d-flex">
											<span class="material-symbols-outlined mr-2">savings</span> <span>$</span><span
												th:text="${workOrderDetails?.minAmount}">20</span>&nbsp;-&nbsp;<span>$</span><span
												th:text="${workOrderDetails?.maxAmount}">30</span> &nbsp; <span
												th:text="${@ClientComponentModel.workRateSelection(workOrderDetails?.workRate)}">
												per page</span></span>
										</div>
										<div class="mr-3 d-flex">
											<span class="material-symbols-outlined mr-2">attach_file</span>
											<span
												th:text="@{${@ClientComponentModel.getWorkAttachments(workOrderDetails?.workId)}}">4
												<span>PDFs</span>
											</span>
										</div>
										<div class="mr-3 d-flex">
											<span class="material-symbols-outlined mr-2">timer</span> <span
												th:text="${workOrderDetails?.duration?.duration}">3
												&nbsp;<span>days</span>
											</span>
										</div>
									</div>
									<div class="job-alert-service-time">
										<p>
											Posted on <span th:text="${workOrderDetails?.postingDate}"></span>
										</p>
									</div>
									<div class="mt-3"
										th:switch="${@ClientComponentModel.checkClientWordOrderPayment(session.user.userId, workOrderDetails?.workId)}">
										<!-- This section means the customer has paid -->
										<span th:case="'paid'"> <!-- <p>paid</p> -->
										</span> <span th:case="'not-paid'"
											th:if="${@ClientComponentModel.getLastProposalUser(workOrderDetails?.workId) != 0}">
											<a
											th:href="@{/client-profile-overview/{id}/{userId}(id=${workOrderDetails?.workId}, userId=${@ClientComponentModel.getLastProposalUser(workOrderDetails?.workId)})}"><button
													type="button" class="btn btn-dark btn-lg">Pay for
													work order</button></a>
										</span>

									</div>
								</div>
							</div>
						</div>

						<div class="job-details">
							<span class="job-details-content-title">Job Details</span>

							<div
								class="job-list-details mt-3 d-flex align-items-center job-list-details-border">
								<div class="job-list-details-active" id="descTab">
									<button class="next-btn">Description</button>
								</div>
								<div id="deliTab">
									<button class="next-btn">Deliverables</button>
								</div>
								<div id="attTab">
									<button class="next-btn prev-btn">Attachments</button>
								</div>
							</div>

							<div class="job-desc-details my-3" id="descriptionContent">
								<span class="abt">About the job</span>
								<p class="mb-3 desc-text"
									th:text="${workOrderDetails.description}">At Pak
									Translations, we have recently been receiving requests for
									projects concerning African languages. We are, thus, looking to
									expand our database of freelance translators, transcribers, and
									subtitlers of African languages, especially the minor languages
									spoken in this linguistically richest continent.</p>

								<!-- <span class="qwt">These are the qualities we are looking
									for in the freelancer: </span> -->

								<!-- <ul>
									<li>High accuracy (in terms of meaning, punctuation,
										grammar, formatting)</li>
									<li>Commitment (people who always deliver on time)</li>
									<li>Responsive (people who respond to emails/calls in
										time)</li>
								</ul> -->

							</div>

							<div class="job-deliverables step step-2 m-0 p-0"
								id="deliverablesContent">
								<div>
									<table class="job-deliverables-table">
										<thead>
											<tr>
												<th>Service</th>
												<th>Native</th>
												<th>Target</th>
												<th>File</th>
											</tr>
										</thead>
										<tbody>
											<tr
												th:each="tempAttachment, iStat : ${workOrderAttachmentList}">
												<td
													th:text="${tempAttachment.workOrder.serviceType.typeName}">Translation</td>
												<td
													th:text="@{${@ClientComponentModel.translateIdToLanguage(tempAttachment.source)}}">French</td>
												<td
													th:text="@{${@ClientComponentModel.translateIdToLanguage(tempAttachment.destination)}}">English</td>
												<td th:text="${tempAttachment.linkMediaFile}">1</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>

							<div class="job-attachments step step-3 mt-5"
								id="attachmentContent">

								<div class="job-attc"
									th:each="tempAttach, iStat : ${workOrderAttachmentList}">
									<span class="material-symbols-outlined draft-icon">
										draft </span>
									<div class="ml-3">
										<p th:text="${tempAttach.linkMediaFile}">Physics textbook
											in French (01).pdf</p>
										<p>
											This file is to be translated from <span
												th:text="@{${@ClientComponentModel.translateIdToLanguage(tempAttach.source)}}"></span>
											to <span
												th:text="@{${@ClientComponentModel.translateIdToLanguage(tempAttach.destination)}}"></span>
										</p>
										<p>
											Uploaded <span th:text="${tempAttach.workOrder.postingDate}">
												3 Hours ago</span>
										</p>
									</div>
								</div>

							</div>

							<div
								class="job-details-footer d-flex align-items-center justify-content-end mt-5">
								<!-- <button class="logoutBtn margin-l">Cancel Request</button> -->
								<a th:href="@{/client/requests/all}"><button type="button"
										class="uploadbtn ml-4 clientrequesteditBtn">Back</button></a>

								<!-- th:if="${workOrderDetails.workOrderStatus.status == 'bidding'}" -->

								<span
									th:switch="${@ClientComponentModel.checkClientWordOrderPayment(session.user.userId, workOrderDetails?.workId)}">
									<span th:case="'not-paid'"
									th:if="${@ClientComponentModel.getProposalStatusFromWorkOrder(workOrderDetails.workId) == false}">
										<a
										th:href="@{/bids-client-details/{id}/{filter}(id=${workOrderDetails.workId}, filter='serviceType')}"><button
												type="button"
												class="uploadbtn ml-4 clientrequesteditBtn bg-dark">
												Send Bids</button></a>
								</span> 
								
								<span th:case="'paid'">
										<button type="button"
											class="uploadbtn ml-4 clientrequesteditBtn bg-dark">
											Work order has been paid</button>
								</span>
								</span>

							</div>

						</div>
					</div>

					<div class="job-status job-progress-status ml-5">
						<div class="job-status-heading">
							<span>Job Status</span>
						</div>

						<div th:each="jobStatusOb, iStat : ${jobStatuses}">
							<div class="job-status-progress">
								<div
									th:attr="class=${@ClientComponentModel.checkCurrentJobStatus(workOrderDetails.workId).equals(jobStatusOb.jobStatusName) ? 'circle circle-completed' : 'circle'}"
									th:text="${iStat.index+1}">1</div>
								<span th:text="${jobStatusOb.jobStatusName}">Post job</span>
							</div>

						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- </div> -->
	<!-- </div> -->

	<!-- logout Modal -->
	<div class="modal fade" id="logoutModal" data-backdrop="static"
		data-keyboard="false" tabindex="-1"
		aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content logoutModal">
				<div class="modal-header">
					<p class="modal-title" id="logoutModalLabel">Log out of iVoice
						Africa?</p>
				</div>
				<div class="modal-body logoutModal-body">You can log in
					anytime with your email and password</div>
				<div class="modal-footer logoutModal-footer">
					<a href="../../onboarding/client/sign-in.html">
						<button class="transparentBtn">Logout</button>
					</a>
					<button class="logoutBtn" data-dismiss="modal" aria-label="Close">
						Cancel</button>
				</div>
			</div>
		</div>
	</div>

	<!-- jquery latest version -->
	<script src="../../assets/JS/js/vendor/jquery-2.2.4.min.js"></script>
	<!-- bootstrap 4 js -->
	<script src="../../assets/JS/js/popper.min.js"></script>
	<script src="../../assets/JS/js/bootstrap.min.js"></script>
	<script src="../../assets/JS/js/owl.carousel.min.js"></script>
	<script src="../../assets/JS/js/metisMenu.min.js"></script>
	<script src="../../assets/JS/js/jquery.slimscroll.min.js"></script>
	<script src="../../assets/JS/js/jquery.slicknav.min.js"></script>

	<!-- others plugins -->
	<script type="module"
		src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule
		src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
	<script src="../../assets/JS/js/plugins.js"></script>
	<script src="../../assets/JS/js/scripts.js"></script>
</body>
</html>
