<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Job Alerts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../assets/CSS/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../assets/CSS/css/metisMenu.css" />
    <link rel="stylesheet" href="../../assets/CSS/css/slicknav.min.css" />
    <link
      rel="shortcut icon"
      href="../../assets/icons/fav.png"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <!-- amchart css -->
    <link
      rel="stylesheet"
      href="https://www.amcharts.com/lib/3/plugins/export/export.css"
      type="text/css"
      media="all"
    />
    <!-- others css -->
    <link rel="stylesheet" href="../../assets/CSS/css/typography.css" />
    <link rel="stylesheet" href="../../assets/CSS/css/default-css.css" />
    <link rel="stylesheet" href="../../assets/CSS/css/styles.css" />
    <link rel="stylesheet" href="../../assets/CSS/css/responsive.css" />
    <!-- modernizr css -->
    <script src="../../assets/JS/js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="../../assets/JS/js/scripts.js" defer></script>
  </head>

  <body>
    <div id="preloader">
      <div class="loader"></div>
    </div>
    <!-- preloader area end -->
    <!-- page container area start -->
    <div class="page-container">
      <!-- Header area start -->

      <div class="overlay"></div>
      <div class="header d-flex justify-content-between">
        <div class="header__sidenav">
          <div class="menu-icon" id="icon-menu">
            <img src="../../assets/images/options.svg" alt="options-icon" />
          </div>
          <img
            src="../../assets/images/ivoiceafrica logo 1.png"
            alt="ivoice logo"
            class="ivoice-logo"
          />
        </div>

        <div class="header__icons">
          <a href="clientnotification.html">
            <img
              src="../../assets/images/notif.svg"
              alt="bell icon"
              class="bell-icon"
            />
          </a>
          <div class="profile">
            <img
              src="../../assets/images/pro.svg"
              class="profile-circle"
              alt="profile circle"
            />

            <div class="profile__modal">
              <img src="../../assets/images/propic.png" alt="profile picture" />
              <div class="profile__header">
                <h1>Bukola Adesina</h1>
                <p>Freelancer</p>
              </div>
              <div class="profile__statuses">
                <p class="active-stat">Available</p>
                <p class="away-status">Away</p>
                <p class="busy-status">Busy</p>
              </div>
              <div class="profile__settings">
                <span>
                  <img
                    src="../../assets/images/pro1.svg"
                    alt="profile card icon"
                  />
                  Profile
                </span>
                <span>
                  <img
                    src="../../assets/images/pro2.svg"
                    alt="profile card icon"
                  />
                  Change Password
                </span>
                <span>
                  <img
                    src="../../assets/images/pro3.svg"
                    alt="profile card icon"
                  />
                  Logout
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="sidebar">
        <img
          src="../../assets/images/ivoiceafrica logo 1.png"
          alt="ivoice logo"
          class="smallnav-logo"
        />
        <ul class="metismenu sidebar__links" id="menu">
          <li class="sidebar__link--item">
            <a href="newrequest.html" aria-expanded="true" class="nav-link">
              <img src="../../assets/images/box1.png" alt="add icon" />
              New request</a
            >
          </li>
          <li class="sidebar__link--item">
            <a
              href="javascript:void(0)"
              aria-expanded="true"
              class="active-link nav-link"
            >
              <img src="../../assets/images/box2.svg" alt="add icon" />
              Jobs</a
            >
            <ul class="collapse">
              <li>
                <a href="clientrequests.html" class="collapse-link nav-link"
                  >Request</a
                >
              </li>
              <li>
                <a href="clientbids.html" class="collapse-link">Bids</a>
              </li>
              <li>
                <a href="inprogress.html" class="collapse-link nav-link"
                  >In Progress</a
                >
              </li>
              <li>
                <a href="clientfinished.html" class="collapse-link nav-link"
                  >Finished</a
                >
              </li>
            </ul>
          </li>
          <li class="sidebar__link--item" aria-expanded="true">
            <a href="clientfinance.html" class="nav-link">
              <img src="../../assets/images/box4.svg" alt="add icon" />
              Finances</a
            >
          </li>
          <li class="sidebar__link--item">
            <a href="clientfaqs.html" aria-expanded="true" class="nav-link">
              <img src="../../assets/images/box5.svg" alt="add icon" />
              FAQS</a
            >
          </li>
          <li class="sidebar__link--item">
            <a href="clientprofile.html" aria-expanded="true" class="nav-link">
              <img src="../../assets/images/box6.svg" alt="profile card icon" />
              Profile</a
            >
          </li>

          <li class="sidebar__link--item">
            <a
              href="#"
              aria-expanded="true"
              aria-expanded="true"
              data-toggle="modal"
              data-target="#logoutModal"
            >
              <img src="../../assets/images/box7.svg" alt="logout icon" />
              Logout</a
            >
          </li>
        </ul>

        <!-- sidebar menu area end -->
      </div>
      <!-- </div> -->

      <div class="main">
        <div class="main__headerbox">
          <h1>Dashboard</h1>
        </div>

        <div class="main__contentbox">
          <div class="main__contentbox">
            <div class="dashboard-content-one">
              <div class="freelancer-dashboard-info">
                <div>
                  <img
                    src="../../assets/images/freelancer-dashboard.svg"
                    alt="freelancer-img"
                  />
                </div>
                <div class="freelancer-dashboard-info-content pl-3">
                  <span class="freelancers-name">Michael Jordan</span>
                  <div class="d-flex align-items-center mb-2">
                    <div class="status mr-2"></div>
                    <span>Available</span>
                  </div>
                  <div class="freelancer-dashboard-otherinfo">
                    <div class="mr-4">
                      <span>0</span>
                      <small class="mr-1">Projects</small>
                    </div>
                    <div class="mr-4">
                      <span>0<img src="" alt="" /></span>
                      <small class="mr-1">Rating</small>
                    </div>
                    <div>
                      <span>$ 0</span>
                      <small class="mr-2">Total Earnings</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="freelancer-dashboard-no-active-jobs">
                <div class="freelancers-dashboard-active-jobs-heading">
                  <label for="">Active Jobs</label>
                  <div class="dashboard-no-active">
                    <button class="mr-5">All</button>
                    <button class="mr-5">Overdue</button>
                    <button class="">Upcoming deadlines</button>
                  </div>
                </div>

                <div class="dashboard-active-jobs-info">
                  <div class="dashboard-no-content">
                    <img
                      src="assets/icons/dashboard-no-data.svg"
                      alt="no-data-dashboard"
                    />
                    <p>You have no active jobs at this time.</p>
                    <p>
                      Update your profile to get matched with jobs and start
                      earning
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div>
              <div class="dashboard-earning">
                <div class="mb-3">
                  <span>Earnings</span>
                  <select name="" id="">
                    <option value="">This week</option>
                    <option value="">This month</option>
                  </select>
                </div>

                <div class="dashboard-earning-stats mb-3">
                  <div>
                    <p class="withdrawn-amt">$50</p>
                    <p>Withdrawn</p>
                  </div>
                  <div>
                    <p class="escrow-amt">$50</p>
                    <p>In Escrow</p>
                  </div>
                  <div>
                    <p class="credited-amt">$50</p>
                    <p>Credited</p>
                  </div>
                </div>

                <a href="Finances.html"> View details</a>
              </div>

              <div class="dashboard-jobalerts">
                <label for="" class="mb-4">Job Alerts</label>
                <div class="dashboard-activejobs-container mb-3">
                  <div class="mb-3">
                    <span class="mr-3 job-alerts-voiceover">Voice-over</span>
                    <span class="mr-3 job-alerts-lang dashboard-jobalerts-lang">
                      English
                    </span>
                    <span class="job-alerts-lang dashboard-jobalerts-lang">
                      French
                    </span>
                  </div>
                  <div class="mb-3">
                    <p class="dashboard-activejobs-h2">
                      Translate Physics textbook from English language to french
                    </p>
                    <span class="dashbaord-activejobs-time"
                      >Posted 3 hours ago</span
                    >
                  </div>
                </div>
                <div class="dashboard-activejobs-container mb-3">
                  <div class="mb-3">
                    <span class="mr-3 job-alerts-voiceover">Voice-over</span>
                    <span class="mr-3 job-alerts-lang dashboard-jobalerts-lang">
                      English
                    </span>
                    <span class="job-alerts-lang dashboard-jobalerts-lang">
                      French
                    </span>
                  </div>
                  <div class="mb-3">
                    <p class="dashboard-activejobs-h2">
                      Translate Physics textbook from English language to french
                    </p>
                    <span class="dashbaord-activejobs-time"
                      >Posted 3 hours ago</span
                    >
                  </div>
                </div>
                <div class="dashboard-activejobs-container mb-3">
                  <div class="mb-3">
                    <span class="mr-3 job-alerts-voiceover">Voice-over</span>
                    <span class="mr-3 job-alerts-lang dashboard-jobalerts-lang">
                      English
                    </span>
                    <span class="job-alerts-lang dashboard-jobalerts-lang">
                      French
                    </span>
                  </div>
                  <div class="mb-3">
                    <p class="dashboard-activejobs-h2">
                      Translate Physics textbook from English language to french
                    </p>
                    <span class="dashbaord-activejobs-time"
                      >Posted 3 hours ago</span
                    >
                  </div>
                </div>
                <div class="dashboard-activejobs-container mb-3">
                  <div class="mb-3">
                    <span class="mr-3 job-alerts-voiceover">Voice-over</span>
                    <span class="mr-3 job-alerts-lang dashboard-jobalerts-lang">
                      English
                    </span>
                    <span class="job-alerts-lang dashboard-jobalerts-lang">
                      French
                    </span>
                  </div>
                  <div class="mb-3">
                    <p class="dashboard-activejobs-h2">
                      Translate Physics textbook from English language to french
                    </p>
                    <span class="dashbaord-activejobs-time"
                      >Posted 3 hours ago</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- </div> -->
    <!-- </div> -->
    <!-- logout Modal -->
    <div
      class="modal fade"
      id="logoutModal"
      data-backdrop="static"
      data-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content logoutModal">
          <div class="modal-header">
            <p class="modal-title" id="logoutModalLabel">
              Log out of iVoice Africa?
            </p>
          </div>
          <div class="modal-body logoutModal-body">
            You can log in anytime with your email and password
          </div>
          <div class="modal-footer logoutModal-footer">
            <a href="../../onboarding/client/sign-in.html">
              <button class="transparentBtn">Logout</button>
            </a>
            <button class="logoutBtn" data-dismiss="modal" aria-label="Close">
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- jquery latest version -->
    <script src="../../assets/JS/js/vendor/jquery-2.2.4.min.js"></script>
    <!-- bootstrap 4 js -->
    <script src="../../assets/JS/js/popper.min.js"></script>
    <script src="../../assets/JS/js/bootstrap.min.js"></script>
    <script src="../../assets/JS/js/owl.carousel.min.js"></script>
    <script src="../../assets/JS/js/metisMenu.min.js"></script>
    <script src="../../assets/JS/js/jquery.slimscroll.min.js"></script>
    <script src="../../assets/JS/js/jquery.slicknav.min.js"></script>

    <!-- others plugins -->
    <script src="../../assets/JS/js/plugins.js"></script>
    <script src="../../assets/JS/js/scripts.js"></script>
  </body>
</html>
