<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Job Alerts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="assets/CSS/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/CSS/css/metisMenu.css" />
    <link rel="stylesheet" href="assets/CSS/css/slicknav.min.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <!-- amchart css -->
    <link
      rel="stylesheet"
      href="https://www.amcharts.com/lib/3/plugins/export/export.css"
      type="text/css"
      media="all"
    />
    <!-- others css -->
    <link rel="stylesheet" href="assets/CSS/css/typography.css" />
    <link rel="stylesheet" href="assets/CSS/css/default-css.css" />
    <link rel="stylesheet" href="assets/CSS/css/styles.css" />
    <link rel="stylesheet" href="assets/CSS/css/responsive.css" />
    <!-- modernizr css -->
    <script src="assets/JS/js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="assets/JS/js/scripts.js" defer></script>
  </head>

  <body>
    <div id="preloader">
      <div class="loader"></div>
    </div>
    <!-- preloader area end -->
    <!-- page container area start -->
    <div class="page-container">
      <!-- Header area start -->

      <div class="header-area">
        <div class="row">
          <div
            class="sidebar-header col-md-2 col-lg-2 col-sm-4 d-flex align-items-center"
          >
            <div class="nav-btn pull-left">
              <img src="assets/icons/menu-open.svg" alt="menu-open" />
            </div>
            <div class="ml-5 logo">
              <a href="dashboard.html"
                ><img src="assets/images/ivoiceafrica logo 1.png" alt="logo"
              /></a>
            </div>
          </div>
          <!-- Searchbar and notification start -->
          <div
            class="col-md-8 col-sm-4 col-lg-10 clearfix d-flex align-items-center justify-content-between"
          >
            <div class="search-box pull-left col-lg-6">
              <form action="#">
                <i class="ti-search"></i>
                <input
                  type="text"
                  name="search"
                  placeholder="Search..."
                  required
                />
              </form>
            </div>

            <div class="clearfix col-lg-4">
              <div
                class="notification-area pull-right d-flex align-items-center"
              >
                <button class="text-center" type="button">
                  <span class="material-symbols-outlined"> notifications </span>
                  <p>Notifications</p>
                </button>

                <button
                  class="text-center ml-5"
                  type="button"
                  id="show_modal_btn"
                >
                  <span class="material-symbols-outlined">
                    account_circle
                  </span>
                  <span class="material-symbols-outlined">
                    arrow_drop_down
                  </span>
                  <p>My profile</p>
                </button>

                <!-- Searchbar and notification end -->

                <!-- The Freelancer's modal start -->
                <div
                  class="row border profile-modal profile-modal_active"
                  id="profileModal"
                >
                  <div class="col">
                    <div class="modal-head">
                      <div>
                        <img src="assets/images/profile.svg" alt="profile" />
                      </div>
                      <p class="freelancer-name">Bukola Adesina</p>
                      <p>Freelancer</p>
                      <div class="freelancers-status">
                        <div class=""><span>Available</span></div>
                        <div class=""><span> Away</span></div>
                        <div class=""><span> Busy</span></div>
                      </div>
                    </div>
                    <div class="modal-body">
                      <div class="d-flex align-items-center mb-2">
                        <img src="assets/icons/profile_icon.svg" alt="" />
                        <span class="ml-2">Profile</span>
                      </div>
                      <div class="d-flex align-items-center mb-2">
                        <img src="assets/icons/padlock_icon.svg" alt="" />
                        <span class="ml-2">Change Password</span>
                      </div>
                      <div class="d-flex align-items-center mb-2">
                        <img src="assets/icons/logout_icon.svg" alt="" />
                        <span class="ml-2">Logout</span>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- The Freelancer's modal end -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Header area end -->

      <div class="main-content container-fluid">
        <div class="row">
          <div class="sidebar-menu col-lg-2 col-xl-2">
            <!-- sidebar menu area start -->
            <div class="main-menu">
              <div class="menu-inner">
                <nav>
                  <ul class="metismenu" id="menu">
                    <li class="active">
                      <a href="dashboard.html" aria-expanded="true"
                        ><span
                          class="material-symbols-outlined material-icon orange600"
                        >
                          grid_view </span
                        ><span>dashboard</span></a
                      >
                    </li>
                    <li>
                      <a href="javascript:void(0)" aria-expanded="true"
                        ><span class="material-symbols-outlined material-icon">
                          work </span
                        ><span>Jobs</span></a
                      >
                      <ul class="collapse">
                        <li><a href="jobalerts.html">Job alerts</a></li>
                        <li>
                          <a href="activejobs.html">Active Jobs</a>
                        </li>
                        <li><a href="finishedjobs.html">Finished Jobs</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="Finances.html" aria-expanded="true"
                        ><span class="material-symbols-outlined material-icon">
                          payments </span
                        ><span>Finances</span></a
                      >
                    </li>
                    <li>
                      <a href="faqs.html" aria-expanded="true"
                        ><span class="material-symbols-outlined material-icon">
                          quiz </span
                        ><span>FAQs</span></a
                      >
                    </li>
                    <li>
                      <a href="profile.html" aria-expanded="true"
                        ><span class="material-symbols-outlined material-icon">
                          account_box </span
                        ><span>Profile</span></a
                      >
                    </li>
                    <li>
                      <a href="javascript:void(0)" aria-expanded="true"
                        ><span class="material-symbols-outlined material-icon">
                          logout
                        </span>
                        <span>Logout</span></a
                      >
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
            <!-- sidebar menu area end -->
          </div>

          <div class="col-lg-10">
            <div class="row job-alert-heading dashboard-heading">
              <div
                class="col-xl-10 col-lg-12 px-5 d-flex justify-content-between"
              >
                <div class="job-alert-heading-first ">
                  <span>Dashboard</span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col d-flex">
                <div class="dashboard-content-one">
                    <div class="freelancer-dashboard-info">
                        <div>
                            <img src="assets/images/freelancer-dashboard.svg" alt="freelancer-img">
                        </div>
                        <div class="freelancer-dashboard-info-content pl-3">
                            <span class="freelancers-name">Michael Jordan</span>
                        <div class="d-flex align-items-center mb-2">
                            <div class="status mr-2"></div>
                            <span>Available</span>
                        </div>
                        <div class="freelancer-dashboard-otherinfo">
                            <div class="mr-4">
                            <span>0</span>
                            <small class="mr-1">Projects</small>
                            </div>
                            <div class="mr-4">
                                <span>0<img src="" alt=""></span>
                                <small class="mr-1">Rating</small>
                            </div>
                            <div>
                                <span>$ 0</span>
                                <small class="mr-2">Total Earnings</small>
                            </div>
                        </div>
                        </div>
                    </div>
        
        
                    <div class="freelancer-dashboard-no-active-jobs">
                        <div class="freelancers-dashboard-active-jobs-heading">
                            <label for="">Active Jobs</label>
                        <div class="dashboard-no-active">
                            <button class="mr-5">All</button>
                            <button class="mr-5">Overdue</button>
                            <button class="">Upcoming deadlines</button>
                        </div>
                        </div>
        
                        <div class="dashboard-active-jobs-info">
                            <div class="dashboard-no-content">
                                <img src="assets/icons/dashboard-no-data.svg" alt="no-data-dashboard">
                                <p>You have no active jobs at this time.</p>
                                <p>Update your profile to get matched with jobs and start earning</p>
                            </div>
                            
                        </div>
                        
                    </div>
                  </div>
        
        
                  <div>
                    <div class="dashboard-earning">
                        <div class=" mb-3">
                            <span>Earnings</span>
                            <select name="" id="">
                                <option value="">This week</option>
                                <option value="">This month</option>
                            </select>
                        </div>
        
                        <div class="dashboard-earning-stats mb-3">
                            <div>
                                <p class="withdrawn-amt">$50</p>
                                <p>Withdrawn</p>
                            </div>
                            <div>
                                <p class="escrow-amt">$50</p>
                                <p>In Escrow</p>
                            </div>
                            <div>
                                <p class="credited-amt">$50</p>
                                <p>Credited</p>
                            </div>
                        </div>
        
                        <a href="Finances.html"> View details</a>
                    </div>

                    <div class="dashboard-jobalerts">
                        <label for="" class="mb-4">Job Alerts</label>
                        <div class="dashboard-activejobs-container mb-3">
                            <div class="mb-3">
                                <span class="mr-3 job-alerts-voiceover">Voice-over</span>
                                <span class="mr-3 job-alerts-lang dashboard-jobalerts-lang"> English </span>
                                <span class="job-alerts-lang dashboard-jobalerts-lang"> French </span>
                            </div>
                            <div class=" mb-3">
                                <p class="dashboard-activejobs-h2">Translate Physics textbook from English language to french</p>
                                <span class="dashbaord-activejobs-time">Posted 3 hours ago</span>
                            </div>
                        </div>
                        <div class="dashboard-activejobs-container mb-3">
                            <div class="mb-3">
                                <span class="mr-3 job-alerts-voiceover">Voice-over</span>
                                <span class="mr-3 job-alerts-lang dashboard-jobalerts-lang"> English </span>
                                <span class="job-alerts-lang dashboard-jobalerts-lang"> French </span>
                            </div>
                            <div class="mb-3">
                                <p class="dashboard-activejobs-h2">Translate Physics textbook from English language to french</p>
                                <span class="dashbaord-activejobs-time">Posted 3 hours ago</span>
                            </div>
                        </div>
                        <div class="dashboard-activejobs-container mb-3">
                            <div class="mb-3">
                                <span class="mr-3 job-alerts-voiceover">Voice-over</span>
                                <span class="mr-3 job-alerts-lang dashboard-jobalerts-lang"> English </span>
                                <span class="job-alerts-lang dashboard-jobalerts-lang"> French </span>
                            </div>
                            <div class="mb-3">
                                <p class="dashboard-activejobs-h2">Translate Physics textbook from English language to french</p>
                                <span class="dashbaord-activejobs-time">Posted 3 hours ago</span>
                            </div>
                        </div>
                        <div class="dashboard-activejobs-container mb-3">
                            <div class="mb-3">
                                <span class="mr-3 job-alerts-voiceover">Voice-over</span>
                                <span class="mr-3 job-alerts-lang dashboard-jobalerts-lang"> English </span>
                                <span class="job-alerts-lang dashboard-jobalerts-lang"> French </span>
                            </div>
                            <div class="mb-3">
                                <p class="dashboard-activejobs-h2">Translate Physics textbook from English language to french</p>
                                <span class="dashbaord-activejobs-time">Posted 3 hours ago</span>
                            </div>
                        </div>
                    </div>
                  </div>
            </div>

          </div>

          
        </div>
      </div>
    </div>

    <!-- jquery latest version -->
    <script src="assets/JS/js/vendor/jquery-2.2.4.min.js"></script>
    <!-- bootstrap 4 js -->
    <script src="assets/JS/js/popper.min.js"></script>
    <script src="assets/JS/js/bootstrap.min.js"></script>
    <script src="assets/JS/js/owl.carousel.min.js"></script>
    <script src="assets/JS/js/metisMenu.min.js"></script>
    <script src="assets/JS/js/jquery.slimscroll.min.js"></script>
    <script src="assets/JS/js/jquery.slicknav.min.js"></script>

    <!-- others plugins -->
    <script src="assets/JS/js/plugins.js"></script>
    <script src="assets/JS/js/scripts.js"></script>
  </body>
</html>
