<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/main_css :: css-header"></div>

<style>
.language1, .language2, .language3, .language4, .language5, .language6 {
	display: none;
}

.upload-flex{
	display: flex;
	flex-direction: column;
	gap: 2px;
}
</style>
<body>
	<div id="preloader">
		<div class="loader"></div>
	</div>
	<!-- preloader area end -->
	<!-- page container area start -->
	<div class="page-container">
	
		<!-- Header -->
		<div class="overlay"></div>
		
		<!-- top-nav start -->
		<div th:replace="fragments/main_topnav :: topnav"></div>
		<!-- top-nav end -->
		
	
		<!-- side-nav start -->
		<div th:replace="fragments/main_sidenav :: sidenav"></div>
		<!-- side-nav end -->

		<div class="main">
			<div class="main__headerbox">
				<h1>New Project</h1>
			</div>
			<div class="main__contentbox">
				<div class="main-content">
					<div class="contentbox">
					
					 <!-- display details of controller -->
          			 <p th:text="${message}" th:if="${message ne null}" class="alert alert-primary mt-3"></p>

						<form th:action="@{/client/new/request/save}"
							th:object="${NewClientRequestDTO}" method="post"
							enctype="multipart/form-data">

							<div class="step active section-1">
								<p class="newrequest-title">Give details of your project</p>
								<div class="input-group mb-4">
									 <label for="title">Project Title</label><input type="text"
										placeholder="Ex: The Secrete of Dumbledore"
										name="projectTitle"  id="title" />
								</div>

								<div class="input-group  mb-4">
									<label for="" class="custom-file-lang-label"> Project
										Description</label>
									<textarea placeholder="Write details of the project here"
										id="project-desc" name="projectDescription"></textarea>
								</div>

								<div class="input-group  mb-4">
									<label for="" class="custom-file-lang-label"> Service
										needed</label>
									<div class="add-section">
										<button type="button" class="add-moreBtn" id="serviceSection">
											Add <span class="material-symbols-outlined"> add </span>
										</button>

										<span>Click to select services you want to get</span>
									</div>
								</div>

								<div id="addServiceSection" style="display: none">
									<div class="input-group  mb-4">
										<label for="" class="custom-file-lang-label"> Service
											Type</label>
										<div class="select-box">
											<select id="main-combo" name="serviceType">
												<option value="">Select Service Type</option>
												<option th:each="tempServiceType : ${serviceTypes}"
													th:value="${tempServiceType.typeId}"
													th:text="${tempServiceType.typeName}" />
											</select>
											<div class="down-icon">
												<img src="../../../../assets/images/admin-imgs/drpdown.svg"
													alt="" />
											</div>
										</div>
									</div>

									<div class="input-group  mb-4">
										<label for="" class="custom-file-lang-label"> Duration</label>
										<div class="select-box">
											<select id="main-combo" name="duration">
												<option value="">Select Duration</option>
												<option th:each="tempDuration : ${durations}"
													th:value="${tempDuration.durationId}"
													th:text="${tempDuration.duration}" />
											</select>
											<div class="down-icon">
												<img src="../../../../assets/images/admin-imgs/drpdown.svg"
													alt="" />
											</div>
										</div>
									</div>

									<div class="input-group  mb-4">
										<label for="" class="custom-file-lang-label"> Rate</label>
										<div class="rates m-0 p-0">
											<div class="col-md-6 col-sm-12">
												<div class="custom-min-word">
													<span>Min($)</span> <input type="text" name="minAmount"
														id="minAmount" />
												</div>
											</div>
											<div class="col-md-6 col-sm-12">
												<div class="custom-min-word">
													<span>Max($)</span> <input type="text" name="maxAMount"
														id="maxAMount" />
												</div>
											</div>
										</div>
									</div>

									<div class="input-group mb-4">
										<label for="" class="custom-file-lang-label"> Select
											Number of languages to Upload</label>
										<div class="select-box">
											<select name="jobLanguages" class="jobLanguages"
												id="main-combo">
												<option value="">Select no of Languages</option>
												<option value="language1">1</option>
												<option value="language2">2</option>
												<option value="language3">3</option>
												<option value="language4">4</option>
												<option value="language5">5</option>
												<option value="language6">6</option>
											</select>
											<div class="down-icon">
												<img src="../../../../assets/images/admin-imgs/drpdown.svg"
													alt="" />
											</div>
										</div>
									</div>


									<div class="language6 language">
										<div class="input-group mb-4">
											<label for="" class="custom-file-lang-label">
												Language source</label>
											<div class="select-box">
												<select name="languageSource1" class="job1" id="main-combo">
													<option value="">Select language</option>
													<option th:each="tempLanguage : ${languages}"
														th:value="${tempLanguage.languageId}"
														th:text="${tempLanguage.language}" />
												</select>
												<div class="down-icon">
													<img src="../../../../assets/images/admin-imgs/drpdown.svg"
														alt="" />
												</div>
											</div>
										</div>

										<div class="input-group mb-4">
											<label for="" class="custom-file-lang-label">
												Language destination</label>
											<div class="select-box">
												<select name="languageDestination1" class="job2"
													id="main-combo">
													<option value="">Select language</option>
													<option th:each="tempLanguage : ${languages}"
														th:value="${tempLanguage.languageId}"
														th:text="${tempLanguage.language}" />
												</select>
												<div class="down-icon">
													<img src="../../../../assets/images/admin-imgs/drpdown.svg"
														alt="" />
												</div>
											</div>
										</div>

										<div class="language-upload-container mb-4 upload-flex">
											<div>
												<label for="" class="custom-file-lang-label">Upload
													File </label>
												<div class="uploadBtn"
													onclick="imgUrl(null,'upfile','.uploadBtn')">Upload
													file here</div>
												<div style="height: 0px; width: 0px; overflow: hidden">
													<input name="languageUpload1" id="upfile" type="file"
														value="upload"
														onchange="imgUrl(this,'upfile','.uploadBtn')" />
												</div>
											</div>
										</div>
										</div>
										
										
									<div class="language6 language5 language">
										<div class="input-group mb-4">
											<label for="" class="custom-file-lang-label">
												Language source</label>

											<div class="select-box">
												<select name="languageSource2" class="job3" id="main-combo">
													<option value="">Select language</option>
													<option th:each="tempLanguage : ${languages}"
														th:value="${tempLanguage.languageId}"
														th:text="${tempLanguage.language}" />
												</select>
												<div class="down-icon">
													<img src="../../../../assets/images/admin-imgs/drpdown.svg"
														alt="" />
												</div>
											</div>
										</div>

										<div class="input-group mb-4">
											<label for="" class="custom-file-lang-label">
												Language destination</label>

											<div class="select-box">
												<select name="languageDestination2" class="job4"
													id="main-combo">
													<option value="">Select language</option>
													<option th:each="tempLanguage : ${languages}"
														th:value="${tempLanguage.languageId}"
														th:text="${tempLanguage.language}" />
												</select>
												<div class="down-icon">
													<img src="../../../../assets/images/admin-imgs/drpdown.svg"
														alt="" />
												</div>
											</div>
										</div>

										<div class="language-upload-container mb-4">
											<div>
												<label for="" class="custom-file-lang-label">Upload
													File </label>
												<div class="uploadBtn3"
													onclick="imgUrl(null,'upfile3','.uploadBtn3')">Upload
													file here</div>
												<div style="height: 0px; width: 0px; overflow: hidden">
													<input name="languageUpload2" id="upfile3" type="file"
														value="upload"
														onchange="imgUrl(this,'upfile','.uploadBtn3')" />
												</div>
											</div>
										</div>
									</div>


									<div class="language6 language5 language4 language">
										<div class="input-group mb-4">
											<label for="" class="custom-file-lang-label">
												Language source</label>
											<div class="select-box">
												<select name="languageSource3" class="job5" id="main-combo">
													<option value="">Select language</option>
													<option th:each="tempLanguage : ${languages}"
														th:value="${tempLanguage.languageId}"
														th:text="${tempLanguage.language}" />
												</select>
												<div class="down-icon">
													<img src="../../../../assets/images/admin-imgs/drpdown.svg"
														alt="" />
												</div>
											</div>
										</div>

										<div class="input-group mb-4">
											<label for="" class="custom-file-lang-label">
												Language destination</label> <select name="languageDestination3"
												class="job6" id="main-combo">
												<option value="">Select language</option>
												<option th:each="tempLanguage : ${languages}"
													th:value="${tempLanguage.languageId}"
													th:text="${tempLanguage.language}" />
											</select>
										</div>

										<div class="language-upload-container mb-4">
											<div>
												<label for="" class="custom-file-lang-label">Upload
													File </label>
												<div class="uploadBtn4"
													onclick="imgUrl(null,'upfile4','.uploadBtn4')">Upload
													file here</div>
												<div style="height: 0px; width: 0px; overflow: hidden">
													<input name="languageUpload3" id="upfile4" type="file"
														value="upload"
														onchange="imgUrl(this,'upfile','.uploadBtn4')" />
												</div>
											</div>
										</div>
									</div>


									<div class="language6 language5 language4 language3 language">
										<div class="input-group mb-4">
											<label for="" class="custom-file-lang-label">
												Language source</label> <select name="languageSource4" class="job7"
												id="main-combo">
												<option value="">Select language</option>
												<option th:each="tempLanguage : ${languages}"
													th:value="${tempLanguage.languageId}"
													th:text="${tempLanguage.language}" />
											</select>
										</div>

										<div class="input-group mb-4">
											<label for="" class="custom-file-lang-label">
												Language destination</label> <select name="languageDestination4"
												class="job8" id="main-combo">
												<option value="">Select language</option>
												<option th:each="tempLanguage : ${languages}"
													th:value="${tempLanguage.languageId}"
													th:text="${tempLanguage.language}" />
											</select>
										</div>

										<div class="language-upload-container mb-4">
											<div>
												<label for="" class="custom-file-lang-label">Upload
													File </label>
												<div class="uploadBtn5"
													onclick="imgUrl(null,'upfile5','.uploadBtn5')">Upload
													file here</div>
												<div style="height: 0px; width: 0px; overflow: hidden">
													<input name="languageUpload4" id="upfile5" type="file"
														value="upload"
														onchange="imgUrl(this,'upfile','.uploadBtn5')" />
												</div>
											</div>
										</div>
									</div>


									<div
										class="language6 language5 language4 language3 language2 language">
										<div class="input-group mb-4">
											<label for="" class="custom-file-lang-label">
												Language source</label> <select name="languageSource5" class="job9"
												id="main-combo">
												<option value="">Select language</option>
												<option th:each="tempLanguage : ${languages}"
													th:value="${tempLanguage.languageId}"
													th:text="${tempLanguage.language}" />
											</select>
										</div>

										<div class="input-group mb-4">
											<label for="" class="custom-file-lang-label">
												Language destination</label> <select name="languageDestination5"
												class="job10" id="main-combo">
												<option value="">Select language</option>
												<option th:each="tempLanguage : ${languages}"
													th:value="${tempLanguage.languageId}"
													th:text="${tempLanguage.language}" />
											</select>
										</div>

										<div class="language-upload-container mb-4">
											<div class="upload-flex">
												<label for="" class="custom-file-lang-label">Upload
													File </label>
												<div class="uploadBtn6"
													onclick="imgUrl(null,'upfile6','.uploadBtn6')">Upload
													file here</div>
												<div style="height: 0px; width: 0px; overflow: hidden">
													<input name="languageUpload5" id="upfile6" type="file"
														value="upload"
														onchange="imgUrl(this,'upfile','.uploadBtn6')" />
												</div>
											</div>
										</div>
									</div>


									<div
										class="language6 language5 language4 language3 language2 language1 language">
										<div class="input-group mb-4">
											<label for="" class="custom-file-lang-label">
												Language source</label> <select name="languageSource6" class="job11"
												id="main-combo">
												<option value="">Select language</option>
												<option th:each="tempLanguage : ${languages}"
													th:value="${tempLanguage.languageId}"
													th:text="${tempLanguage.language}" />
											</select>
										</div>

										<div class="input-group mb-4">
											<label for="" class="custom-file-lang-label">
												Language destination</label> <select name="languageDestination6"
												class="job12" id="main-combo">
												<option value="">Select language</option>
												<option th:each="tempLanguage : ${languages}"
													th:value="${tempLanguage.languageId}"
													th:text="${tempLanguage.language}" />
											</select>
										</div>

										<div class="language-upload-container mb-4">
											<div class="upload-flex">
												<label for="" class="custom-file-lang-label m-0">Upload
													File </label>
												<div class="uploadBtn7 m-0"
													onclick="imgUrl(null,'upfile7','.uploadBtn7')">Upload
													file here</div>
												<div style="height: 0px; width: 0px; overflow: hidden">
													<input name="languageUpload6" id="upfile7" type="file"
														value="upload"
														onchange="imgUrl(this,'upfile','.uploadBtn7')" />
												</div>
											</div>
										</div>
									</div>

								</div>

								<div class="w-100 d-flex justify-content-end mt-5">
									<button type="submit" class="uploadbtn next-btn">Submit
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- logout Modal -->
	<div class="modal fade" id="logoutModal" data-backdrop="static"
		data-keyboard="false" tabindex="-1"
		aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content logoutModal">
				<div class="modal-header">
					<p class="modal-title" id="logoutModalLabel">Log out of iVoice
						Africa?</p>
				</div>
				<div class="modal-body logoutModal-body">You can log in
					anytime with your email and password</div>
				<div class="modal-footer logoutModal-footer">
					<a th:href="@{/logout}">
						<button class="transparentBtn">Logout</button>
					</a>
					<button class="logoutBtn" data-dismiss="modal" aria-label="Close">
						Cancel</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Job Posted Modal -->
	<div class="modal fade" id="jobPostedModal" data-backdrop="static"
		data-keyboard="false" tabindex="-1"
		aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content logoutModal">
				<div class="modal-header">
					<p class="modal-title" id="logoutModalLabel">Job Posted!</p>
				</div>
				<div class="modal-body logoutModal-body">Your job has been
					posted, you would be notified of the best freelancers for the job
					soon.</div>
				<div class="modal-footer logoutModal-footer">
					<a href="clientrequests.html">
						<button class="transparentBtn">Okay</button>
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="addRequest" data-backdrop="static"
		data-keyboard="false" tabindex="-1"
		aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content logoutModal">Done!</div>
		</div>
	</div>


	<div th:replace="fragments/main_js :: main_js"></div>
	<script>
		var button = document.getElementById('serviceSection');

		button.onclick = function() {
			var div = document.getElementById('addServiceSection');
			if (div.style.display !== 'none') {
				div.style.display = 'none';
			} else {
				div.style.display = 'block';
			}
		};
	</script>
	<script>
		$('.jobLanguages').on('change', function() {
			var divClass = $(this).val();
			$(".language").hide();
			$("." + divClass).slideDown('medium');
		});
	</script>
</body>
</html>
