<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <div th:replace="fragments/main_css :: css-header"></div>
  
  <body>
    <div class="sign-modal">
      <form th:action="@{/signin}" method="post">
        <section class="onboarding-forms step active">
          <div class="text-center">
            <img
              src="../../assets/images/ivoiceafrica logo 2.png"
              alt="ivoiceafrica-logo"
              class="mb-2"
            />
            <h2 class="mb-2">Sign in to account</h2>
            <p class="welcome-text">
              Meet the right clients, get great value for your professionalism!
            </p>
          </div>
          
          <div th:if="${param.error}" class="alert alert-danger mt-3">
              Invalid username or password.
          </div>
          
          <div class="form-container">
            <div class="mb-5">
              <label for="email" class="form-label">Email</label>
              <input
                type="email"
                id="username"
                name="username"
                placeholder="Ex: Johndoe@gmail.com"
              />
            </div>
            <div class="mb-5">
              <label for="password" class="form-label">Password</label>
              <input
                type="password"
                id="password"
                name="password"
                placeholder="Write a password"
              />
              <span class="forgot-password">Forgot Password?</span>
            </div>
            <div class="onboard-footer footer-2">
              <button class="button mb-3" id="formBtn-next" type="submit" value="Login">
                Sign in
              </button>
            
           <!--  <a href="#" type="submit" class="button mb-3" value="Login" id="formBtn-next" 
                >Sign in</a> -->
             <!--  <a type="submit" class="button  mb-3" id="formBtn-next" value="Login">Sign in</a> -->
              <p class="mt-2">
                Don't have an account? <a th:href="@{/index}">Sign up</a>
              </p>
            </div>
          </div>
        </section>
      </form>
    </div>
  </body>
</html>
