<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/main_css :: css-header"></div>

<body>
	<div class="sign-modal">

		<form th:action="@{/signin}" method="post">

			<section class="onboarding-forms step active">




				<div class="text-center">
					<a href="../../index.html"> <img
						src="../../assets/images/ivoiceafrica logo 2.png"
						alt="ivoiceafrica-logo" class="mb-2" />
					</a>
					<h2 class="mb-2">Sign in to account</h2>
					<p class="welcome-text">Meet the right clients, get great value
						for your professionalism!</p>
				</div>

		
				<div th:if="${param.error}" class="alert alert-danger m-3">
					Invalid username or password.</div>

				<!-- display details of controller -->
				<p th:text="${message}" th:if="${message ne null}"
					class="alert alert-primary m-3"></p>


				<div class="form-container">
					<div class="mb-5">
						<label for="email" class="form-label">Email</label> <input
							type="email" id="username" name="username"
							placeholder="Ex: Johndoe@gmail.com" />
					</div>
					<div class="mb-5">
						<label for="password" class="form-label">Password</label> <input
							type="password" id="password" name="password"
							placeholder="Write a password" /> <span
							class="forgot-password">Forgot Password?</span>
					</div>
					<div class="onboard-footer footer-2">
						<button class="button mb-3" id="formBtn-next" type="submit"
							value="Login">Sign in</button>
						<p class="mt-2">
							Don't have an account? <a th:href="@{/mainpage}">Sign up</a>
						</p>
					</div>
				</div>
			</section>
		</form>
	</div>
</body>
</html>



