<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/main_css :: css-header"></div>

<script src="../../assets/JS/onboarding.js" defer></script>
<script src="../../assets/bootstrap/dist/js/bootstrap.bundle.js" defer></script>
<script src="../../assets/@popperjs/core/dist/umd/popper.min.js" defer></script>
<link rel="stylesheet"
	href="../../assets/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="../../assets/CSS/onboarding.css" />

<body>
	<form th:action="@{/client/signup/save}" th:object="${ClientSignupDTO}"
		method="post">
		<div class="sign-modal">
			<section class="onboarding-forms step active">
				<div class="text-center">
					<img src="../../assets/images/ivoiceafrica logo 2.png"
						alt="ivoiceafrica-logo" class="mb-2" />
					<h2 class="mb-2">Create your account</h2>
					<p class="welcome-text">
						Work with the best language artists in Africa, find 5-star <br />
						services
					</p>
				</div>

				<div th:if="${message ne null}" class="alert alert-danger m-3"
					th:text="${message}">This user already exist</div>

				<div class="form-container">
					<div class="mb-5">
						<label for="email" class="form-label">Username</label> <input
							type="text" id="username" name="username"
							placeholder="Ex: Johndoe" required />
					</div>
					<div class="mb-5">
						<label for="email" class="form-label">Email</label> <input
							type="email" id="email" name="email"
							placeholder="Ex: Johndoe@gmail.com" required />
					</div>
					<div class="mb-5">
						<label for="password" class="form-label">Password</label> <input
							type="password" id="password" name="password"
							placeholder="Write a password" required />
					</div>
					<div class="onboard-footer footer-2">

						<input type="submit" class="button mb-3" value="Signup as Client" />

						<!-- <a href="#" class="button mb-3" data-bs-toggle="modal"
							data-bs-target="#myModal">Signup as Client</a> -->
						<p>
							Already have an account? <a th:href="@{/signin}">Sign in</a>
						</p>
					</div>
				</div>



				<div class="form-footer onboard-footer">
					<p>
						Are you looking to find translation services? <a
							th:href="@{/freelancer-signup}">Sign up as a Freelancer</a>
					</p>
				</div>
			</section>
		</div>
		<div class="modal fade" id="myModal" data-bs-backdrop="static"
			data-bs-keyboard="false" tabindex="-1"
			aria-labelledby="staticBackdropLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header d-block text-center border-0">
						<h2 class="modal-title-edit my-2" id="exampleModalLabel">
							Please confirm your Email!</h2>
						<p class="welcome-text mb-4">
							We have sent an email with a confimation code to <span>johndoe@gmail.com</span>
						</p>
					</div>
					<div class="modal-body modal-codespace">
						<div class="token-space fs-3">
							<span class="token-text"></span>
						</div>
						<div class="token-space fs-3">
							<span class="token-text"></span>
						</div>
						<div class="token-space align-items-center fs-3">
							<span class="token-text"></span>
						</div>
						<div class="token-space fs-3">
							<span class="token-text"></span>
						</div>
					</div>
					<div class="modal-footer d-block border-0 text-center p-4">
						<button type="button" class="modal-btn mb-2"
							data-bs-toggle="modal" data-bs-target="#myModal-2">
							Resend email</button>
						<p class="model-footer-text">
							<span>johndoe@gmail.com</span> is not my email address
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="myModal-2">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header d-block text-center border-0">
						<h2 class="modal-title-edit mb-2" id="exampleModalLabel">
							Please confirm your Email!</h2>
						<p class="welcome-text mb-4">
							We have sent an email with a confimation code to <span>johndoe@gmail.com</span>
						</p>
					</div>
					<div class="modal-body modal-codespace">
						<div class="token-space fs-3">
							<span class="token-text">0</span>
						</div>
						<div class="token-space fs-3">
							<span class="token-text">2</span>
						</div>
						<div class="token-space fs-3">
							<span class="token-text">4</span>
						</div>
						<div class="token-space fs-3">
							<span class="token-text">6</span>
						</div>
					</div>
					<div class="modal-footer d-block mt-4 border-0 text-center mb-2">
						<a th:href="@{/client-profile-setup}" class="modal-btn">
							confirm email </a>
					</div>
				</div>
			</div>
		</div>
	</form>
</body>
</html>
