<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="css-header">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>iVoice Africa</title>

    <link rel="stylesheet" th:href="@{assets/CSS/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{assets/CSS/onboarding.css}" />

    <script th:src="@{assets/JS/onboarding.js}" defer></script>
    <script th:src="@{assets/bootstrap/dist/js/bootstrap.bundle.js}" defer></script>
    <script th:src="@{assets/@popperjs/core/dist/umd/popper.min.js}" defer></script>
  </head>


</html>