<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/main_css :: css-header"></div>

<body>
	<div class="admin-overview">


		<!-- ADMIN SIDE NAVIGATION -->
		<div th:replace="fragments/main_sidenav_admin :: sidenav_admin"></div>
		<!-- ///// -->

		<!-- ADMIN MAIN SECTION -->
		<div class="admin-main">
			<div class="admin-overlay"></div>
			<div class="admin-header">
				<div class="admin-cta">
					<button class="menu-btn">
						<span class="material-symbols-outlined"> menu </span>
					</button>
					<h1 class="admin-heading">Finances</h1>
				</div>


				<div th:replace="fragments/admin_user :: admin-user-header"></div>

			</div>
			<div class="admin-contentbox">
				<div class="util-header">
					<div class="options">
						<select name="select" id="select-client" class="select-filter">
							<option value="Transaction ID">Transaction ID</option>
							<option value="Client ID">Client ID</option>
						</select> 
						<span> 
						<img
							src="../../../../assets/images/admin-imgs/drpdown.svg"
							alt="dropdown arrow" class="mt-3 mx-3"/>
						</span>
						
					</div>
					<div class="util-search">
						<img src="../../../../assets/images/admin-imgs/bigsearch.svg"
							alt="search icon" /> <input type="text" placeholder="Search" />
					</div>
					<span>
							<button type="button" class="btn btn-outline-secondary btn-lg btn-block mt-2">Search</button>
					</span>
				</div>
				<div class="finance-statistics">
					<table id="finance-stats-table">
						<thead>
							<tr>
								<th>Transaction ID</th>
								<th>Transaction type</th>
								<th>Amount</th>
								<th>Job ID</th>
								<th>Freelancer ID</th>
								<th>Date</th>
								<th>Freelancer ID</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="id">00032356679</td>
								<td>Escrow deposit</td>
								<td>$1000</td>
								<td class="id">00032356679849</td>
								<td>0003235660987</td>
								<td>3 October, 2020 4:27PM</td>
								<td>Pending</td>
							</tr>
							<tr>
								<td class="id">00032356679</td>
								<td>Escrow deposit</td>
								<td>$1000</td>
								<td class="id">00032356679849</td>
								<td>0003235660987</td>
								<td>3 October, 2020 4:27PM</td>
								<td>Pending</td>
							</tr>
							<tr>
								<td class="id">00032356679</td>
								<td>Escrow deposit</td>
								<td>$1000</td>
								<td class="id">00032356679849</td>
								<td>0003235660987</td>
								<td>3 October, 2020 4:27PM</td>
								<td>Pending</td>
							</tr>
							<tr>
								<td class="id">00032356679</td>
								<td>Escrow deposit</td>
								<td>$1000</td>
								<td class="id">00032356679849</td>
								<td>0003235660987</td>
								<td>3 October, 2020 4:27PM</td>
								<td>Pending</td>
							</tr>
							<tr>
								<td class="id">00032356679</td>
								<td>Escrow deposit</td>
								<td>$1000</td>
								<td class="id">00032356679849</td>
								<td>0003235660987</td>
								<td>3 October, 2020 4:27PM</td>
								<td>Pending</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
