<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>iVoice Africa</title>

    <link rel="stylesheet" th:href="@{assets/CSS/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{assets/CSS/onboarding.css}" />

    <script th:src="@{assets/JS/onboarding.js}" defer></script>
    <script th:src="@{assets/bootstrap/dist/js/bootstrap.bundle.js}" defer></script>
    <script th:src="@{assets/@popperjs/core/dist/umd/popper.min.js}" defer></script>
  </head>
  <body>
    <form action="">
      <section class="onboarding-forms step active">
        <div class="text-center">
          <img
            th:src="@{assets/images/ivoiceafrica logo 2.png}"
            alt="ivoiceafrica-logo"
            class="mb-2"
          />
          <h2 class="mb-2">Create your account</h2>
          <p class="welcome-text">
            Meet the right clients, get great value for your professionalism!
          </p>
        </div>
        <div class="form-container">
          <div class="mb-5">
            <label for="email" class="form-label">Email</label>
            <input
              type="email"
              id="email"
              placeholder="Ex: Johndoe@gmail.com"
            />
          </div>
          <div class="mb-5">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              id="password"
              placeholder="Write a password"
            />
            <span class="forgot-password">Forgot Password?</span>
          </div>
          <div class="onboard-footer footer-2">
            <a href="#" class="button mb-3" id="formBtn-next">Sign in</a>
            <p>Don't have an account? <a th:href="@{/signup}">Sign up</a></p>
          </div>
        </div>
        <div class="form-footer onboard-footer">
          <p>
            Are you looking to find translation services?
            <a th:href="@{/signup}">Sign up as a Client</a>
          </p>
        </div>
      </section>
    </form>
  </body>
</html>
