<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      rel="shortcut icon"
      sizes="32x32"
      href="assets/icons/fav.png"
      type="image/x-icon"
    />
    <meta
      name="description"
      content="We are a translation and localization company that provides expertise in brand identity and language solutions for businesses worldwide."
    />
    <title>Home - IVoiceAfrica</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="assets/CSS/components.css" />
    <link rel="stylesheet" href="assets/CSS/landing.css" />
    <link rel="stylesheet" href="assets/CSS/landingQueries.css" />
    <script defer src="assets/JS/landing.js"></script>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,500,0,0"
    />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Open+Sans:wght@500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="header">
      <div class="header-brand">
        <button class="menu-btn">
          <span class="material-symbols-outlined"> menu </span>
        </button>
        <a
          href="
      #"
        >
          <img src="assets/images/imgs/ivoicelogo.svg" alt="ivoice logo" />
        </a>
      </div>

      <ul class="nav__links">
        <div class="nav__link login-txt sec-brand">
          <img
            src="assets/images/admin-imgs/ivoiceafrica logo white  1@2x.svg"
            alt="logo"
          />
        </div>

        <li class="nav__link">
          <a href="#about" class="nav__item">About</a>
        </li>
        <li class="nav__link">
          <a href="#services" class="nav__item">Services</a>
        </li>
        <li class="nav__link">
          <a href="#faqs" class="nav__item">FAQs</a>
        </li>
        <li class="nav__link">
          <a href="#contact" class="nav__item">Contact Us</a>
        </li>
        <li class="nav__link login-txt">
          <a th:href="@{/signin}" class="nav__item">Login</a>
        </li>
      </ul>
      <div class="header__ctas">
        <a th:href="@{/mainpage}" class="primary-btn">Get started</a>
        <a th:href="@{/signin}" class="transparentbtn"
          >Login</a
        >
        <button class="close-btn">
          <span class="material-symbols-outlined"> close </span>
        </button>
      </div>
    </header>

    <main>
      <section>
        <div class="container">
          <div class="hero-overview">
            <div class="hero-textbox">
              <h1 class="heading-primary">
                Providing African language solutions that enhance your
                customer's experience
              </h1>
              <p class="summary-primary">
                Never miss an opportunity to build strong relationships with
                your African audience using custom-tailored language solutions
                from iVoiceAfrica.
              </p>
              <a th:href="@{/mainpage}" class="primary-btn mt-md">
                <span>Get Started</span>

                <img src="assets/images/imgs/arrright.svg" alt="arrow right " />
              </a>
            </div>
          </div>
        </div>
      </section>

      <section class="section-choosing hidden">
        <div class="container">
          <div class="choose-box">
            <div class="choose-textbox">
              <h1 class="heading-primary">
                When entering the African market, choosing the right language is
                essential.
              </h1>
              <p class="summary-primary">
                More than 70% of customers are more likely to buy a product with
                information <br />
                in their own language.
              </p>
            </div>
            <div class="choose-advantages">
              <div class="advantage-box">
                <div>
                  <img
                    src="assets/images/imgs/bookmark.svg"
                    alt="bookmark icon"
                  />
                </div>
                <p>
                  Become memorable and recognizable to your target audience with
                  strategies and channels that increase brand awareness.
                </p>
              </div>
              <div class="advantage-box">
                <div>
                  <img
                    src="assets/images/imgs/pinned.svg"
                    alt="pinned archery icon"
                  />
                </div>

                <p>
                  Meet and exceed your customer’s expectations, build trust and
                  boost your credibility.
                </p>
              </div>
              <div class="advantage-box">
                <div>
                  <img src="assets/images/imgs/growth.svg" alt="growth graph" />
                </div>
                <p>
                  Become memorable and recognizable to your target audience with
                  strategies and channels that increase brand awareness.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="why-section hidden">
        <div class="container">
          <div class="why">
            <h1 class="heading-primary">
              Why over 1,200 companies choose iVoiceAfrica
            </h1>
            <p class="summary-primary maxW">
              Different languages appeal to different audiences, and some
              languages are <br />
              more widely spoken than others. When entering the African market
              ,<br />
              choosing the right language is essential.
            </p>
            <div class="why-imagery">
              <div class="why-imgs">
                <div>
                  <img src="assets/images/imgs/andela.svg" alt="Andela logo" />
                </div>
                <div>
                  <img
                    src="assets/images/imgs/silverbird.svg"
                    alt="silverbird logo"
                  />
                </div>
                <div>
                  <img src="assets/images/imgs/lgur.svg" alt="lendsqr logo" />
                </div>
                <div>
                  <img
                    src="assets/images/imgs/bussinessday.svg"
                    alt="bussiness day logo"
                  />
                </div>
              </div>
              <div class="why-imgs">
                <div>
                  <img
                    src="assets/images/imgs/fidelity.svg"
                    alt="fidelity logo"
                  />
                </div>
                <div>
                  <img src="assets/images/imgs/caf.svg" alt="caf logo" />
                </div>
                <div>
                  <img src="assets/images/imgs/inec.svg" alt="inec logo" />
                </div>
              </div>
              <div class="why-imgs">
                <div>
                  <img src="assets/images/imgs/andela.svg" alt="Andela logo" />
                </div>
                <div>
                  <img src="assets/images/imgs/andela.svg" alt="Andela logo" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="about"></div>
      </section>

      <section class="about-section hidden">
        <div class="container">
          <div class="WH-box">
            <div class="who-overview">
              <h1 class="heading-primary">Who We Are</h1>
              <p class="summary-primary">
                We help our clients reach African markets by connecting them
                with their audiences and delivering the most satisfactory
                customer experience in any African language.
              </p>
            </div>
            <div class="what-overview">
              <h1 class="heading-primary">What We Do</h1>
              <p class="summary-primary">
                We help our clients reach African markets by connecting them
                with their audiences and delivering the most satisfactory
                customer experience in any African language.
              </p>
            </div>
          </div>
          <div class="languages">
            <div>
              <div class="counter">
                <span class="count">+</span>
                <div class="flex">
                  <h1 class="count count-num" data-target="90"></h1>
                  <span class="count">%</span>
                </div>
              </div>
              <p>SUCESS RATE</p>
            </div>
            <div>
              <div class="counter">
                <span class="count">+</span>
                <h1 class="count count-num" data-target="2000"></h1>
              </div>
              <p>LANGUAGE OFFERS</p>
            </div>
            <div>
              <div class="counter">
                <span class="count">+</span>
                <h1 class="count count-num" data-target="1500"></h1>
              </div>
              <p>COMPLETED JOBS</p>
            </div>
          </div>
        </div>
        <div id="services"></div>
      </section>
      <section class="section-services hidden">
        <div class="container">
          <div class="services">
            <h1 class="heading-primary" id="services">Our Services</h1>
            <p class="summary-primary">
              Different languages appeal to different audiences, and some
              languages are <br />
              more widely spoken than others. When entering the African
              market,<br />
              choosing the right language is essential.
            </p>
          </div>
          <div class="services-rendered">
            <div class="service-box">
              <div class="service-details">
                <img src="assets/images/imgs/pc.png" alt="Interpretation img" />
                <div class="service-details_detail">
                  <p>
                    Become memorable and recognizable to your target audience
                    with strategies and channels that increase brand awareness.
                  </p>
                  <a href="onboarding/index.html" class="btn-trans"
                    >Get started</a
                  >
                </div>
              </div>
              <h2>INTERPRETATION</h2>
            </div>
            <div class="service-box">
              <div class="service-details">
                <img src="assets/images/imgs/book.png" alt="book img" />
                <div class="service-details_detail">
                  <p>
                    Become memorable and recognizable to your target audience
                    with strategies and channels that increase brand awareness.
                  </p>
                  <a href="onboarding/index.html" class="btn-trans"
                    >Get started</a
                  >
                </div>
              </div>
              <h2>TRANSCRIPTION</h2>
            </div>
            <div class="service-box">
              <div class="service-details">
                <img
                  src="assets/images/imgs/googletranslator.png"
                  alt="googletranslator img"
                />
                <div class="service-details_detail">
                  <p>
                    Become memorable and recognizable to your target audience
                    with strategies and channels that increase brand awareness.
                  </p>
                  <a href="onboarding/index.html" class="btn-trans"
                    >Get started</a
                  >
                </div>
              </div>

              <h2>TRANSLATION</h2>
            </div>
            <div class="service-box">
              <div class="service-details">
                <img src="assets/images/imgs/mic.png" alt="michrophone img" />
                <div class="service-details_detail">
                  <p>
                    Become memorable and recognizable to your target audience
                    with strategies and channels that increase brand awareness.
                  </p>
                  <a href="onboarding/index.html" class="btn-trans"
                    >Get started</a
                  >
                </div>
              </div>
              <h2>VOICE-OVER</h2>
            </div>
          </div>
        </div>
        <div id="faqs"></div>
      </section>
      <section class="section-faqs hidden">
        <div class="container">
          <div class="faqs">
            <div class="heading-primary center">Frequently Asked Questions</div>
            <div class="faq">
              <div class="faq-question">
                <h3>Do you offer regional dialects?</h3>
                <button class="faq-btn">
                  <img
                    src="assets/images/imgs/greaterthan.svg"
                    alt="greaterthan icon"
                  />
                </button>
              </div>

              <p class="hidden-answer">
                Yes. We have voiceover artists that are well versed in regional
                dialects..
              </p>
            </div>
            <div class="faq">
              <div class="faq-question">
                <h3>Are you able to identify languages?</h3>
                <button class="faq-btn">
                  <img
                    src="assets/images/imgs/greaterthan.svg"
                    alt="greaterthan icon"
                  />
                </button>
              </div>

              <p class="hidden-answer">
                Yes. We have voiceover artists that are well versed in regional
                dialects.
              </p>
            </div>
            <div class="faq">
              <div class="faq-question">
                <h3>Where are your studios based?</h3>
                <button class="faq-btn">
                  <img
                    src="assets/images/imgs/greaterthan.svg"
                    alt="greaterthan icon"
                  />
                </button>
              </div>

              <p class="hidden-answer">
                Quisque rutrum. Aenean imperdi. Etiam ultricies nisi vel augue.
                Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam
                rhoncus. Maecenas tempus, tellus eget.
              </p>
            </div>
            <div class="faq">
              <div class="faq-question">
                <h3>Do you have training for voiceovers and translation?</h3>
                <button class="faq-btn">
                  <img
                    src="assets/images/imgs/greaterthan.svg"
                    alt="greaterthan icon"
                  />
                </button>
              </div>

              <p class="hidden-answer">
                Quisque rutrum. Aenean imperdi. Etiam ultricies nisi vel augue.
                Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam
                rhoncus. Maecenas tempus, tellus eget.
              </p>
            </div>
          </div>
        </div>
        <div id="contact"></div>
      </section>

      <section class="section-contact hidden">
        <div class="container">
          <div class="contact">
            <div class="contact-box">
              <div class="heading-primary">Contact Support</div>
              <p class="contact-summary">
                We are a translation and localization company that provides
                expertise in brand identity and language solutions for
                businesses worldwide.
              </p>

              <div class="contact-via">
                <div class="contact-via-box">
                  <img
                    src="assets/images/imgs/msgicon.svg"
                    alt="message icon"
                  />
                  <div>
                    <p>Chat with us</p>
                    <span>Reach out to us at info@ivoiceafrica.com</span>
                  </div>
                </div>
                <div class="contact-via-box">
                  <img src="assets/images/imgs/pin.svg" alt="pin icon" />
                  <div>
                    <p>Our Office</p>
                    <span>iVoiceAfrica Studios, Lagos Nigeria</span>
                  </div>
                </div>
                <div class="contact-via-box">
                  <img src="assets/images/imgs/call.svg" alt="phone icon" />
                  <div>
                    <p>Call Us</p>
                    <span>Ring us on +234 7026276411</span>
                  </div>
                </div>
              </div>
            </div>
            <form action="#" class="contact-cta">
              <div class="cta-header">
                <div>
                  <label for="firstname">First Name</label>
                  <input type="text" placeholder="Message" />
                </div>
                <div>
                  <label for="firstname">Last Name</label>
                  <input type="text" placeholder="Message" />
                </div>
              </div>
              <div class="input-email">
                <label for="email">Email Address</label>
                <input type="email" id="email" placeholder="Message" />
              </div>
              <div class="input-company">
                <label for="firstname">Company</label>

                <input
                  type="text"
                  placeholder="e.g Company xyz"
                  class="company-input"
                />
                <p class="caution-text">if(any)</p>
              </div>
              <div class="input-additionalMsg">
                <label for="Additionalmessage">Additional Message</label>
                <textarea
                  name=""
                  id="Additionalmessage"
                  class="msg"
                  placeholder="Type message here"
                  maxlength="300"
                ></textarea>
                <span class="limit-text">0/300</span>
              </div>
            </form>
          </div>
        </div>
      </section>
    </main>

    <footer class="section-footer">
      <div class="container">
        <div class="footer">
          <div class="copyright">© 2022. All rights Reserved. iVoiceAfrica</div>
          <div class="footer-socials">
            <a href="#">
              <img src="assets/images/imgs/facbook.svg" alt="facbook logo" />
            </a>
            <a href="#">
              <img src="assets/images/imgs/twitta.svg" alt="twitter logo" />
            </a>
            <a href="#">
              <img src="assets/images/imgs/linkedin.svg" alt="linkedin logo" />
            </a>
            <a href="#">
              <img
                src="assets/images/imgs/instagram.svg"
                alt="instagram logo"
              />
            </a>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
