.finance-stats {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background: hsla(0, 0%, 100%, 1);
  text-align: center;
  border-radius: 10px;
  margin-bottom: 1.6rem;
  margin-top: 2.4rem;
  border: 1px solid hsla(214, 57%, 24%, 0.1);
}

.finance-stats .in-account {
  border-right: 1px solid hsla(214, 57%, 24%, 0.1);
  /* border-left: 1px solid hsla(214, 57%, 24%, 0.1); */
  padding: 4.4rem 5.6rem;
  /* width: 25%; */
}

.finance-stats > div:last-child {
  border: none;
}
.finance-stats > div:last-child {
  border: none;
}

.finance-heading {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 1.8rem;
  color: hsla(214, 45%, 20%, 0.5);
}

.finance-amt {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 3.2rem;
  color: hsla(216, 35%, 15%, 1);
  margin-top: 1.6rem;
}

.finance-hist-label {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 2.2rem;
  color: hsla(216, 35%, 15%, 1);
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.financial-history {
  background: hsla(0, 0%, 100%, 1);
  border-radius: 1rem;
  padding: 1.6rem;
  margin-right: 8.6rem;
}

.fl__finance-box {
  padding-right: 8.7rem;
}
.fl_finance-history {
  background: hsla(0, 0%, 100%, 1);
  border-radius: 1rem;
  padding: 1.6rem;
}

.finance-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3.5rem 0;
  /* position: static; */
}
.finance-head {
  display: flex;
}

.trans-finance-filter {
  border: 0.1rem solid hsla(214, 53%, 23%, 0.16);
  margin-right: 1em;
  position: relative;
  font-weight: 600;
  border-radius: 0.3rem;
  min-width: 19rem;
  height: 3.6rem;
}
.custom-select-arr {
  position: absolute;
  top: 0.3rem;
  right: 0.4rem;
}
.custom-select-arr-II {
  position: absolute;
  top: 0.3rem;
  left: 7.8rem;
}
.trans-finance-filter span {
  padding: 0.8rem 1rem 0.8rem 0.8rem;
  height: 100%;
  font-size: 1.4rem;
  font-weight: 600;
}
.trans-finance-filter span:not(:last-child) {
  border-right: 0.1rem solid hsla(214, 57%, 24%, 0.1);
}
.trans-finance-filter select {
  border: none;
  font-size: 1.4rem;
  cursor: pointer;
  font-weight: 600;
  appearance: none;
  position: relative;
  background: none;
  color: inherit;
  padding: 0.6rem 1.8rem 0.6rem 0.6rem;
}
.trans-finance-filter select option {
  font-size: 1.6rem;
  font-weight: 600;
}
.trans-finance-filter select:last-child {
  padding: 0.6rem 1.2rem 0.6rem 0.6rem;
}

.border-left {
  border-left: 0.1rem solid hsla(214, 57%, 24%, 0.1);
}
.withdraw-btn {
  display: inline-block;
  padding: 0.8rem 2.4rem;
  border: none;
  border-radius: 5px;
  font-size: 1.6rem;
  background: #e14c29;
  color: hsla(0, 0%, 100%, 1);
  transition: background 0.3s;
  cursor: pointer;
}
.withdraw-btn:hover {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    ),
    #e14c29;
}
.finance {
  overflow-x: scroll;
}
.finance-stats-table {
  border-collapse: collapse;
  min-width: 102rem;
  width: 100%;
  box-shadow: 0 0 2rem hsla(0, 0, 0, 0.15);
}

.finance-stats-table thead tr {
  background: hsla(50, 100%, 51%, 0.05);
  color: hsla(216, 35%, 15%, 1);
  text-align: left;
}
.finance-stats-table {
  font-weight: 600;
}
.finance-stats-table th,
.finance-stats-table td {
  padding: 1.6rem 1.5rem;
}

.finance-stats-table tbody tr {
  border-bottom: 0.1rem solid hsla(214, 57%, 24%, 0.1);
}

.finance-stats-table tbody tr > td {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 1.6rem;
  color: inherit;
}

.finance-stats-table tbody tr > td:nth-child(3) {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 1.6rem;
}

.finance-stats-table tbody tr > td:last-child {
  color: #00a344;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 2rem;
}

/* Client Finance */

.clientFinance {
  display: flex;
  align-items: center;
  /* position: fixed; */
  /* margin-right: auto; */
  justify-content: space-between;
  /* width: 100%; */
}

.clientFinance .clienttotal {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 1.8rem;
  color: hsla(214, 45%, 20%, 0.5);
}

.clientspent-total {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 2.4rem;
  color: hsla(216, 35%, 15%, 1);
  margin-left: 0.5em;
}
