/* (1366x768) WXGA Display */

@media screen and (min-width: 1441px) and (max-width: 1920px) {
  .error-content {
    margin-top: 100px;
  }
}

/*Medium Desktop Device*/

@media screen and (min-width: 1200px) and (max-width: 1440px) {
  .col-ml-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-ml-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .col-ml-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-ml-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  #coin_distribution-wrapper {
    margin-top: -68px;
  }
  .cripto-live ul li .icon {
    height: 23px;
    width: 23px;
    margin-right: 3px;
    font-size: 13px;
    line-height: 23px;
  }
  .cripto-live ul li {
    margin-bottom: 35px;
    font-size: 15px;
  }
  .exhcange-rate {
    padding: 48px 38px;
  }
  .exchange-btn button {
    margin-top: 37px;
  }
  .single-report h2 {
    font-size: 19px;
  }
  .s-report-title {
    margin-bottom: 17px;
  }
  .card-title {
    font-size: 20px;
  }
  .s-report-inner {
    padding-left: 73px;
  }
  /* dashboard two */
  .s-report-title .header-title {
    font-size: 15px;
  }
  .member-box .media-body p {
    font-size: 15px;
  }
  .s-member img {
    max-width: 60px;
  }
  .s-member .media-body {
    margin-left: 20px !important;
  }
  .tm-social a {
    margin-left: 3px;
    font-size: 18px;
  }
  .member-box .media-body span {
    font-size: 14px;
    line-height: 21px;
  }
  .team-search {
    margin-top: 20px;
  }
  .team-search input {
    width: 100%;
  }

  /* error page */
  .error-content {
    margin-top: 100px;
  }

  /* dashboard three */
  #salesanalytic {
    height: 500px;
  }
  #seomap {
    height: 346px;
  }
  #seolinechart8 {
    margin-top: 60px;
  }
}

@media (max-width: 1458px) {
  .job__amt {
    padding: 0.8rem;
  }
}
@media (min-width: 1259px) and (max-width: 1423px) {
  .fl__ratings {
    gap: 0rem;
  }
}
/* Normal desktop :992px. */

@media (max-width: 1323px) {
  html {
    font-size: 60%;
  }
  .clientform-section1 {
    flex-direction: column;
    width: 100%;
    justify-content: auto;
    align-items: flex-start;
  }
  .clientform-section1 div {
    width: 100%;
  }

  .sbar_collapsed .nav-btn span {
    background: #b3aaaa;
  }
  .sbar_collapsed .logo a span {
    display: block;
  }
  .minisidebar.main-menu {
    margin-right: 0;
  }

  /* .fl__ratings {
    gap: 0.5rem;
    flex-wrap: wrap;
  } */
  /* main content */
  .main-content-inner {
    padding: 0 15px 50px;
  }
  .page-container,
  .sbar_collapsed.page-container {
    padding-left: 0;
  }
  /* sidebar collapsed end */
  /* pricing */
  .col-mdl-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .notification-area {
    gap: 2rem;
  }
}
@media (max-width: 1265px) {
  .main__contentbox {
    /* padding-left: 35rem; */
  }
  .fl_overview-right {
    margin-bottom: 2rem;
  }
  .fl__jobs {
    margin-top: 0;
  }
  .w-75 {
    width: 70% !important;
  }
  .fl_overview-right,
  .fl_overview-left,
  .inprogress-flex {
    flex-direction: column;
    gap: 1.7rem;
  }
  .inprogress-view,
  .inprogress-flex .job-status,
  .finished-left {
    width: 100%;
  }
  .fl__details--d .griddy {
    flex-wrap: wrap;
  }
  .fl__details {
    margin: 0;
    height: auto;
  }
  .finance-stats .in-account {
    padding: 4.4rem 3.2rem;
  }
  .fl__details,
  .job__notifications,
  .fl__jobs,
  .languages {
    width: 100%;
  }
  .job__amt {
    padding: 0.8rem 3rem;
  }
  .fl__links {
    gap: 2rem;
  }
  .fl__finance-box {
    padding-right: 8rem;
  }
  .fl__ratings div span {
    font-size: 1.8rem;
  }
  .clientprofile {
    padding: 2rem;
  }
  .contentbox {
    margin-right: 20rem;
  }

  .accordion-section {
    grid-template-columns: repeat(2, 1fr);
  }
  .clientrequests-heading {
    padding-right: 12rem;
  }
}

@media (max-width: 1150px) {
  .main__headerbox {
    padding-left: 4rem;
  }
  .fl__finance-box {
    padding-right: 0rem;
  }
  .main__contentbox {
    padding-right: 4rem;
    padding-left: 4rem;
  }
  .header__search {
    margin-left: 0;
  }
  .finance-stats .in-account {
    padding: 4.4rem 5.6rem;
  }
  .accordion-section,
  .inprogress-boxes,
  .fl__d--container,
  .clientprofile,
  .profile-fl-box {
    margin-right: 0;
  }
  .job-status {
    width: 100%;
    margin: 0 !important;
  }
  .cl-details-box {
    flex-direction: column;
    gap: 1rem;
    align-items: left;
    width: 100%;
  }
  .w-75 {
    width: 100% !important;
  }
  .arrow-back {
    left: -3rem;
  }

  .contentbox {
    margin-right: 0;
  }
  .arrow_back_link {
    position: absolute;
    top: 12.5%;
    left: 0.5%;
  }
  .sidebar {
    left: -40rem;
    height: 100%;
    min-height: 100vh;
    transition: left 0.3s;
  }
  .nav-open .overlay {
    display: block;
  }
  .profile-box {
    margin-right: 0rem;
  }
  .nav-open .smallnav-logo {
    display: block;
  }
  .nav-open .sidebar {
    position: fixed;
    z-index: 8;
    top: 0;
    left: 0;
  }

  .financial-history,
  .finished-job-overview {
    margin-right: 0rem;
  }
  .menu-icon {
    display: flex;
  }
  /* dashboard one */
  .mt-md-30 {
    margin-top: 30px;
  }
  .nav-btn span {
    background: #fffbfb;
  }
  .sbar_collapsed .sidebar-menu {
    left: -90%;
  }
  .sbar_collapsed .nav-btn {
    position: initial;
    background: none;
    padding: 0;
    margin: 10px 30px 0 0;
  }
  .sbar_collapsed .nav-btn span {
    background: #b3aaaa;
  }
  .sbar_collapsed .logo a span {
    display: block;
  }
  .minisidebar.main-menu,
  .project-box {
    margin-right: 0;
  }
  /* main content */
  .main-content-inner {
    padding: 0 15px 50px;
  }
  .page-container,
  .sbar_collapsed.page-container {
    padding-left: 0;
  }
  /* fact area */
  .single-report h2 {
    font-size: 17px;
  }
  .s-report-inner {
    padding-left: 73px;
  }
  .s-report-title {
    margin-bottom: 17px;
  }
  .s-report-title .card-title {
    font-size: 20px;
  }
  #coin_distribution-wrapper {
    margin-top: -65px;
  }
  #verview-shart-wrapper {
    margin-top: -26px;
  }
  .cripto-live ul li .icon {
    height: 23px;
    width: 23px;
    margin-right: 3px;
    font-size: 13px;
    line-height: 23px;
  }
  .cripto-live ul li {
    margin-bottom: 35px;
    font-size: 15px;
  }
  .letest-news {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .exchange-btn button {
    margin-top: 37px;
  }
  .single-post {
    flex-basis: calc(50% - 15px);
    display: block;
  }
  .lts-thumb {
    margin-bottom: 10px;
  }
  /* dashboard two */
  .member-box .media-body p {
    font-size: 16px;
  }

  /* dahsboard three */
  #seolinechart8 {
    margin-top: 60px;
  }

  /* horizontal header dashboard */
  .horizontal-menu ul li a {
    padding: 10px 8px;
  }
  .seo-fact #seolinechart3,
  .seo-fact #seolinechart4 {
    max-width: 144px;
  }
}
@media (max-width: 896px) {
  .clientprofile {
    flex-direction: column;
  }
  .header__sidenav,
  .contentbox {
    margin-right: 2rem;
  }

  .header__search {
    margin-right: -10rem;
    width: 100%;
  }
  .ivoice-logo {
    display: none;
  }
  .menu-icon {
    background: rgba(255, 215, 6, 0.15);
  }
  .header__icons {
    gap: 2.5rem;
  }
  .finance-stats .in-account {
    padding: 2rem 1.5rem;
  }
  .finance-head {
    flex-direction: column;
  }
  .trans-finance-filter:first-child {
    max-width: 20rem;
    /* margin-bottom: 1rem; */
  }
  .finishedjob-box {
    flex-direction: column;
    gap: 1.6rem;
    z-index: 9;
  }
  .span-flex {
    width: 100%;
  }
  .lang-service-offered {
    width: 100%;
  }
}
@media (max-width: 690px) {
  .main__headerbox {
    padding-left: 4rem;
  }
  .fl__ratings {
    gap: 0rem;
  }
  .activejobs-heading span {
    font-size: 2rem;
  }
  .flex {
    flex-direction: column;
    width: auto;
    gap: 1.2rem;
    align-items: flex-start !important;
  }
  .client-rating-review {
    flex-direction: column;
    width: 100%;
    gap: 2rem;
  }
  .client-review {
    padding: 1.5rem;
  }
  .header {
    padding-left: 1rem;
  }

  .arrow_back_link {
    display: none;
  }
  .client-rating-review .client-comments,
  .client-rating-review .client-request,
  .client-rating-review .client-rating {
    width: 100%;
  }
  .finance-stats {
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 1.5rem;
  }
  .profile-services {
    padding: 1.5rem;
  }
  .clientprofile {
    margin-right: 0;
  }
  .freelancer-bidding {
    grid-template-columns: 1fr;
  }
  .finished-job-overview {
    margin-right: 0rem;
  }
  .job-alert-heading-first {
    width: 100%;
  }
  .calender {
    font-weight: 500;
    font-size: 1.4rem;
  }
  .job-alert-heading-first span {
    font-size: 2rem;
  }

  .job-list-details {
    gap: 4rem;
  }
  .clientform-section4 {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }
  .clientform-section4 div {
    width: 100%;
  }
  .profile-header {
    padding-right: 2rem;
  }

  .job-id {
    margin-top: 1.3rem;
  }
  .clientform-section5 div {
    width: 100%;
  }
  .clientform-section4 div input {
    width: 100%;
  }
  .finance-hist-label,
  .clientspent-total {
    font-size: 1.7rem;
  }
  .clientFinance .clienttotal {
    font-size: 1.5rem;
  }
  .main__contentbox {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .accordion-section,
  .inprogress-boxes {
    grid-template-columns: 1fr;
  }
  .trans-finance-filter {
    margin: 0;
  }
  .trans-finance-filter span {
    padding: 0.4rem 0.1rem 0.6rem 0.4rem;
  }

  .in-progress-card {
    /* margin: 0; */
  }
  .inprogress-boxes {
    gap: 1rem;
  }
  .financial-history {
    margin-right: 2rem;
  }
  .finance-filter {
    margin: 1.6rem 0;
  }
  .header__sidenav,
  .contentbox {
    margin-right: 1rem;
  }
  .contentbox {
    padding: 2.4rem;
  }
  .add-section > span {
    font-size: 1.6rem;
  }
  .clientrequests-heading {
    padding-right: 2rem;
  }
  .details-cl-box {
    margin-right: 2rem;
  }

  .job-alerts,
  .job-alertReq {
    padding: 2.2rem;
  }
  .finance-stats .in-account {
    padding: 2rem;
    width: 100%;
  }
  .finance-stats .in-account {
    border-bottom: 0.1rem solid hsla(214, 57%, 24%, 0.1);
  }
  .finance-heading {
    font-size: 1.6rem;
  }

  .finance-filter {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
  .finance-amt {
    width: 100%;
    margin-top: 1rem;
  }
  .finance-heading {
    font-size: 1.8rem;
  }
  .profile-details {
    margin-left: 0;
    padding: 1rem;
  }
  .finance-heading {
    font-size: 1.4rem;
  }
  .job-alert-card-body-text {
    font-size: 1.6rem;
    line-height: 1.9rem;
  }
  .job-alerts-footer > div div {
    font-size: 1.4rem;
  }
  .job-alerts-translation {
    padding: 0.8rem 1.4rem;
    font-size: 1.4rem;
  }
  .job-alerts-lang {
    padding: 0.8rem 1.4rem;
  }
  .upload-start {
    padding: 5rem;
  }
  .job-alerts-interpretation {
    padding: 0.8rem 1.6rem;
  }
  .job-alert-service-time {
    flex-direction: column;
    align-items: flex-start;
  }
  .job-alert-service-time div {
    display: none;
  }
  .fl__details,
  .job__earnings {
    flex-direction: column;
    min-width: 100%;
  }
  .job__amt {
    width: 100%;
  }
  .client-rating-review .client-request {
    text-align: left;
  }
  .notif-flex {
    flex-direction: column;
    align-items: flex-start;
  }
  .dash-heading {
    font-size: 2rem;
  }
  .arrow-back {
    display: none;
  }

  .fw-600 {
    font-weight: 600;
  }
  .profilename {
    font-size: 2rem;
  }
  .profile-headline {
    font-size: 1.6rem;
    line-height: 2rem;
  }
  .location,
  .dateofentry,
  .completedproject {
    font-size: 1.4rem;
  }
  br {
    display: none;
  }
  .profile-pic {
    max-width: 26rem;
  }
  .deets-tab :is(button) {
    font-size: 1.8rem;
  }
}

@media (max-width: 449px) {
  .job-alert-card-body-title,
  .job-alerts-sub-heading {
    font-size: 1.6rem;
  }
  .upload-start p {
    line-height: 2rem;
  }
  .details-tab {
    overflow-x: scroll;
  }
  .job-alert-service-time p {
    font-size: 1.4rem;
  }
  .client-notif {
    padding: 1.6rem 2rem 1.6rem 0.8rem;
  }

  .freelancers-bidding-name {
    font-size: 1.8rem;
    margin-bottom: 0;
  }
  .freelancer-bidding-skill {
    font-size: 1.4rem;
  }
  .newrequestBtn {
    gap: 0.5rem;
    font-size: 1.4rem;
    padding: 1rem 0.8rem;
  }
  .decline-btn,
  .job-accept {
    font-size: 1.4rem;
    padding: 0.5rem 1.8rem;
  }
  .job-alerts-client-name {
    font-size: 1.6rem;
  }
  .job-alerts-client-location,
  .job-alerts-client-location {
    font-size: 1.4rem;
  }
  .finished-jobs-summary {
    font-size: 1.2rem;
    line-height: 2.2rem;
  }
  .clientfinished-label {
    font-size: 1.6rem;
  }
  .finished-status {
    padding: 0.8rem;
    font-size: 1.4rem;
  }
  .finishedreview > img {
    height: 3.2rem;
  }
  .random__flex {
    gap: 1.6rem;
  }
  .uploadbtn {
    padding: 0.8rem 2.4rem;
  }
  .duedate {
    margin: 0 !important;
  }
  .job-attc {
    padding: 1rem;
  }
  .logoutBtn,
  .uploadbtn,
  .duedate {
    font-size: 1.4rem;
  }
  .finished-job-title {
    font-size: 1.6rem;
    margin-bottom: 0.4rem;
  }
  .clientreview-heading {
    font-size: 1.2rem;
  }
  .notification-from,
  .notification-time,
  .job-details-content-title {
    font-size: 1.4rem;
  }

  .clientrequests-heading > div span:last-child {
    margin-left: 0.8rem;
  }
  .job-alerts-footer > div div {
    font-size: 1.2rem;
  }
  .editBtn:link,
  .editBtn:visited {
    font-weight: 600;
    margin-right: 2rem;
    font-size: 1.4rem;
  }
  .clientrequesteditBtn {
    padding: 0.8rem 2rem;
  }
  .bidding-freelancer {
    margin: 0;
  }
  .notif-flex {
    padding: 1.6rem;
  }
  .notification-title {
    font-size: 1.6rem;
  }
  h1 {
    font-size: 1.8rem;
  }

  .job-alerts-translation,
  .job-alerts-lang,
  .job-alerts-voiceover,
  .job-alerts-interpretation,
  .job-alerts-transcribing {
    font-size: 1.4rem;
    padding: 0.8rem 1.2rem;
  }
  .inprogress-select {
    padding: 0.5rem 1.2rem;
  }
  .inprogress-dropdown > input {
    padding: 0.5rem;
    max-width: 14.7rem;
  }

  .text-success {
    font-size: 1.4rem;
  }
  .job-alert-card-body-text {
    font-size: 1.2rem;
  }
  .financial-history {
    margin-right: 0;
  }
  .job-id {
    font-size: 1.6rem;
  }
  .job-list-details :is(button),
  .tablinks {
    font-size: 1.6rem;
  }

  .job-attc div p:nth-child(1) {
    font-size: 1.4rem;
  }

  .experience,
  .charge {
    font-size: 1.6rem;
  }
  .grey-dot {
    display: none;
  }
  .finished-jobs-attach {
    padding: 1.5rem;
  }
  .job-details-II {
    padding: 2rem 1.8rem;
  }
  .job-details {
    padding: 2rem 1.2rem;
  }
  .job-alerts-heading-btn {
    font-size: 1.4rem;
  }
  .fl__details {
    padding: 2rem 1.6rem;
  }
  .fl__ratings div span {
    font-size: 1.6rem;
  }
  .fl__ratings {
    gap: 0.5rem;
    flex-wrap: wrap;
  }
  .fl__links {
    font-size: 1.5rem;
    gap: 1rem;
    flex-wrap: wrap;
  }

  .fl__jobs--header {
    flex-direction: column;
    align-items: start;
    gap: 1.5rem;
  }
  .fl__jobs--header h1 {
    font-size: 1.8rem;
  }

  .mb {
    margin-top: 2rem;
  }
  .job-alerts-header {
    gap: 3rem;
  }

  .alerts-job-footer {
    flex-direction: column;
    gap: 0.3rem;
    align-items: flex-start;
  }

  .finance-hist-label,
  .clientspent-total {
    font-size: 1.6rem;
  }
  .clientFinance .clienttotal,
  .abt {
    font-size: 1.4rem;
  }
  .main__headerbox {
    padding-left: 2rem;
  }
  .main__contentbox {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .details-cl-box {
    margin-right: 2rem;
  }
  .upload-start {
    padding: 3rem;
  }
  .job-alerts {
    padding: 2rem;
  }
  #descriptionContent,
  .job-details ul:nth-child(4) li {
    font-size: 1.2rem;
  }
  #descriptionContent p {
    line-height: 2rem;
  }
  .transparentBtn {
    font-weight: 400;
    font-size: 1.4rem;
    padding: 0.6rem 1.3rem;
  }

  .flexS {
    /* flex-direction: column; */
    /* gap: 1rem; */
    /* align-items: flex-start; */
  }
  .job-attc {
    flex-direction: column;
    gap: 1rem;
  }
  .activejobs-heading span,
  .dash-heading {
    font-size: 1.8rem;
  }
  .bidheader {
    gap: 0.8rem;
  }
  .inprogress-fbody,
  .inprogress-fhead {
    padding: 1.2rem;
  }
  .inprogress-fhead h1:nth-child(2),
  .inprogress-fbody h1:nth-child(2) {
    min-width: 8.8rem;
  }
  .inprogress-fhead h1:nth-child(3),
  .inprogress-fbody h1:nth-child(3) {
    min-width: 4rem;
  }
  .inprogress-fhead h1,
  .inprogress-fbody h1 {
    font-size: 1.4rem;
  }
  .totalamountforjob {
    font-size: 1.8rem;
  }
  .viewjobdetails {
    font-size: 1.4rem;
  }
  .inprogress-fhead h1:first-child,
  .inprogress-fbody h1:first-child {
    min-width: 8.8rem;
  }
  .freelance-history {
    flex-direction: column;
  }
  .dashboard-earning-stats div:not(:last-child) {
    border-right: 0;
    border-bottom: 0.1rem solid rgba(26, 56, 96, 0.1);
  }
  .clientmorejobs,
  .client-review-statement,
  .bidsforjob {
    font-size: 1.4rem;
  }
  .client-profile-name {
    font-size: 1.6rem;
  }
  .client-ratingstar img {
    max-width: 12rem;
  }
  .service {
    margin-right: 1rem;
  }
  .upadatePassword {
    padding: 2rem;
  }
  .update-input label {
    font-size: 1.6rem;
  }
  .inprogress-dropdown > input {
    font-size: 1.4rem;
  }
  .flexS {
    flex-wrap: wrap;
  }
  .inprogress-dropdown::before {
    top: 1.45rem;
  }
  .inprogress-dropdown::after {
    top: 0.7rem;
  }
  .inprogress-select,
  .inprogress-dropdown {
    margin-right: 1rem;
  }
  .freelancer-bidding {
    margin-top: 1.5rem;
  }
}

@media (max-width: 340px) {
  .inprogress-fhead h1:nth-child(2),
  .inprogress-fbody h1:nth-child(2) {
    min-width: 8rem;
  }
  .service {
    font-size: 1.6rem;
  }
  .my-1 {
    overflow-x: scroll;
  }
  .update-input label {
    font-size: 1.4rem;
  }
  .experience,
  .charge,
  .notification-title {
    font-size: 1.4rem;
  }
  .contentbox {
    padding: 1.5rem;
  }
  .finance-heading,
  .client-profile-name,
  .more-reviews,
  .service {
    font-size: 1.4rem;
  }
  .client-notif {
    padding: 1.6rem 1.6rem 1.6rem 0.8rem;
  }

  .job-attc div p:nth-child(2),
  .job-attc div p:nth-child(3),
  .client-review-statement,
  .client-reviewdate {
    font-size: 1.2rem;
    line-height: 2.1rem;
  }
}
