<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<style>
#outer-div {
	width: 100%;
	text-align: center;
}

#inner-div {
	display: inline-block;
	margin: 0 auto;
	padding: 3px;
}
</style>
<div th:replace="fragments/main_css :: css-header"></div>

<body>
	<div class="admin-overview">

		<!-- ADMIN SIDE NAVIGATION -->
		<div th:replace="fragments/main_sidenav_admin :: sidenav_admin"></div>
		<!-- ///// -->

		<!-- ADMIN MAIN SECTION -->
		<div class="admin-main">
			<div class="admin-overlay"></div>
			<div class="admin-header">
				<div class="admin-cta">
					<button class="menu-btn">
						<span class="material-symbols-outlined"> menu </span>
					</button>
					<h1 class="admin-heading">Jobs</h1>
				</div>

				<div th:replace="fragments/admin_user :: admin-user-header"></div>

			</div>

			<div class="admin-contentbox">
				<div class="jobs-details-box">
					<div class="arr-back">
						<a th:href="@{/admin-job}"> <img
							src="../../../../assets/images/admin-imgs/lessthan.svg"
							alt="less than arrow" />
						</a>
					</div>
					<div class="jobs-details-header">

						<p th:text="${message}" th:if="${message ne null}"
							class="alert alert-primary mt-3"></p>

						<div>

							<h1>
								Job ID: <span th:text="${workOrderInfoDetails.workId}">089456765</span>
							</h1>

							<span>Status: <span
								th:text="${workOrderInfoDetails.workOrderStatus.status}">Pending</span></span>
						</div>
						<div class="jobs-details-dates">
							<p>
								Posted on: <span
									th:text="${workOrderInfoDetails.postingDate != null} ? ${workOrderInfoDetails.postingDate} : '-'">20
									Oct 2022</span>
							</p>
							<p>
								Duration: <span
									th:text="${workOrderInfoDetails.duration.durationId != null} ? ${workOrderInfoDetails.duration.durationId} : '-'">20
									Oct 2022</span> Month(s)
							</p>
							<p>
								Service Type: <span
									th:text="${workOrderInfoDetails.serviceType.typeId != null} ? ${workOrderInfoDetails.serviceType.typeName} : '-'">20
									Oct 2022</span>
							</p>
						</div>
					</div>

					<div class="jobs-details-overview">
						<p class="active-freelancer" id="details">Overview</p>
						<p id="jobs">Activity</p>
						<p id="transactions">Submissions and Reviews</p>
					</div>

					<!-- OVERVIEW  JOBS -->
					<div class="admin-jobs-overview">
						<!-- OVERVIEW -->
						<div class="clientdetailsbox">
							<div class="jobs-details-content-I">
								<div class="details-box">
									<p class="details-title">Project Title</p>
									<span class="title-main"
										th:text="${workOrderInfoDetails.workTitle}">Interpretation
										of the kite runner book</span>
								</div>

								<div class="details-box">
									<p class="details-title">Service Type</p>
									<span th:text="${workOrderInfoDetails.serviceType.typeName}">Interpretation</span>
								</div>

								<div class="details-box">
									<div class="details-title">Description</div>
									<div class="desc-box">
										<div class="desc"
											th:text="${workOrderInfoDetails.description}">
											Description details</div>
									</div>
								</div>
								<div class="details-box">
									<p class="details-title">Attachment</p>
									<span th:text="${workAttachments.size()}">4 </span> &nbsp; <span>
										Attachment(s)</span>
								</div>
							</div>
							<div class="jobs-details-content-II">
								<div>
									<p class="details-title">Client ID</p>
									<span
										th:text="|${workOrderInfoDetails.user.firstName}  ${workOrderInfoDetails.user.lastName}|">00032356679849</span>
								</div>
								<div>
									<p class="details-title">Budget</p>
									<span>$ <span
										th:text="${workOrderInfoDetails.minAmount}">7</span> - $ <span
										th:text="${workOrderInfoDetails.maxAmount}">10</span> <span
											th:text="${@ClientComponentModel.workRateSelection(workOrderInfoDetails.workRate)}">
											per page</span>
									</span>
								</div>
								<div>
									<p class="details-title">Post Date</p>
									<span th:text="${workOrderInfoDetails.postingDate}">2
										March 2021, 4:16 PM</span>
								</div>
								<div>
									<p class="details-title">Job Duration</p>
									<span> <span
										th:text="${workOrderInfoDetails.duration.durationId}">6</span>
										Month(s)
									</span>
								</div>
							</div>


							<div class="jobs-details-content-II"
								th:if="${workDeliveryDetail != null}">

								<div>
									<p class="details-title">Freelancer ID</p>
									<a
										th:href="@{/freelancer-details/{id}/{user}(id=${workDeliveryDetail.workOrder.workId}, user=${workDeliveryDetail.user.username})}"><span
										class="green"
										th:text="|${workDeliveryDetail.user.firstName} ${workDeliveryDetail.user?.lastName}|">-</span></a>
								</div>

								<div>
									<p class="details-title">Amount</p>
									<span
										th:text="${workDeliveryDetail.amount != null} ? ${workDeliveryDetail.amount} : '-'">-</span>
								</div>
								<div>
									<p class="details-title">Start Date</p>
									<span
										th:text="${workDeliveryDetail.startDate != null} ? ${workDeliveryDetail.startDate} : '-'"></span>
								</div>
								<div>
									<p class="details-title">End Date</p>
									<span
										th:text="${workDeliveryDetail.endDate != null} ? ${workDeliveryDetail.endDate} : '-'">-</span>
								</div>
								<div>
									<p class="details-title">Job Status</p>
									<span
										th:text="${workDeliveryDetail.deliveryStatus.status != null} ? ${workDeliveryDetail.deliveryStatus.status} : '-'">-</span>
								</div>
							</div>


						</div>

						<!-- ACTIVITY -->
						<div class="clientsjobsbox">
							<div class="info-header mt">
								<h2>Transaction summary</h2>
							</div>
							<div class="info">
								<span class="info-title">Project Title </span>
								<p class="fw-600" th:text="${workOrderInfoDetails.workTitle}">Interpretation
									of the kite runner book</p>
							</div>
							<div class="info">
								<span class="info-title">Service Type </span>
								<p th:text="${workOrderInfoDetails.serviceType.typeName}">Interpretation</p>
							</div>
							<div class="info random-m">
								<span class="info-title">Attachment</span>
								<p>
									<span th:text="${workAttachments.size()}">4</span> <span>
										Attachment(s)</span>
								</p>
							</div>

							<div class="info-header">
								<h2>Requests and attachments</h2>
							</div>

							<div class="attachments">
								<div class="attachment-heading">
									Service type: <strong
										th:text="${workOrderInfoDetails.serviceType.typeName}">
										Translation </strong>
								</div>

								<div class="attachment-form">

									<div class="attachemnt-flex">
										<span>Description</span> <input type="text"
											th:value="${workOrderInfoDetails.description}" />
									</div>

									<form th:action="@{/saveJobCount}"
										th:object="${adminPageWordCountDTO}" method="post">

										<input type="hidden" th:value="${workOrderInfoDetails.workId}"
											name="workId" /> <input type="hidden"
											th:value="${workOrderInfoDetails.workOrderStatus.woStatusId}"
											name="workOrderStatus" />

										<div th:each="attachment : ${workAttachments}">

											<input type="hidden" th:value="${attachment.attachId}"
												name="workAttachmentId" />

											<div class="attachemnt-flex">

												<span>
													<p>Attached</p>
													<p>File</p>
												</span> <input type="text" th:value="${attachment.linkMediaFile}" />

												<a
													th:href="@{|/files/download?id=${attachment.linkMediaFile}|}"><button
														type="button" class="btn btn-outline-secondary mx-3">Download</button></a>

											</div>

											<div class="attachemnt-flex">
												<span>Source</span> <input type="text"
													th:value="${@ClientComponentModel.translateIdToLanguage(attachment.source)}" />
											</div>

											<div class="attachemnt-flex">
												<span>Destination</span> <input type="text"
													th:value="${@ClientComponentModel.translateIdToLanguage(attachment.destination)}" />
											</div>

											<!-- <div class="attachemnt-flex">
												<span><p>Word</p>
													<p>count</p> </span> <input type="text"
													th:value="${attachment.wordCount } ?: ''" name="workCount" />
											</div>

											<div class="attachemnt-flex">
												<span>
													<p>Page</p>
													<p>count</p>
												</span> <input type="text" th:value="${attachment.pageCount} ?: ''"
													name="pageCount" />
											</div>

											<div class="attachemnt-flex"
												th:if="${workOrderInfoDetails.serviceType.typeId == 'ST103'} ">
												<span>
													<p>Timer</p>
													<p>count</p>
												</span> <input type="text"
													th:value="${attachment.timerCount} ?: ''" name="timerCount" />
											</div> -->

											<hr class="text-secondary">
										</div>

										<!-- <button type="submit"
											class="btn btn-outline-secondary btn-lg btn-block ">Save
											Count(s)</button> -->

									</form>
								</div>
							</div>


							<div th:if="${workDeliveryDetail != null}">
								<div class="info-header">
									<h2>Freelancer</h2>
								</div>

								<div class="info">
									<span class="info-title">Freelancer ID</span> <span
										th:text="|${workDeliveryDetail.user.firstName}  ${workDeliveryDetail.user.lastName}|">-</span>
								</div>

								<div class="info">
									<span class="info-title">Amount</span>
									<p
										th:text="${workDeliveryDetail.amount != null} ? ${workDeliveryDetail.amount} : '-'"></p>
								</div>
								<div class="info">
									<span class="info-title">Start Date</span>
									<p
										th:text="${workDeliveryDetail.startDate != null} ? ${workDeliveryDetail.startDate} : '-'">2020-10-01</p>
								</div>
								<div class="info">
									<span class="info-title">End Date</span>
									<p
										th:text="${workDeliveryDetail.endDate != null} ? ${workDeliveryDetail.endDate} : '-'">2020-10-01</p>
								</div>
								<div class="info random-m">
									<span class="info-title">Job Status</span>
									<p
										th:text="${workDeliveryDetail.deliveryStatus.status != null} ? ${workDeliveryDetail.deliveryStatus.status} : '-'">Completed</p>
								</div>
							</div>


							<div th:if="${workDeliveryDetail != null}">
								<div class="info-header">
									<h2>Payments</h2>
								</div>
								<div class="info">
									<span class="info-title">Transaction ID</span>
									<p class="green" th:text="${workFreelancerPayment?.transId}">00032356679849</p>
								</div>
								<div class="info">
									<span class="info-title">Currency</span>
									<p th:text="${workFreelancerPayment?.currency}"></p>
								</div>
								<div class="info">
									<span class="info-title">Total Amount</span>
									<p>
										$ <span th:text="${workFreelancerPayment?.amount}"></span>
									</p>
								</div>
								<div class="info">
									<span class="info-title">Status</span>
									<p th:text="${workFreelancerPayment?.paymentStatus?.status}">In
										Escrow</p>
								</div>
								<div class="info">
									<span class="info-title">Payment Gateway</span>
									<p th:text="${workFreelancerPayment?.paymentGateway}"></p>
								</div>
								<div class="info">
									<span class="info-title">Payment Date</span>
									<p th:text="${workFreelancerPayment?.entryDate}"></p>
								</div>
							</div>

						</div>


						<!-- REVIEWS  -->
						<div class="client-transaction-box">
							<div class="info-header mt">
								<h2>Submissions</h2>
							</div>



							<div class="works">
								<form th:action="@{/sendFinishedJob}"
									th:object="${jobStatusDTO}" method="post">
									<p class="service">
										Service type: <span
											th:text="${workOrderInfoDetails.serviceType.typeName}">>
											Translation </span>
									</p>

									<div class="feedback" th:if="${fDeliveryAttachments == null}">
										<h1>No Submission yet</h1>
										<p>When the job has been completed the work would be
											appear here</p>
									</div>

									<input type="hidden" th:value="${workOrderInfoDetails.workId}"
										name="workId" />

									<div class="work" th:if="${fDeliveryAttachments != null}"
										th:each="deliveryAttachment : ${fDeliveryAttachments}">
										<div>
											<div>
												<h1 th:text="${deliveryAttachment.linkMediaFile}">Histology
													of Large Intestine, Appendix and Rectum - Translated Copy</h1>
												<p>
													File should has been translated from <span
														th:text="${@ClientComponentModel.translateIdToLanguage(deliveryAttachment.deliveryAttachment.source)}">Hausa</span>
													to <span
														th:text="${@ClientComponentModel.translateIdToLanguage(deliveryAttachment.deliveryAttachment.destination)}">English</span>
												</p>
												<span>Completed on <span
													th:text="${deliveryAttachment.workOrderDelivery.completedDate}">hours
														ago</span></span>
											</div>
											<a
												th:href="@{|/files/download?id=${deliveryAttachment.linkMediaFile}|}"><button
													type="button" class="download-btn">Download</button></a>
										</div>
									</div>

									<input type="hidden" name="jobStatus" value="12" /> <input
										type="hidden" name="message" value="Job Forwarded to client" />
									<input type="hidden" name="userId" th:value="${session.userId}" />
									<input type="hidden" name="deliveryId"
										th:value="${workDeliveryDetail == null} ? '' : ${workDeliveryDetail.deliveryId}" />

									<div class="works-cta">

										<!-- th:disabled="${workOrderInfoDetails.workOrderStatus.statusId != 2}" -->
										<a
											th:href="@{/review-job/{workId}/{deliveryId}(workId=${workOrderInfoDetails.workId}, deliveryId=${workDeliveryDetail?.deliveryId})}"><button
												type="button" class="review-btn">Review</button></a>

										<!-- th:disabled="${workOrderInfoDetails.workOrderStatus.statusId != 2}" -->
										<button type="submit" class="fward-btn">Send
											Finished Job</button>



									</div>

								</form>

								<!-- Freelancer Request for Job and Search Section -->
								<!-- <div>
									<div class="info-header mt">
										<h2>Forward to Freelancer</h2>
									</div>

									<div class="row ml-2 mt-2">
										<div class="col-md-3">
											<form class="form-inline"
												th:action="@{/search-for-freelancer}"
												th:object="${searchFreelancerDTO}" method="post">

												<input type="hidden" name="workId"
													id="workId"
													th:value="${workOrderInfoDetails.workId}" />

												<div class="form-group">
													<label for="username mx-0">Search For Freelancer</label> <input
														type="text" name="username" id="username"
														placeholder="Search..." />
												</div>

												<button type="submit" class="btn btn-dark btn-lg mt-2">Search</button>
											</form>
										</div>
									</div>


									<div class="util-cta-table my-5">
										<table id="cta-table">
											<thead>
												<tr>
													<th>S/N</th>
													<th>Email</th>
													<th>Username</th>
													<th>Service Type</th>
													<th>Experience(Year(s))</th>
													<th>Send Request</th>
													<th>Portfolio</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="temp, iStat : ${serviceRenderedList}">

													<td th:text="${iStat.index+1}">00032356679849</td>
													<td th:text="${temp.user.username}"></td>
													<td class=""
														th:text="|${temp.user.firstName} ${temp.user.lastName}|">00032356679849</td>
													<td th:text="${temp.serviceType.typeName}">Translation</td>
													<td th:text="${temp.experienceInYears}">In progress</td>
													<td><a onclick="sendProposal(this)"
														th:attr="data-fuserId=${temp.user.username}, data-workId=${workOrderInfoDetails.workId}, data-status='12', data-message='Job Forwarded to client', data-user=${session.userId}, data-deliveryId=${workDeliveryDetail == null} ? '' : ${workDeliveryDetail.deliveryId}"><button
																type="button" class="btn btn-outline-secondary">Send</button></a>
													</td>
													<td class="id"><span class="portfolio-link"> <a
															th:text="${temp.otherInfo}" target="_blank"
															style="color: inherit">Portfolio</a> <img
															src="../../assets/icons/arrow_up.svg" alt=" arrow up" />
													</span></td>

												</tr>
											</tbody>
										</table>
									</div>
								</div> -->
							</div>


							<!-- Reviews section -->
							<!-- <div>
								<div class="info-header">
									<h2>Client</h2>
								</div>
								<div class="feedback">
									<h1>No feedback received yet</h1>
									<p>When the client gives feedback, they would appear here.</p>
								</div>
							</div> -->

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<script th:inline="javascript">
		function sendProposal(param) {
			var freelancerUserId = param.getAttribute("data-fuserId");
			var workId = param.getAttribute("data-workId");
			var status = param.getAttribute("data-status");
			var message = param.getAttribute("data-message");
			var user = param.getAttribute("data-user");
			var deliveryId = param.getAttribute("data-deliveryId");

			/* alert(freelancerUserId + " " + workId + " " + status + " "
					+ message + " " + user + " " + deliveryId); */

			var action = "/sendJobProposal";

			$.ajax({
				url : action,
				type : "GET",
				data : {
					freelancerUserId : freelancerUserId,
					workId : workId,
					status : status,
					message : message,
					user : user,
					deliveryId : deliveryId
				},
				success : function(data) {
					alert(data);
				},
				error : function(xhr, ajaxOptions, thrownError) {
					alert(xhr.status);
				}
			});
		}
	</script>
</body>
</html>
