<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/main_css :: css-header"></div>

<body>
	<div class="admin-overview">


		<!-- ADMIN SIDE NAVIGATION -->
		<div th:replace="fragments/main_sidenav_admin :: sidenav_admin"></div>
		<!-- ///// -->

		<!-- ADMIN MAIN SECTION -->
		<div class="admin-main">
			<div class="admin-overlay"></div>
			<div class="admin-header">
				<div class="admin-cta">
					<button class="menu-btn">
						<span class="material-symbols-outlined"> menu </span>
					</button>
					<h1 class="admin-heading">Users</h1>
				</div>

				<div th:replace="fragments/admin_user :: admin-user-header"></div>


			</div>
			<div class="admin-contentbox">
			
			<p th:text="${message}" th:if="${message ne null}"
							class="alert alert-primary mt-3"></p>

				<form th:action="@{admin-user-search}"
					th:object="${adminSearchDTO}" method="post">

					<div class="user-header">

						<div class="util-header pe-5">
							<div class="options">
								<select id="select-client" class="select-filter"
									name="searchOption">
									<option value="ClientID">Email</option>
									<option value="FirstName">First Name</option>
									<option value="LastName">Last Name</option>
									<option value="Phone">Phone</option>
								</select> <span> <img
									src="../../../../assets/images/admin-imgs/drpdown.svg"
									alt="dropdown arrow" class="mt-3 mx-3" />
								</span>

							</div>
							<div class="util-search">
								<img src="../../../../assets/images/admin-imgs/bigsearch.svg"
									alt="search icon" /> <input type="text" placeholder="Search"
									name="searchValue" />
							</div>
							<span>
								<button type="submit"
									class="btn btn-outline-secondary btn-lg btn-block mt-2">Search</button>
							</span>
						</div>

						<a th:href="@{/add-user}" class="newUserBtn">New <img
							src="../../../../assets/images/admin-imgs/darkPlus.svg"
							alt="add icon" />
						</a>

					</div>
				</form>


				<div class="user-statistics">

					<div class="table-statistics">
						<table id="user-stats-table">
							<thead>
								<tr>
									<th>S/N</th>
									<th>User ID</th>
									<th style="width: 250px;">Username</th>
									<th>First Name</th>
									<th>Last Name</th>
									<th>Middle Name</th>
									<th>Gender</th>
									<th>Country</th>
									<th>Nationality</th>
									<th>Address</th>
									<th>Phone</th>
									<th style="width: 250px;">Email</th>
									<th>Summary</th>
									<!-- <th nowrap>Profile Picture</th> -->
									<th>User status</th>
									<th>Postal Code</th>
									<th>Modified date</th>
									<th>Created date</th>
								</tr>
							</thead>
							<tbody id="paginated-list" data-current-page="1"
								aria-live="polite">

								<tr th:each="temp, iStat : ${users}">
									<td th:text="${iStat.index+1}">1</td>
									<td th:text="${temp.userId}">Interpretation</td>

									<td><a
										th:href="@{/get-user/{user}(user=${temp.username})}"
										th:text="${temp.username}" class="table-link"> temi.admin
									</a></td>
									<td th:text="${temp.firstName}">New</td>
									<td th:text="${temp.lastName}">-</td>
									<td th:text="${temp.middleName}">00032356679849</td>
									<td th:text="${temp.gender}">-</td>
									<td th:text="${temp.country}">-</td>
									<td th:text="${temp.nationality}">-</td>
									<td th:text="${temp.address}">-</td>
									<td th:text="${temp.phone}">-</td>
									<td th:text="${temp.emailAddress}">-</td>
									<td th:text="${temp.summary}">-</td>
									<td th:text="${temp.userStatus.userStatus}">-</td>
									<td th:text="${temp.postalCode}">-</td>
									<td th:text="${temp.modifiedDate}">-</td>
									<td th:text="${temp.createdDate}">-</td>
								</tr>

							</tbody>
						</table>
					</div>
					<div class="accordion-select">
						<button class="accordion-cirlce" id="prev-button"
							aria-label="Previous page" title="Previous page">
							<img src="../../../../assets/images/admin-imgs/lessthan.svg"
								alt="less than" />
						</button>
						<div class="numbers" id="pagination-numbers"></div>
						<button class="accordion-cirlce" id="next-button"
							aria-label="Next page" title="Next page">
							<img src="../../../../assets/images/admin-imgs/greaterthan.svg"
								alt="greater than" />
						</button>
					</div>

				</div>
			</div>
		</div>
	</div>
</body>
</html>
