<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/main_css :: css-header"></div>


<body>
	<div class="admin-overview">
	
	
		<!-- ADMIN SIDE NAVIGATION -->
		<div th:replace="fragments/main_sidenav_admin :: sidenav_admin"></div>
		<!-- ///// -->

		<!-- ADMIN MAIN SECTION -->
		<div class="admin-main">
			<div class="admin-overlay"></div>
			<div class="admin-header">
				<div class="admin-cta">
					<button class="menu-btn">
						<span class="material-symbols-outlined"> menu </span>
					</button>
					<h1 class="admin-heading">User</h1>
				</div>
				
				<div th:replace="fragments/admin_user :: admin-user-header"></div>
				
			</div>
			<div class="admin-contentbox">
				<div class="client-box">
					<a th:href="@{/admin-user}" class="arr-back"> <img
						src="../../../../assets/images/admin-imgs/lessthan.svg"
						alt="less than arrow" />
					</a>
					
					<div>
						<!-- display details of controller -->
						<p th:text="${message}" th:if="${message ne null}"
							class="alert alert-primary m-3"></p>
					</div>
					
					<div class="adminUtil-user-header random-m">
						<img src="../../../../assets/images/admin-imgs/femi.svg"
							alt="A picture of femi" />

						<div class="adminUtil-user-details">
							<h1>
								User ID: <span th:text="${opUser.userId}"></span>
							</h1>
							<span th:text="|${opUser.firstName} ${opUser.lastName}|">Remi
							Martin</span>
							<p>
								Account Status: <span
									th:text="${opUser.userStatus.userStatus} ?: '-'"></span>
						</div>

						<div class="adminUtil-user-cta">
							<a th:href="@{/block-user/{user}(user=${opUser.username})}"><button
									type="button">
									<span> Block</span> <img
										src="../../../../assets/images/admin-imgs/cancel.svg"
										alt="
               						 cancel" />
								</button></a> 
								
								<a th:href="@{/activate-user/{user}(user=${opUser.username})}"><button
									type="button">
									<span> Activate</span> <img
										src="../../../../assets/images/admin-imgs/halt.svg"
										alt="Activate" />
								</button></a>
						</div>
					</div>

					<!-- DETAILS CLIENTS -->
					<div class="clientdetailsbox mt-4">
						<div class="adminUtil-info">
							<div class="info-header">
								<h2>Basic Information</h2>
							</div>

							<div class="info">
								<span class="info-title">ID</span>
								<p th:text="${opUser.userId} ?: '-'">006456725</p>
							</div>
							<div class="info">
								<span class="info-title">Username</span>
								<p th:text="${opUser.username} ?: '-'">Remi</p>
							</div>
							<div class="info">
								<span class="info-title">First name</span>
								<p th:text="${opUser.firstName} ?: '-'">Remi</p>
							</div>
							<div class="info">
								<span class="info-title">Last name</span>
								<p th:text="${opUser.firstName} ?: '-'">Martin</p>
							</div>
							<div class="info">
								<span class="info-title">Middle name</span>
								<p
									th:text="${opUser.middleName.isEmpty()} ? '-' : ${opUser.middleName}">Martin</p>
							</div>
							<div class="info">
								<span class="info-title">Nationality</span>
								<p th:text="${opUser.nationality} ?: '-'">Nigeria</p>
							</div>
							<div class="info">
								<span class="info-title">Sex</span>
								<p th:text="${opUser.gender} ?: '-'">Male</p>
							</div>
							<div class="info">
								<span class="info-title">Phone number</span>
								<p class="green" th:text="${opUser.phone} ?: '-'">+233 903
									918 7653</p>
							</div>
							<div class="info">
								<span class="info-title">Email</span>
								<p class="green" th:text="${opUser.emailAddress} ?: '-'">remimartin@gmail.com</p>
							</div>
							<div class="info">
								<span class="info-title">Postal code</span>
								<p th:text="${opUser.postalCode} ?: '-'">004875</p>
							</div>

							<div class="info">
								<span class="info-title">User Status</span>
								<p th:text="${opUser.userStatus.userStatus} ?: '-'">Pending</p>
							</div>

							<div class="info">
								<span class="info-title">Country of <br /> residence
								</span>
								<p th:text="${opUser.country} ?: '-'">Nigeria</p>
							</div>
							<div class="info">
								<span class="info-title">Created Date</span>
								<p th:text="${opUser.createdDate} ?: '-'">created date</p>
							</div>
						</div>

						<!-- <div class="info-header">
							<h2>Basic Information</h2>
						</div>
						<div class="activity">
							<span class="S-date">Today </span>
							<div class="info">
								<span class="info-title">8:12 AM</span>
								<p>
									Blocked <span class="green"> F-ID-89456765</span>
								</p>
							</div>
							<div class="info">
								<span class="info-title">8:12 AM</span>
								<p>
									Blocked <span class="green"> F-ID-89456765</span>
								</p>
							</div>
						</div>
						<div class="activity">
							<span class="S-date">October 13 2022,</span>
							<div class="info">
								<span class="info-title">4:00 PM</span>
								<p>Logged out of account</p>
							</div>
							<div class="info">
								<span class="info-title">3:42 PM</span>
								<p>
									Blocked Forwarded <span class="green"> JD-94356765</span> to <span
										class="green"> F-ID-89456765 </span> , <span class="green">
										F-ID-89786769 </span> , <span class="green"> F-ID-89456765 </span> ,
									<span class="green"> F-ID-89786769 </span>
								</p>
							</div>
						</div>
						
						 -->
						
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
